/*
 import the necessary Bootstrap files
@import "bootstrap";
*/


#nav_bar a {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
        padding-left: 20px;
    padding-bottom: 10px;
}
#nav_bar a:hover, #nav_bar a:focus, #nav_bar a.active {
    color: white;
    background-color: #518ADD;
    box-shadow: 0 8px 16px rgba(0,0,0,.15);
}

.navbar {
    padding: 0px;
}

.nav-display {
    max-width: 10%;
    min-width: 130px;
    height: 100%;
    overflow-y: auto;
}

.navbar-brand {
    margin-top: 30px;
    width: 100%;
    margin-right: 0px;
}

.block-text {
    display: block;
}

/*container*/
.main-container {
    width: 100%;
    margin: 50px auto;
}

@media screen and (min-width: 768px) {
    .main-container {
        width: 85%;
        margin-left: 15%
    }
}

@media screen and (min-width: 992px) {
    .main-container {
        width: 88%;
        margin-left: 12%
    }
}

@media screen and (min-width: 1200px) {
    .main-container {
        width: 88%;
        margin-left: 11%
    }
}

@media screen and (min-width: 1500px) {
    .main-container {
        width: 83%;
        margin-left: 13%;
    }
}
@media screen and (min-width: 1700px) {
    .main-container {
        width: 70%;
        margin-left: 20%;
    }
}

.dropdown-menu {
  margin: 0;
}

.dropdown-menu.collapsing {
    display:block;
}

.dropdown-item:hover {
    background-color: #518ADD;
    color: #fff;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
#doc_html, #email_html {
    background-color: 	#EDEDED !important;
    padding: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,.15);
    min-height: 100px;
}

/*button styles*/
.btn-primary {
    background-color: #518ADD;
    border-color: #518ADD;
/*    background-color: #41B9B9;
    border-color: #41B9B9;*/
}
.btn-secondary, .btn-secondary:focus, .btn-secondary.focus {
    color: #514B64;
    background-color: transparent;
}
.btn-success {
    background-color: #3dbd5a;
    border-color: #3dbd5a;
}
.btn-warning {
    color: #fff;
    background-color: #e5ad06;
    border-color: #e5ad06;
}
.btn-danger {
    background-color: #e85765;
    border-color: #e85765;
}
.btn-warning:hover {
    color: #fff;
    background-color: #c19102;
    border-color: #c19102;
}
.btn {
    box-shadow: 0 4px 8px rgba(0,0,0,.25);
}

body {
    background: #CDDBD9;
    background: -webkit-linear-gradient(to right, #0083B0, #CDDBD9);
    background: linear-gradient(to right, #a2bbc3, #CDDBD9);
    color: #514B64;
    min-height: 100vh
}
select:-internal-list-box option:checked {
    background-color: rgb(206, 227, 227) !important;
    color: rgb(16, 16, 16) !important;
}

/* font sizes */

.font-size-25px {
    font-size: 12.75pt;
}

.font-size-large {
    font-size: 12.5pt;
}

.font-size-medium {
    font-size: 10.5pt;
}

.font-size-small {
    font-size: 9.5pt;
}

.font-size-17px {
    font-size: 9pt;
}

/*table css*/

table {
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  font-size: 11pt;
}

thead {
    background-color: #86A9DC;
    color: #ffffff;
    font-weight: bold;
}

tbody tr:nth-child(odd) td   { background-color:#d0dde1; }

tbody tr:nth-child(even) td   { background-color:#e3eaed; }

.table {
    color: #3f4c59;
}

.table-fixed, .table-condensed{
    box-shadow: 0 8px 16px rgba(0,0,0,.15)
}

.table thead th, .table td, .table th {
    border-bottom: 0px solid #86A9DC;
    border-top: 0px solid #86A9DC;
}



/* box styles */
.boxed-center {
    box-shadow: 0 8px 16px rgba(0,0,0,.15);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}
.boxed {
    box-shadow: 0 8px 16px rgba(0,0,0,.15);
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0px;
    background: #c7d6db;
}
.boxed-green {
    border-left: 10px solid #3dbd5a;
}
.boxed-blue {
    border-left: 10px solid #518ADD;
}
.boxed-yellow {
    border-left: 10px solid #e5ad06;
}
.boxed-red {
    border-left: 10px solid #e85765;
}
/* blank horizontal line */
.hr-invisible {
    border-top:0px;
}

span.span-input {
    position: absolute;
    min-width: 100px;
}

span.emboldened {
  font-weight: bold;
}
span.italic {
  font-style: italic;
}
span.highlighted {
  background-color: yellow;
}

/* End of docs.css */
