.pr_table {
    table-layout: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: solid #86A9DC 1px;
}
.pr_table th {
    text-align: center;
    background-color: #6666ff;
    color: white
}
.pr_table tr td {
    padding: 5px;
    background-color: transparent;

}
.total {
    font-weight: bold;
    border: solid #86A9DC 1px;
    background-color: #fafafa;
}
.pr_table .amount-class {
    text-align: right;
    width: 20%;
}
.pr_table_heading {
    background-color: #86A9DC;
    color: #ffffff;
    font-weight: bold;
}
