<!-- /templates/agent.html  -->
{% extends 'base.html' %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row">
        <div class="col-md-8">
            <label for="address">Agent address:</label>
            <input type="text" class="form-control" name="address" value="{{ agent.agdetails }}">
        </div>
        <div class="col-md-4">
            <label for="email">Agent email:</label>
            <input type="text" class="form-control" name="email" value="{{ agent.agemail }}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <label for="notes">Agent notes:</label>
            <input type="text" class="form-control" name="notes" value="{{ agent.agnotes }}">
        </div>
    </div>
    <div class="form-group row">
        {% if action == "view" %}
        <div class="col-md-3">
            <a href="/agent/{{ agent.id }}?action=edit" class="btn btn-block btn-primary" role="button">Edit this agent</a>
        </div>
        <div class="col-md-3">
            <a href="/agent/{{ agent.id }}?action=clone" class="btn btn-block btn-danger" role="button">Clone this agent</a>
        </div>
        <div class="col-md-3">
            <a href="/agent/0?action=new" class="btn btn-block btn-primary" role="button">Add new agent</a>
        </div>
        {% elif action == "edit" %}
        <div class="col-md-3">
            <a href="/delete_item/{{ agent.id }}?item=agent"
               onclick="return confirm('Are you sure you want to delete this agent?');"
               class="btn btn-block btn-warning" role="button">Delete this agent</a>
        </div>
        {% endif %}
        <div class="col-md-3">
            <button type="submit" class="btn btn-block btn-success">Save changes</button>
        </div>
    </div>
</form>
{% endblock %}
