<!-- /templates/agent.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<div class="row flex-row-reverse" style="margin-bottom: 1rem;">
    {% if rent_id and rent_id != 0 %}
    <div class="col-md-3">
        <a href="{{ url_for('rent_bp.rent', rent_id=rent_id) }}"
           class="btn btn-block btn-tog button-icon arrow-left" role="button">back to rent</a>
    </div>
    {% elif headrent_id %}
    <div class="col-md-3">
        <a href="{{ url_for('headrent_bp.headrent', headrent_id=headrent_id) }}"
           class="btn btn-block btn-tog button-icon arrow-left" role="button">back to headrent</a>
    </div>
    {% else %}
    <div class="col-md-3">
        <a href="{{ url_for('agent_bp.agents') }}"
           class="btn btn-block btn-tog button-icon arrow-left" role="button">back to agents</a>
    </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-md-9">
        {% if rent_id != 0 and action == 'from_rent' and agent.id == 0 %}
        <div class="boxed boxed-blue" style="margin-top: 0px;">add a new agent or link an existing agent - click on right as appropriate</div>
        {% else %}
        <div class="table-fixed" style="margin-bottom: 1rem;">
            <table class="table table-head table-narrow table-light-purple">
                <thead>
                <tr>
                    <td class="vertical-align" style="width: 94.5%">agent information</td>
                    <td class="vertical-align align-right" style="width: 5.50%">
                        <a href="#" id="edit_agent" data-toggle="modal"
                           data-target="#agent_modal" class="btn btn-teal-light btn-round button-icon round circles"
                           title="edit agent" role="button">
                        </a>
                    </td>
                </tr>
                </thead>
            </table>
            <table class="table table-rent table-body">
                <tbody>
                <tr>
                    <td class="td-title copyable-text vertical-align" style="width: 15.00%">details</td>
                    <td class="copyable-text vertical-align" style="width: 85%">{{ agent.detail }}</td>
                </tr>
                </tbody>
            </table>
            <table class="table table-rent table-body-alt table-base">
                <tbody>
                <tr>
                    <td class="td-title copyable-text vertical-align" style="width: 15.00%">email</td>
                    <td class="copyable-text vertical-align" style="width: 85%">{{ agent.email }}</td>

                </tr>
                <tr>
                    <td class="td-title copyable-text vertical-align" style="width: 15.00%">notes</td>
                    <td class="copyable-text vertical-align" style="width: 85%">{{ agent.note }}</td>

                </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if action != ('from_rent' or 'new_agent') and agent.id != 0 %}
            {% if rents %}
            <div class="table-fixed" style="margin-bottom: 1rem;">
                <table class="table table-head table-narrow">
                    <thead>
                    <tr>
                        <td class="vertical-align" style="width: 15%">rent id</td>
                        <td class="vertical-align" style="width: 15.00%">rentcode</td>
                        <td class="vertical-align" style="width: 70.00%">tenant</td>
                    </tr>
                    </thead>
                </table>
                <table class="table table-rent table-body table-body-alt">
                    <tbody>
                    {% for rent in rents %}
                    {% if loop.index < 6 %}
                    <tr>
                        <td style="width: 15.00%">{{ rent.id }}</td>
                        <td style="width: 15.00%">{{ rent.rentcode }}</td>
                        <td style="width: 65.00%"> {{ rent.tenantname }}</td>
                        <td style="width: 5.00%" class="vertical-align"><a href="{{ url_for('rent_bp.rent',
                        rent_id=rent.id) }}" class="btn btn-teal-light btn-round button-icon round circles"
                        data-toggle="tooltip" title="view rent" role="button"></a></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <div class="collapse" id="accordion_1" aria-expanded="false">
                    <table class="table table-rent table-body">
                        <tbody>
                        {% for rent in rents %}
                        {% if loop.index >= 6 %}
                        <tr>
                            <td style="width: 15.00%">{{ rent.id }}</td>
                            <td style="width: 15.00%">{{ rent.rentcode }}</td>
                            <td style="width: 65.00%"> {{ rent.tenantname }}</td>
                            <td style="width: 5.00%" class="vertical-align"><a href="{{ url_for('rent_bp.rent',
                        rent_id=rent.id) }}" class="btn btn-teal-light btn-round button-icon round circles"
                                              data-toggle="tooltip" title="view rent" role="button"></a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if rents|length > 5 %}
                <table class="table table-rent table-base">
                    <tbody>
                    <tr data-toggle="collapse" data-target="#accordion_1">
                        <td style="width: 100.00%"><a href="javascript:void(0);" id="show_more_1"
                                                      class="btn btn-primary btn-block button-icon arrow-down"
                                                      role="button">show more</a></td>
                    </tr>
                    </tbody>
                </table>
                {% endif%}
            </div>
            {% else %}
            <div class="boxed boxed-red" style="margin-bottom: 1rem;">there are no rents associated with this agent</div>
            {% endif %}
            {% if headrents %}
            <div class="table-fixed" style="margin-bottom: 1rem;">
                <table class="table table-head table-narrow">
                    <thead>
                    <tr>
                        <td class="vertical-align" style="width: 15%">headrent id</td>
                        <td class="vertical-align" style="width: 15.00%">code</td>
                        <td class="vertical-align" style="width: 70.00%">property address</td>
                    </tr>
                    </thead>
                </table>
                <table class="table table-rent table-body table-body-alt">
                    <tbody>
                    {% for rent in headrents %}
                    {% if loop.index < 6 %}
                        <tr>
                            <td style="width: 15.00%">{{ rent.id }}</td>
                            <td style="width: 15.00%">{{ rent.code }}</td>
                            <td style="width: 65.00%"> {{ rent.propaddr }}</td>
                            <td style="width: 5.00%" class="vertical-align"><a href="{{ url_for('headrent_bp.headrent',
                                headrent_id=rent.id) }}" class="btn btn-teal-light btn-round button-icon round circles"
                                                  data-toggle="tooltip" title="view headrent" role="button"></a></td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <div class="collapse" id="accordion_2" aria-expanded="false">
                    <table class="table table-rent table-body">
                        <tbody>
                        {% for rent in headrents %}
                        {% if loop.index >= 6 %}
                        <tr>
                            <td style="width: 15.00%">{{ rent.id }}</td>
                            <td style="width: 15.00%">{{ rent.code }}</td>
                            <td style="width: 65.00%"> {{ rent.propaddr }}</td>
                            <td style="width: 5.00%" class="vertical-align"><a href="{{ url_for('headrent_bp.headrent',
                            headrent_id=rent.id) }}" class="btn btn-teal-light btn-round button-icon round circles"
                                              data-toggle="tooltip" title="view headrent" role="button"></a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if headrents|length > 5 %}
                <table class="table table-rent table-base">
                    <tbody>
                    <tr data-toggle="collapse" data-target="#accordion_2">
                        <td style="width: 100.00%"><a href="javascript:void(0);" id="show_more_2"
                                                      class="btn btn-primary btn-block button-icon arrow-down"
                                                      role="button">show more</a></td>
                    </tr>
                    </tbody>
                </table>
                {% endif %}
            </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="col-md-3">
        <div class="card card-white">
            <div class="card-header">actions</div>
            <div class="card-body text-primary">
                <div class="row">
                    <div class="col">
                        {% if agent.id != 0 %}
                        <a href="#" data-toggle="modal"
                           data-target="#agent_modal" class="btn btn-block btn-primary button-icon circles"
                           role="button">edit agent
                        </a>
                        {% if rent_id != 0 and action == 'from_rent' %}
                        <a href="{{ url_for('agent_bp.agents', agent_id=agent.id, rent_id=rent_id, rentcode=rentcode) }}"
                           class="btn btn-block btn-primary button-icon sync" role="button">change agent for {{ rentcode
                            }}
                        </a>
                        {% endif %}
                        <a data-toggle="modal" data-target="#agent_delete" href="#"
                           class="btn btn-block btn-danger button-icon trash" role="button">delete agent</a>
                        {% elif rent_id != 0 and (action == 'from_rent' or 'new_agent') %}
                        <a href="#" id="edit_agent" data-toggle="modal"
                           data-target="#agent_modal"
                           class="btn btn-primary btn-block button-icon plus"
                           role="button">add new agent to rent {{ rentcode }}</a>
                        <a href="{{ url_for('agent_bp.agents', agent_id=agent.id, rent_id=rent_id, rentcode=rentcode) }}"
                           class="btn btn-block btn-primary button-icon sync" role="button">link existing agent to {{
                            rentcode }}
                        </a>
                        {% else %}
                        <a href="#" id="edit_agent" data-toggle="modal"
                           data-target="#agent_modal"
                           class="btn btn-primary btn-block button-icon plus"
                           role="button">add agent details</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="agent_delete" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">warning</h5>
            </div>
            <div class="modal-body">
                {% if rents or headrents %}
                    {% if rent_id != 0 and action == 'from_rent' %}
                        {% if (rents|length + headrents|length) > 1 %}
                        This agent cannot be deleted as there are {{ rents|length + headrents|length }} associated rents or
                        headrents.
                        <br/>
                        <br/>
                        Alternatively, you can unlink rent {{ rentcode }} from this agent, leaving the agent in the agent table
                        with other rents still associated.
                        {% else %}
                        There are no rents or headrents associated with this agent apart from {{ rentcode }}.
                        You can now delete this agent if no longer required for {{ rentcode }} or any other rent or purpose.
                        <br/>
                        <br/>
                        Alternatively, you can unlink {{ rentcode }} from this agent, leaving the agent in the agent table.
                        {% endif %}
                    {% else %}
                        {% if (rents|length + headrents|length) > 1 %}
                        This agent cannot be deleted as there are {{ rents|length + headrents|length }} associated rents or
                        headrents.
                        {% else %}
                        There is a rent or headrent associated with this agent. Are you sure you want to delete?
                        {% endif %}
                    {% endif %}
                {% else %}
                There are no rents or headrents associated with this agent.
                {% endif %}
            </div>
            <div class="modal-footer">
                <div class="container">
                    <form method="POST" id="target">
                        {% if (rents or headrents) and rent_id != 0 and action == 'from_rent' %}
                            {% if (rents|length + headrents|length) > 1 %}
                             <div class="row flex-row-reverse align-items-end">
                                <div class="col" style="margin-bottom:1rem;">
                                    <a type="button" class="btn btn-block btn-primary button-icon circles"
                                       href="{{ url_for('agent_bp.agent', agent_id=agent.id, rent_id=rent_id,
                                       action='from_agent') }}">
                                        view associated rents
                                    </a>
                                </div>
                            </div>
                            {% else %}
                            <div class="row flex-row-reverse align-items-end">
                                <div class="col" style="margin-bottom:1rem;">
                                <button type="submit" class="btn btn-block btn-warning button-icon minus"
                                        formaction="{{ url_for('agent_bp.agent_unlink', rent_id=rent_id) }}">
                                        unlink from {{ rentcode }}
                                </button>
                                </div>
                            </div>
                            {% endif %}
                        {% endif %}
                        <div class="row flex-row-reverse align-items-end">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">cancel
                                </button>
                            </div>
                        {% if rents or headrents %}
                            {% if rent_id != 0 and action == 'from_rent' %}
                                {% if (rents|length + headrents|length) > 1 %}
                                <div class="col-md-6">
                                <button type="submit" class="btn btn-block btn-warning button-icon minus"
                                        formaction="{{ url_for('agent_bp.agent_unlink', rent_id=rent_id) }}">
                                        unlink from {{ rentcode }}
                                </button>
                                </div>
                                {% else %}
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-block btn-danger button-icon trash"
                                            formaction="{{ url_for('agent_bp.agent_delete', agent_id=agent.id,
                                            rent_id=rent_id) }}">delete agent
                                    </button>
                                </div>
                                {% endif %}
                            {% else %}
                                {% if (rents|length + headrents|length) == 1 %}
                                    {% if rents %}
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-block btn-danger button-icon trash"
                                                    formaction="{{ url_for('agent_bp.agent_delete', agent_id=agent.id, rent_id=rents[0].id) }}">
                                                delete agent
                                            </button>
                                        </div>
                                    {% else %}
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-block btn-danger button-icon trash"
                                                    formaction="{{ url_for('agent_bp.agent_delete', agent_id=agent.id, headrent_id=headrents[0].id) }}">
                                                delete agent
                                            </button>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% else %}
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-block btn-danger button-icon trash"
                                            formaction="{{ url_for('agent_bp.agent_delete', agent_id=agent.id) }}">
                                        delete agent
                                    </button>
                                </div>
                        {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal - edit agent -->
<div class="modal fade" id="agent_modal" tabindex="-1" role="dialog" aria-labelledby="copy_modal_label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">edit agent</h6>
            </div>
            <div class="modal-body">
                <form method="POST">
                    <div class="form-group row">
                        <div class="col">
                            <label for="tenantname">agent details</label>
                            <input type="text" class="form-control" name="detail" value="{{ agent.detail }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label for="email">email address</label>
                            <input type="text" class="form-control" name="email" value="{{ agent.email }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label for="note">notes</label>
                            <input type="text" class="form-control" name="note" value="{{ agent.note }}">
                        </div>
                    </div>
                    {% if rents or headrents %}
                    {% if (rents|length + headrents|length) > 1 %}
                    <div class="form-group row">
                        <div class="col">
                            <div>
                                Note: There are {{ rents|length + headrents|length }} rents or headrents associated
                                with this agent.
                            </div>
                            {% if rent_id != 0 and action == 'from_rent' %}
                            <div class="row align-items-end" style="margin-top: 1rem;">
                                <div class="col">
                                    <a type="button" class="btn btn-block btn-primary button-icon circles"
                                       href="{{ url_for('agent_bp.agent', agent_id=agent.id,
                                       rent_id=rent_id, action='from_agent') }}">view associated rents
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                    <div class="form-group row flex-row-reverse align-items-end" style="margin-top: 1rem;">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-block btn-secondary button-icon cross"
                                    data-dismiss="modal">close
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-block btn-success button-icon save">save changes
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--we show the edit agent modal on page load if a user has come from agents and chosen to create a new agent-->
{% block javascript %}
{% if action == 'new_agent' and agent.id == 0 %}
{{ widgets.modal_on_load_js(modal_id="agent_modal") }}
{% endif %}
{% endblock %}
