<!-- /templates/agent.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<div class="row flex-row-reverse" style="margin-bottom: 20px;">
    {% if rent_id != 0 %}
    <div class="col-md-3">
        <a href="{{ url_for('rent_bp.rent', rent_id=rent_id) }}"
           class="btn btn-block btn-tog button-icon arrow-left" role="button">back to rent</a>
    </div>
    {% else %}
    <div class="col-md-3">
        <a href="{{ url_for('util_bp.agents') }}"
           class="btn btn-block btn-tog button-icon arrow-left" role="button">back to agents</a>
    </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-md-9">
        {% if rent_id != 0 and agent.id == 0 %}
        <a href="#" id="edit_agent" data-toggle="modal"
           data-target="#agent_modal"
           class="btn btn-primary btn-block button-icon plus"
           role="button">add new agent to rent {{ rentcode }}</a>
        {% elif agent.id == 0 %}
        <a href="#" id="edit_agent" data-toggle="modal"
           data-target="#agent_modal"
           class="btn btn-primary btn-block button-icon plus"
           role="button">add agent details</a>
        {% else %}
        <div class="table-fixed" style="margin-bottom: 20px;">
            <table class="table table-head table-narrow table-light-purple">
                <thead>
                <tr>
                    <td class="vertical-align" style="width: 94.5%">agent information</td>
                    <td class="vertical-align align-right" style="width: 5.50%">
                        <a href="#" id="edit_agent" data-toggle="modal"
                           data-target="#agent_modal" class="btn btn-light btn-round button-icon round bolt"
                           role="button">
                        </a>
                    </td>
                </tr>
                </thead>
            </table>
            <table class="table table-rent table-body">
                <tbody>
                <tr>
                    <td class="td-title copyable-text vertical-align" style="width: 15.00%">details</td>
                    <td class="copyable-text vertical-align" style="width: 85%">{{ agent.detail }}</td>
                </tr>
                </tbody>
            </table>
            <table class="table table-rent table-body-alt table-base">
                <tbody>
                <tr>
                    <td class="td-title copyable-text vertical-align" style="width: 15.00%">email</td>
                    <td class="copyable-text vertical-align" style="width: 85%">{{ agent.email }}</td>

                </tr>
                <tr>
                    <td class="td-title copyable-text vertical-align" style="width: 15.00%">notes</td>
                    <td class="copyable-text vertical-align" style="width: 85%">{{ agent.note }}</td>

                </tr>
                </tbody>
            </table>
        </div>
        {% endif %}

        {% if not rent_id and agent.id != 0 %}
        <div class="table-fixed" style="margin-bottom: 20px;">
            <table class="table table-head table-narrow">
                <thead>
                <tr>
                    <td class="vertical-align" style="width: 15%">rent id</td>
                    <td class="vertical-align" style="width: 15.00%">rentcode</td>
                    <td class="vertical-align" style="width: 55.00%">tenant</td>
                    <td class="vertical-align" style="width: 15.00%">unlink</td>
                </tr>
                </thead>
            </table>
            {% if rents %}
            <table class="table table-rent table-body table-body-alt">
                <tbody>
                {% for rent in rents %}
                {% if loop.index < 6 %}
                <tr>
                    <td style="width: 15.00%">{{ rent.id }}</td>
                    <td style="width: 15.00%">{{ rent.rentcode }}</td>
                    <td style="width: 55.00%"> {{ rent.tenantname }}</td>
                    <td style="width: 10.00%" class="vertical-align"><a href="#" data-toggle="modal"
                                                                        name="{{ rent.id }}"
                                                                        data-target="#unlink_rent_modal"
                                                                        id="unlink_{{ rent.id }}"
                                                                        class="btn btn-warning btn-round button-icon round minus btn-modal"
                                                                        role="button"></a></td>
                    <td style="width: 5.00%" class="vertical-align"><a href="{{ url_for('rent_bp.rent',
                    rent_id=rent.id) }}" class="btn btn-light btn-round button-icon round bolt" role="button"></a>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <div class="collapse" id="accordion_1" aria-expanded="false">
                <table class="table table-rent table-body">
                    <tbody>
                    {% for rent in rents %}
                    {% if loop.index >= 6 %}
                    <tr>
                        <td style="width: 15.00%">{{ rent.id }}</td>
                        <td style="width: 15.00%">{{ rent.rentcode }}</td>
                        <td style="width: 55.00%"> {{ rent.tenantname }}</td>
                        <td style="width: 10.00%" class="vertical-align"><a href="#" data-toggle="modal"
                                                                            name="{{ rent.id }}"
                                                                            data-target="#unlink_rent_modal"
                                                                            id="unlink_{{ rent.id }}"
                                                                            class="btn btn-warning btn-round button-icon round minus btn-modal"
                                                                            role="button"></a></td>
                        <td style="width: 5.00%" class="vertical-align"><a href="{{ url_for('rent_bp.rent',
                    rent_id=rent.id) }}" class="btn btn-light btn-round button-icon round bolt" role="button"></a>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if rents|length > 5 %}
            <table class="table table-rent table-base">
                <tbody>
                <tr data-toggle="collapse" data-target="#accordion_1">
                    <td style="width: 100.00%"><a href="javascript:void(0);" id="show_more_1"
                                                  class="btn btn-primary btn-block button-icon arrow-down"
                                                  role="button">show more</a></td>
                </tr>
                </tbody>
            </table>
            {% endif%}
            {% else %}
            <table class="table table-rent table-body-alt table-base">
                <tbody>
                <tr>
                    <td style="width: 100.00%">there are no rents associated with this agent</td>
                </tr>
                </tbody>
            </table>
            {% endif %}
        </div>
        <div class="table-fixed" style="margin-bottom: 20px;">
            <table class="table table-head table-narrow">
                <thead>
                <tr>
                    <td class="vertical-align" style="width: 15%">headrent id</td>
                    <td class="vertical-align" style="width: 15.00%">code</td>
                    <td class="vertical-align" style="width: 70.00%">propery address</td>
                </tr>
                </thead>
            </table>
            {% if headrents %}
            <table class="table table-rent table-body table-body-alt">
                <tbody>
                {% for rent in headrents %}
                {% if loop.index < 6 %}
                <tr>
                    <td style="width: 15.00%">{{ rent.id }}</td>
                    <td style="width: 15.00%">{{ rent.code }}</td>
                    <td style="width: 70.00%"> {{ rent.propaddr }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <div class="collapse" id="accordion_2" aria-expanded="false">
                <table class="table table-rent table-body">
                    <tbody>
                    {% for rent in headrents %}
                    {% if loop.index >= 6 %}
                    <tr>
                        <td style="width: 15.00%">{{ rent.id }}</td>
                        <td style="width: 15.00%">{{ rent.code }}</td>
                        <td style="width: 70.00%"> {{ rent.propaddr }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if headrents|length > 5 %}
            <table class="table table-rent table-base">
                <tbody>
                <tr data-toggle="collapse" data-target="#accordion_2">
                    <td style="width: 100.00%"><a href="javascript:void(0);" id="show_more_2"
                                                  class="btn btn-primary btn-block button-icon arrow-down"
                                                  role="button">show more</a></td>
                </tr>
                </tbody>
            </table>
            {% endif %}
            {% else %}
            <table class="table table-rent table-body-alt table-base">
                <tbody>
                <tr>
                    <td style="width: 100.00%">there are no headrents associated with this agent</td>
                </tr>
                </tbody>
            </table>
            {% endif %}
        </div>
        {% endif %}
    </div>

    <div class="col-md-3">
        <div class="card card-white">
            <div class="card-header">actions</div>
            <div class="card-body text-primary">
                <div class="row">
                    <div class="col-md-12">
                        {% if agent.id != 0 %}
                        {% if rent_id != 0 %}
                        <a href="{{ url_for('util_bp.agents', rent_id=rent_id, rentcode=rentcode) }}"
                           class="btn btn-block btn-primary button-icon sync" role="button">change agent for {{ rentcode
                            }}
                        </a>
                        {% endif %}
                        <a data-toggle="modal" data-target="#agent_delete" href="#"
                           class="btn btn-block btn-danger button-icon trash" role="button">delete agent</a>
                        {% else %}
                        {% if rent_id != 0 %}
                        <a href="{{ url_for('util_bp.agents', rent_id=rent_id, rentcode=rentcode) }}"
                           class="btn btn-block btn-primary button-icon sync" role="button">link existing agent to {{
                            rentcode }}
                        </a>
                        {% else %}
                        First add an agent before linking to rents
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form method="POST" id="target">
    <div class="modal fade" id="agent_delete" tabindex="-1" aria-hidden="true" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">warning</h5>
                </div>
                <div class="modal-body">
                    {% if rents or headrents %}
                    There are rents or headrents associated with this agent. Are you sure you want to delete?
                    {% else %}
                    There are no rents associated with this agent. Do you want to delete?
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <div class="container">
                        {% if rent_id != 0 and (rents or headrents) %}
                        <div class="row align-items-end" style="margin-bottom: 20px;">
                            <div class="col">
                                <a type="button" class="btn btn-block btn-primary button-icon bolt-light"
                                   href="{{ url_for('util_bp.agent', agent_id=agent.id) }}">view associated rents
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row align-items-end">
                            <div class="col">
                                <button type="submit" class="btn btn-block btn-danger button-icon trash"
                                        formaction="{{ url_for('util_bp.agent_delete', agent_id=agent.id,
                                    rent_id=rent_id, rentcode=rentcode) }}">delete agent
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal - unlink rent -->
    {{ widgets.modal_form_action(
    body="Are you sure you want to unlink this rent from this agent",
    id="unlink_rent_modal",
    btn_class="btn btn-block btn-warning button-icon minus",
    btn_id="btn_unlink",
    btn_text="unlink rent",
    btn_url=url_for('util_bp.agent_unlink', agent_id=agent.id, rent_id=rent_id),
    title="warning"
    ) }}
</form>

<!-- Modal - edit agent -->
<div class="modal fade" id="agent_modal" tabindex="-1" role="dialog" aria-labelledby="copy_modal_label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">edit agent</h6>
            </div>
            <div class="modal-body">
                <form method="POST" id="rent_tenant">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="tenantname">agent details</label>
                            <input type="text" class="form-control" name="detail" value="{{ agent.detail }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="email">email address</label>
                            <input type="text" class="form-control" name="email" value="{{ agent.email }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="note">notes</label>
                            <input type="text" class="form-control" name="note" value="{{ agent.note }}">
                        </div>
                    </div>
                    {% if rents or headrents %}
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div>There are rents or headrents associated with this agent.
                                Are you sure you want to save changes?
                            </div>
                            {% if rent_id != 0 %}
                            <div class="row align-items-end" style="margin-top: 20px;">
                                <div class="col">
                                    <a type="button" class="btn btn-block btn-primary button-icon bolt-light"
                                       href="{{ url_for('util_bp.agent', agent_id=agent.id) }}">view associated rents
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-group row flex-row-reverse align-items-end" style="margin-top: 20px;">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">close
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-block btn-success button-icon save">save changes
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
