<!-- /templates/agent.html  -->
{% extends 'base.html' %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row flex-row-reverse">
        <div class="col-md-2">
            <a href="{{ url_for('util_bp.agent', agent_id=agent.id) }}"
               class="btn btn-block btn-tog button-icon arrow-left" role="button">back to agent</a>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-10">
            <label for="detail">agent details:</label>
            <input type="text" class="form-control" name="detail" value="{{ agent.detail }}">
        </div>
        <div class="col-md-2">
            <label for="ag_id">agent id:</label>
            <input type="text" class="form-control" name="ag_id" value="{{ agent.id }}" readonly="true">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-10">
            <label for="email">agent email:</label>
            <input type="text" class="form-control" name="email" value="{{ agent.email }}">
        </div>
        <div class="col-md-2">
            <label for="count">count:</label>
            <input type="text" class="form-control" name="count" value="{{ agent_rents|length }}">
        </div>
    </div>
    <div class="form-group row align-items-end">
        <div class="col-md-12">
            <label for="note">agent notes:</label>
            <input type="text" class="form-control" name="note" value="{{ agent.note }}">
        </div>
    </div>
</form>
{% if type == "rent" %}
    <div class="table-fixed">
        <table class="table" id="rents">
            <thead>
            <tr>
                <th style="width: 10.00%">rent id</th>
                <th style="width: 20.00%">rentcode</th>
                <th style="width: 60.00%">tenant name</th>
                <th style="width: 10.00%">action</th>
            </tr>
            </thead>
            <tbody>
            {% for rent in agent_rents %}
            <tr id="{{ rent.id }}">
                <td style="width: 10.00%">{{ rent.id }}</td>
                <td style="width: 20.00%">{{ rent.rentcode }}</td>
                <td style="width: 60.00%"> {{ rent.tenantname }}</td>
                <td style="width: 10.00%" class="vertical-align"><a href="{{ url_for('rent_bp.rent',
                rent_id=rent.id) }}" class="btn btn-teal-light btn-round button-icon round circles" role="button"></a>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="table-fixed">
        <table class="table" id="headrents">
            <thead>
            <tr>
                <th style="width: 10.00%">id</th>
                <th style="width: 20.00%">code</th>
                <th style="width: 60.00%">property address</th>
                <th style="width: 10.00%">action</th>
            </tr>
            </thead>
            <tbody>
            {% for item in agent_rents %}
            <tr id="{{ item.id }}">
                <td style="width: 10.00%">{{ item.id }}</td>
                <td style="width: 20.00%">{{ item.code }}</td>
                <td style="width: 60.00%"> {{ item.propaddr }}</td>
                <td style="width: 10.00%" class="vertical-align"><a href="{{ url_for('headrent_bp.headrent',
                headrent_id=item.id) }}" class="btn btn-teal-light btn-round button-icon round circles" role="button"></a>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}
