<!-- /templates/agents.html  -->
{% extends 'base.html' %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row">
        <div class="col-md-4">
            <input type="text" class="form-control" name="detail" placeholder="agent details">
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" name="email" placeholder="agent email">
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" name="note" placeholder="agent notes">
        </div>
    </div>
    <div class="form-group row flex-row-reverse">
<!--        {% if rent_id != 0 %}-->
<!--            <div class="col-md-2">-->
<!--                <a href="{{ url_for('rent_bp.rent', rent_id=rent_id) }}"-->
<!--                   class="btn btn-block btn-secondary button-icon arrow-left" role="button">back to rent</a>-->
<!--            </div>-->
<!--        {% endif %}-->
        <div class="col-md-2">
            <button type="submit" class="btn btn-block btn-success button-icon search" role="button">search</button>
        </div>
        {% if rent_id %}
        <div class="col-md-3">
            <a href="{{ url_for('util_bp.agent', agent_id=0, rent_id=rent_id, rentcode=rentcode) }}"
               class="btn btn-block btn-danger button-icon plus" role="button">add new agent for {{ rentcode }}</a>
        </div>
        {% else %}
        <div class="col-md-2">
            <a href="{{ url_for('util_bp.agent', agent_id=0, rent_id=0) }}"
               class="btn btn-block btn-danger button-icon plus" role="button">add new agent</a>
        </div>
        {% endif %}
    </div>
</form>
<div class="table-fixed">
    {% if rent_id == 0 %}
    <table class="table" id="agents">
        <thead>
        <tr>
            <th style="width: 40.00%">agent address</th>
            <th style="width: 25.00%">agent email</th>
            <th style="width: 25.00%">agent notes</th>
            <th style="width: 10.00%"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in agents %}
        <tr id="{{ item.id }}">
            <td style="width: 48.00%">{{ item.detail }}</td>
            <td style="width: 25.00%">{{ item.email }}</td>
            <td style="width: 25.00%"> {{ item.note }}</td>
            <td style="width: 2.00%" class="vertical-align"><a href="{{ url_for('util_bp.agent', agent_id=item.id,
            rent_id=0) }}" class="btn btn-light btn-round button-icon round bolt" role="button"></a>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <table class="table" id="agents">
        <thead>
        <tr>
            <th style="width: 40.00%">agent address</th>
            <th style="width: 20.00%">agent email</th>
            <th style="width: 20.00%">agent notes</th>
            <th style="width: 20.00%" class="align-right">add agent to rent {{ rentcode }}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in agents %}
        <tr id="{{ item.id }}">
            <td style="width: 40.00%">{{ item.detail }}</td>
            <td style="width: 20.00%">{{ item.email }}</td>
            <td style="width: 20.00%"> {{ item.note }}</td>
            <td style="width: 20.00%" class="vertical-align align-right"><a href="{{ url_for('util_bp.agents_select',
            agent_id=item.id, rent_id=rent_id) }}" class="btn btn-success btn-round button-icon round plus" role="button"></a>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}
