<!-- /templates/backup.html  -->
{% extends 'base.html' %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row">
        <div class="col-md-3">
            <a href="{{ url_for('backup_bp.backup_database') }}" class="btn btn-block btn-primary"
               role="button" onclick="javascript:on_backup_database_clicked();">backup database</a>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <textarea id="backup_database_output" class="form-control" rows="12"
                      readonly="readonly" style="width:800px; white-space:pre-wrap; font-family:monospace; font-size: smaller;"
            >{{ backup_database_output }}</textarea>
        </div>
    </div>
    <hr/>
    <div class="table-fixed">
        <table class="table" id="restore_files">
            <thead>
            <tr>
                <th>select</th>
                <th>file name</th>
                <th>size</th>
                <th>datetime</th>
            </tr>
            </thead>
            <tbody>
            {% for backup_file in backup_files %}
            <tr>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="select_file"
                               value="{{ backup_file.name }}">
                    </div>
                </td>
                <td>{{ backup_file.name }}</td>
                <td style="text-align: right;">{{ "{:,}".format(backup_file.size) }}</td>
                <td>{{ backup_file.datetime }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <button type="submit" formaction="{{ url_for('backup_bp.restore_database') }}"
                    class="btn btn-block btn-secondary" onclick="javascript:return on_restore_database_clicked();"
            >restore database</button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <textarea id="restore_database_output" class="form-control" rows="12"
                      readonly="readonly" style="width:800px; white-space:pre-wrap; font-family:monospace; font-size: smaller;"
            >{{ restore_database_output }}</textarea>
        </div>
    </div>
</form>
<script type="text/javascript">
    <!-- Scroll to bottom of backup output -->
    var textarea = document.getElementById('backup_database_output');
    textarea.scrollTop = textarea.scrollHeight;

    function on_backup_database_clicked()
    {
        var textarea = document.getElementById('backup_database_output');
        textarea.value = 'Starting backup...';
    }
</script>
<script type="text/javascript">
    <!-- Scroll to bottom of restore output -->
    var textarea = document.getElementById('restore_database_output');
    textarea.scrollTop = textarea.scrollHeight;

    function on_restore_database_clicked()
    {
        if (!window.confirm("This will overwrite your database. Are you SURE you want to proceed?"))
            return false;   // prevent the postback to the href from proceeding
        var textarea = document.getElementById('restore_database_output');
        textarea.value = 'Starting restore...';
        return true;    // allow the postback to the href to proceed
    }
</script>
{% endblock %}

