{% extends 'bootstrap/base.html' %}

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}
    {% if title %}{{ title }} - Microjinn{% else %}Welcome to Microjinn{% endif %}
    {% endblock %}
</head>

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">MicroJinn</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('rentpage') }}">Rent</a></li>
                <li><a href="{{ url_for('externalrent') }}">External rents</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {% else %}
                <li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<body>
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <div class="justify-content-center">
                <style type="text/css">
								/* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
								body { background-color: rgba(205, 219, 217, 0.9) !important; }

                </style>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                {# application content needs to be provided in the app_content block #}
                {% block app_content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
</html>
