<!-- /templates/charges.html  -->
{% extends 'base.html' %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row flex-row-reverse">
        {% if rent_id != "0" %}
            <div class="col-md-2">
                <a href="{{ url_for('rent_bp.rent', rent_id=rent_id) }}"
                   class="btn btn-block btn-secondary button-icon arrow-left" role="button">back to rent</a>
            </div>
            <div class="col-md-3">
                <a href="{{ url_for('charge_bp.charge', charge_id=0, rent_id=rent_id, rentcode=rentcode) }}"
                   class="btn btn-block btn-danger button-icon plus" role="button">new charge for this rent</a>
            </div>
        {% endif %}
        <div class="col-md-2">
            <button type="submit" class="btn btn-block btn-success button-icon search" role="button">search</button>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" name="chargedetail" placeholder="charge details">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" name="rentcode" placeholder="rent code">
        </div>
    </div>
</form>
<div class="table-fixed">
    <table class="table" id="charges">
        <thead>
        <tr>
            <th style="width: 10.00%">rentcode</th>
            <th style="width: 25.00%">description</th>
            <th style="width: 10.00%">start date</th>
            <th style="width: 10.00%">total</th>
            <th style="width: 25.00%">details</th>
            <th style="width: 10.00%">balance</th>
            <th style="width: 5.00%"></th>
        </tr>
        </thead>
        <tbody>
        {% for charge in charges %}
        <tr id="{{ charge.id }}">
            <td style="width: 10.00%"> {{ charge.rentcode }}</td>
            <td style="width: 25.00%"> {{ charge.chargedesc }}</td>
            <td style="width: 10.00%"> {{ charge.chargestartdate.strftime('%d-%b-%Y') }}</td>
            <td style="width: 10.00%"> {{ charge.chargetotal }}</td>
            <td style="width: 25.00%"> {{ charge.chargedetail }}</td>
            <td style="width: 10.00%"> {{ charge.chargebalance }}</td>
            <td style="width: 5.00%"><a href="{{ url_for('charge_bp.charge', charge_id=charge.id) }}">view</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}	
