{% extends 'base.html' %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row">
        <div class="col-md-2">
            <input type="text" class="form-control" name="rentcode" placeholder="Rent code">
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" name="chargedetails" placeholder="Charge details">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-block btn-primary">Search</button>
        </div>
    </div>
</form>
<div class="container">
    <div class="row voffset2">
        <div class="col-lg-12">
            <h4 class="text-center">Filtered to show:</h4>
        </div>
    </div>
</div>
<div class="table-fixed">
    <table class="table" id="charges">
        <thead>
        <tr>
            <th style="width: 10.00%">rentcode</th>
            <th style="width: 25.00%">chargedesc</th>
            <th style="width: 10.00%">chargestartdate</th>
            <th style="width: 10.00%">chargetotal</th>
            <th style="width: 25.00%">chargedetails</th>
            <th style="width: 10.00%">chargebalance</th>
        </tr>
        </thead>
        <tbody>
        {% for charge in charges %}
        <tr id="{{ charge.id }}">
            <td style="width: 10.00%"> {{ charge.rentcode }}</td>
            <td style="width: 25.00%"> {{ charge.chargedesc }}</td>
            <td style="width: 10.00%"> {{ charge.chargestartdate }}</td>
            <td style="width: 10.00%"> {{ charge.chargetotal }}</td>
            <td style="width: 25.00%"> {{ charge.chargedetails }}</td>
            <td style="width: 10.00%"> {{ charge.chargebalance }}</td>
            <td style="width: 5.00%"><a href="/chargepage/{{ charge.id }}">View</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}	
