{% extends 'base.html' %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row">
        <div class="col-md-2">
            <label for="chargeid">Charge id:</label>
            <input type="text" class="form-control" id="chargeid" name="chargeid" value="{{ charge.id }}">
        </div>
        <div class="col-md-2">
            <label for="rentcode">Rent code:</label>
            <input type="text" class="form-control" id="rentcode" name="rentcode" value="{{ charge.rentcode }}">
        </div>
        <div class="col-md-6">
            <label for="chargedesc">Charge type:</label>
            <select class="form-control" name="chargedesc">
                <option value="{{ charge.chargedesc }}" selected>{{ charge.chargedesc }}</option>
                {% for chargedesc in chargedescs[0:] %}
                <option value="{{ chargedesc }}">{{ chargedesc }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2">
            <label for="chargestartdate">Charge start date:</label>
            <input type="date" class="form-control" name="chargestartdate" value="{{ charge.chargestartdate }}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label for="chargetotal">Charge total:</label>
            <input type="text" class="form-control" id="chargetotal" name="chargetotal"
                   value="{{ charge.chargetotal }}">
        </div>
        <div class="col-md-4">
            <label for="chargedetails">Charge details:</label>
            <input type="text" class="form-control" id="chargedetails" name="chargedetails"
                   value="{{ charge.chargedetails }}">
        </div>
        <div class="col-md-2">
            <label for="chargebalance">Charge balance:</label>
            <input type="text" class="form-control" id="chargebalance" name="chargebalance"
                   value="{{ charge.chargebalance }}">
        </div>
    </div>
    <div class="form-group row">
            <div class="col-md-2">
                <a href="/charges" class="btn btn-block btn-danger" role="button">Cancel</a>
            </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-block btn-success">Save changes</button>
        </div>
    </div>
</form>
{% endblock %}

