{% extends 'base.html' %}

{% block app_content %}
    <form method="POST" id="target">
		<div class="form-row">
			<div class="form-group col-md-4">
				<label for="itemdate">Date:</label>
				<input type ="date" name="itemdate" value="{{ today }}" class="form-control">	  
			</div>
            <div class="form-group col-md-4">
				<label for="stype">Type:</label>
				<select class="form-control" name="stype" method="GET" action="/">
				  <option value="{{typename}}" selected>{{typename}}</option>
				  {% for stype in stypes[0:] %}
					<option value="{{stype}}">{{stype}}</option>
				  {% endfor %}
				</select>			
			</div>
			<div class="form-group col-md-4">
				<label for="user">Participants:</label>
				<select class="form-control" name="username" method="GET" action="/">
				  <option value="{{thisuser}}" selected>{{thisuser}}</option>
				  {% for user in users[0:] %}
					<option value="{{user}}">{{user}}</option>
				  {% endfor %}
				</select>			
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="summary">Summary:</label>
				<input type="text" class="form-control" id="summary" name="summary" value="{{ item.summary }}">
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="storydet">Details:</label>
				<textarea class="form-control" rows="8" id="storydet" name="storydet" >{{ item.storydet }}</textarea>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-4">
				<label for="miles">Miles:</label>
				<input type="text" class="form-control" id="miles" name="miles" value="{{ item.miles }}">
			</div>
			<div class="form-group col-md-4">
				<label for="minutes">Minutes:</label>
				<input type="text" class="form-control" id="minutes" name="minutes" value="{{ item.minutes }}">
			</div>
			<div class="form-group col-md-4">
				<label for="stats">feet climbed or alcohol units:</label>
				<input type="text" class="form-control" id="stats" name="stats" value="{{ item.stats }}">
			</div>
		</div>
		<br />
		<div class="form-row">
			<div class="form-group col-md-4">
				<a href="/index" class="btn btn-block btn-primary" role="button">Cancel</a>
			</div>
			<div class="form-group col-md-4">
				<button type="submit" class="btn btn-block btn-primary">Save as new item</button>
			</div>
		</div>
    </form>
{% endblock %}
