<!-- /templates/docfile.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" action="/docfile/{{ docfile.id }}">
    <div class="form-group row flex-row-reverse">
        <div class="col-md-2">
            <a href="/docfiles/{{ digfile.rentid }}" class="btn btn-block btn-primary" role="button">back to docfiles</a>
        </div>
        {% if action == "view" %}
            <div class="col-md-2">
                <a href="/rent_object/{{ digfile.rentid }}" class="btn btn-block btn-primary" role="button">back to rent</a>
            </div>
            <div class="col-md-2">
                <a href="/docfile/{{ digfile.id }}?action=dig" class="btn btn-block btn-danger" role="button">edit this digfile</a>
            </div>
            <div class="col-md-2">
                <a href="/docfile/0?action=dig&rentid={{ digfile.rentid }}" class="btn btn-block btn-primary" role="button">new digfile</a>
            </div>
        {% else %}
            <div class="col-md-2">
                <button type="submit" class="btn btn-block btn-success">save changes</button>
            </div>
            {% if action == "edit" %}
                <div class="col-md-2">
                    <a href="/delete_item/{{ digfile.id }}?item=digfile"
                       onclick="return confirm('Are you sure you want to delete this digfile?');"
                       class="btn btn-block btn-warning" role="button">delete digfile</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <input type="date" class="form-control" name="dig_date" value="{{ today_date }}">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" name="rentcode" value = "{{ digfile.rentcode }}">
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" name="dgf_summary" value="{{ digfile.summary }}">
        </div>
		<div class="col-md-2">
			{{ widgets.combobox(name="doc_type", items=session['doc_types'], item_selected=digfile.desc) }}
		</div>
        <div class="col-md-2">
            {{ widgets.combobox(name="out_in", items=["all", "out", "in"], item_selected=dgf_outin) }}
        </div>
	</div>
</form>
{% endblock %}