{% extends 'base.html' %}

{% block app_content %}
<form method="POST" id="target">
    {% if action == "view" %}
    <div class="form-group row">
        <div class="col-md-2">
            <input type="text" class="form-control" name="rentcode" placeholder="Rent code">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" name="doc_code" placeholder="Formletter code">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" name="doc_type" placeholder="Formletter type">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" name="doc_text" placeholder="Formletter text">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-block btn-primary">Search</button>
        </div>
    </div>
  {% endif %}
  <div class="form-group row">
    </div>
    <div class="table-fixed">
        <table class="table" id="docs_out">
            <thead>
            <tr>
                <th style="width: 10.00%">Docfile id</th>
                <th style="width: 10.00%">Date</th>
                <th style="width: 20.00%">Summary</th>
                <th style="width: 10.00%">Rentcode</th>
                <th style="width: 10.00%">Doctype</th>
                <th style="width: 10.00%">action</th>
            </tr>
            </thead>
            <tbody>
            {% for item in docs_out %}
            <tr id="{{ item.id }}">
                <td style="width: 10.00%"> {{ item.id }}</td>
                <td style="width: 10.00%"> {{ item.doc_date }}</td>
                <td style="width: 10.00%"> {{ item.summary }}</td>
                <td style="width: 10.00%"> {{ item.rentcode }}</td>
                <td style="width: 10.00%"> {{ item. }}</td>
                <td style="width: 10.00%"> {{ item.desc }}</td>
                <td style="width: 10.00%"><a href="/doc_out/{{ item.id }}?rentid={{ rentid }}">View</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}	
