<!-- /templates/docfiles.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row flex-row-reverse">
        {% if rent_id == 0 %}
            <div class="col-md-2">
                <button type="submit" class="btn btn-block btn-success button-icon search" role="button">search</button>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" name="rentcode" placeholder="rent code">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" name="summary" placeholder="summary">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" name="doc_text" placeholder="doc text">
            </div>
            <div class="col-md-2">
                {{ widgets.combobox(name="doc_type", items=session['doc_types'],
                item_selected=session['doc_types'][0]) }}
            </div>
            <div class="col-md-2">
                {{ widgets.combobox(name="out_in", items=outins, item_selected=dfoutin) }}
            </div>
        {% else %}
            <div class="col-md-2">
                <a href="{{ url_for('rent_bp.rent', rent_id=rent_id) }}"
                   class="btn btn-block btn-tog button-icon arrow-left" role="button">back to rent</a>
            </div>
            <div class="col-md-2">
                <a href="{{ url_for('doc_bp.docfiles', rent_id=0) }}"
                   class="btn btn-block btn-primary button-icon bolt-light" role="button">view all docfiles</a>
            </div>
            <div class="col-md-2">
                <a href="{{ url_for('doc_bp.docfile', doc_id=0, doc_dig='doc', rent_id=rent_id) }}"
                   class="btn btn-block btn-danger button-icon plus" role="button">new doc in</a>
            </div>
            <div class="col-md-2">
                <a href="{{ url_for('doc_bp.upload_file', rent_id=rent_id, rentcode=docfiles.rentcode) }}"
                   class="btn btn-block btn-danger button-icon plus" role="button">new digfile</a>
            </div>
        {% endif %}
    </div>
  <div class="form-group row">
    </div>
    <div class="table-fixed">
        <table class="table" id="docfiles">
            <thead>
            <tr>
                <th style="width: 10.00%">date</th>
                <th style="width: 10.00%">rentcode</th>
                <th style="width: 40.00%">summary</th>
                <th style="width: 10.00%">doctype</th>
                <th style="width: 10.00%">doc or dig</th>
                <th style="width: 10.00%">out or in</th>
                <th style="width: 10.00%">action</th>
            </tr>
            </thead>
            <tbody>
            {% for item in docfiles %}
            <tr id="{{ item.id }}">
                <td style="width: 10.00%"> {{ item.doc_date.strftime('%d-%b-%Y') if item.doc_date else 'none' }}</td>
                <td style="width: 10.00%"> {{ item.rentcode }}</td>
                <td style="width: 40.00%"> {{ item.summary }}</td>
                <td style="width: 10.00%"> {{ item.desc }}</td>
                <td style="width: 10.00%"> {{ item.doc_dig }}</td>
                <td style="width: 10.00%"> {{ item.out_in }}</td>
                <td style="width: 10.00%" class="vertical-align"><a href="{{ url_for('doc_bp.docfile',
                doc_id=item.id, doc_dig=item.doc_dig) }}" class="btn btn-light btn-round button-icon round bolt" role="button"></a>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}	
