{% extends 'base.html' %}

{% block app_content %}
<form>
   <div class="form-group row">
        <div class="col-md-3">
            <a href="/emailaccpage/0?action=new" class="btn btn-block btn-primary" role="button">Add new email account</a>
        </div>
    </div>
</form>
<div class="container">
    <div class="row voffset2">
        <div class="col-lg-12">
            <h4 class="text-center">Filtered to show:</h4>
        </div>
    </div>
</div>
<div class="table-fixed">
    <table class="table" id="emailaccs">
        <thead>
        <tr>
            <th style="width: 25.00%">smtp_server</th>
            <th style="width: 10.00%">spare</th>
        </tr>
        </thead>
        <tbody>
        {% for item in emailaccs %}
        <tr id="{{ item.id }}">
            <td style="width: 25.00%">{{ item.id}}</td>
            <td style="width: 25.00%">{{ item.smtp_server}}</td>
            <td style="width: 25.00%">{{ item.smtp_user}}</td>
            <td style="width: 25.00%">{{ item.smtp_sendfrom}}</td>
            <td style="width: 25.00%">{{ item.imap_sentfolder}}</td>
            <td style="width: 25.00%">{{ item.imap_draftfolder}}</td>
            <td style="width: 5.00%"><a href="/emailaccpage/{{ item.id }}">View</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}	
