<!-- /templates/email_accounts.html  -->
{% extends 'base.html' %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row flex-row-reverse">
        <div class="col-md-3">
            <a href="{{ url_for('util_bp.email_acc', email_acc_id=0) }}" class="btn btn-block btn-primary"
               role="button">add email account</a>
        </div>
    </div>
</form>
<div class="page">
    <table class="my-table" id="emailaccs">
        <thead>
        <tr>
            <th style="width: 6.00%">id</th>
            <th style="width: 18.00%">smtp_server</th>
            <th style="width: 9.00%">smtp_port</th>
            <th style="width: 22.00%">smtp_user</th>
            <th style="width: 22.00%">smtp_sendfrom</th>
            <th style="width: 17.00%">imap_server</th>
            <th style="width: 7.00%"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in emailaccs %}
        <tr id="{{ item.id }}">
            <td style="width: 5.00%">{{ item.id }}</td>
            <td style="width: 18.00%">{{ item.smtp_server }}</td>
            <td style="width: 9.00%">{{ item.smtp_port }}</td>
            <td style="width: 22.00%">{{ item.smtp_user }}</td>
            <td style="width: 22.00%">{{ item.smtp_sendfrom }}</td>
            <td style="width: 17.00%">{{ item.imap_server }}</td>
            <td style="width: 7.00%"><a href="{{ url_for('util_bp.email_acc',
            email_acc_id=item.id) }}">view</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}	
