{% extends 'base.html' %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row">
        <div class="col-md-9">
            <input class="form-control form-control-lg" type="text" placeholder="Showing all email accounts" readonly>
        </div>
        <div class="col-md-3">
            <a href="/email_account/0?action=new" class="btn btn-block btn-primary" role="button">Add new email account</a>
        </div>
    </div>
</form>
<div class="table-fixed">
    <table class="table" id="emailaccs">
        <thead>
        <tr>
            <th style="width: 5.00%">id</th>
            <th style="width: 10.00%">smtp_server</th>
            <th style="width: 10.00%">smtp_port</th>
            <th style="width: 10.00%">smtp_user</th>
            <th style="width: 15.00%">smtp_sendfrom</th>
            <th style="width: 10.00%">imap_server</th>
            <th style="width: 10.00%">imap_sentfolder</th>
            <th style="width: 10.00%">imap_draftfolder</th>
            <th style="width: 5.00%"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in emailaccs %}
        <tr id="{{ item.id }}">
            <td style="width: 5.00%">{{ item.id }}</td>
            <td style="width: 10.00%">{{ item.smtp_server }}</td>
            <td style="width: 10.00%">{{ item.smtp_port }}</td>
            <td style="width: 10.00%">{{ item.smtp_user }}</td>
            <td style="width: 15.00%">{{ item.smtp_sendfrom }}</td>
            <td style="width: 10.00%">{{ item.imap_server }}</td>
            <td style="width: 10.00%">{{ item.imap_sentfolder }}</td>
            <td style="width: 10.00%">{{ item.imap_draftfolder }}</td>
            <td style="width: 5.00%"><a href="/email_account/{{ item.id }}">View</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}	
