{% extends 'base.html' %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row">
        <div class="col-md-2">
            <label for="rentcode">Rent code:</label>
            <input type="text" class="form-control" name="rentcode" value="{{ external_rent.rentcode }}">
        </div>
        <div class="col-md-8">
            <label for="propaddr">Property address:</label>
            <input type="text" class="form-control" name="propaddr" value="{{ external_rent.propaddr }}">
        </div>
        <div class="col-md-2">
            <label for="manager">External manager:</label>
            <input type="text" class="form-control" name="manager" value="{{ external_rent.codename }}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <label for="tenantname">Tenant name:</label>
            <input type="text" class="form-control" name="tenantname" value="{{ external_rent.tenantname }}">
        </div>
        <div class="col-md-2">
            <label for="rentpa">Rent pa:</label>
            <input type="text" class="form-control" name="rentpa" value="{{ external_rent.rentpa }}">
        </div>
        <div class="col-md-2">
            <label for="arrears">Rent arrears:</label>
            <input type="text" class="form-control" name="arrears" value="{{ external_rent.arrears }}">
        </div>
        <div class="col-md-2">
            <label for="lastrentdate">lastrentdate:</label>
            <input type="text" class="form-control" name="lastrentdate" value="{{ external_rent.lastrentdate }}">
        </div>
        <div class="col-md-2">
            <label for="source">Source:</label>
            <input type="text" class="form-control" name="source" value="{{ external_rent.source }}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-10">
            <label for="agentdetails">Agent details:</label>
            <input type="text" class="form-control" name="agentdetails" value="{{ external_rent.agentdetails }}">
        </div>
        <div class="col-md-2">
            <label for="status">Status:</label>
            <input type="text" class="form-control" name="status" value="{{ external_rent.status }}">
        </div>
    </div>
</form>
{% endblock %}