<!-- /templates/formletters.html  -->
{% extends 'base.html' %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row">
        <div class="col-md-3">
            <input type="text" class="form-control" name="code" placeholder="Code">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" name="summary" placeholder="Summary">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" name="subject" placeholder="Subject">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" name="block" placeholder="block">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-block btn-success">Search</button>
        </div>
        <div class="col-md-6">
            <a href="/formletter/0?action=new" class="btn btn-block btn-primary" role="button">Add doc</a>
        </div>
    </div>
    <div class="form-group row">
    </div>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th style="width: 10.00%">Code</th>
            <th style="width: 70.00%">Summary</th>
            <th style="width: 10.00%">Action</th>
            <th style="width: 10.00%">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for item in formletters %}
        <tr>
            <td style="width: 10.00%">{{ item.code }}</td>
            <td style="width: 70.00%">{{ item.summary }}</td>
            <td style="width: 10.00%"><a href="/formletter/{{ item.id }}">View</a></td>
            <td style="width: 10.00%"><a href="/formletter/{{ item.id }}">View</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}
