{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="target">
	<div class="form-group row">
		<div class="col-md-2">
			<label for="code">Code:</label>
			<input type="text" class="form-control" name="code" value="{{ formletter.code }}">
		</div>
		<div class="col-md-6">
			<label for="description">Summary:</label>
			<input type="text" class="form-control" name="description" value="{{ formletter.description }}">
		</div>
		<div class="col-md-2">
			<label for="doc_type">Type:</label>
			{{ widgets.combobox(name="doc_type", items=session['doc_types'], item_selected=formletter.desc) }}
		</div>
		<div class="col-md-2">
			<label for="template">Template:</label>
			{{ widgets.combobox(name="template", items=templates, item_selected=formletter.template) }}
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-6">
			<label for="subject">Subject:</label>
			<input type="text" class="form-control" name="subject" value="{{ formletter.subject }}">
		</div>
		<div class="col-md-6">
			<label for="bold">bold:</label>
			<input type="text" class="form-control" name="bold" >{{ formletter.bold }}</textarea>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-12">
			<label for="block">Block:</label>
			<textarea class="form-control" rows="24" name="block" >{{ formletter.block }}</textarea>
		</div>
	</div>
	<div class="form-group row">
	</div>
	<div class="form-group row flex-row-reverse">
		<div class="col-md-2">
			<a href="/formletters" class="btn btn-block btn-primary" role="button">back to formletters</a>
		</div>
		{% if action == "view" %}
			<div class="col-md-3">
				<a href="/formletter/{{ formletter.id }}?action=edit" class="btn btn-block btn-danger" role="button">Edit this formletter</a>
			</div>
			<div class="col-md-3">
				<a href="/formletter/{{ formletter.id }}?action=clone" class="btn btn-block btn-danger" role="button">Clone this formletter</a>
			</div>
			<div class="col-md-3">
				<a href="/formletter/0?action=new" class="btn btn-block btn-primary" role="button">Add new formletter</a>
			</div>
		{% else %}
			<div class="col-md-3">
				<button type="submit" class="btn btn-block btn-success">save changes</button>
			</div>
			{% if action == "edit" %}
				<div class="col-md-3">
					<a href="/delete_item/{{ formletter.id }}?item=formletter"
					   onclick="return confirm('Are you sure you want to delete this formletter?');"
					   class="btn btn-block btn-warning" role="button">delete this formletter</a>
				</div>
			{% endif %}
		{% endif %}
	</div>
</form>
{% endblock %}

