<!-- /templates/form_letter.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="target">
	<div class="form-group row flex-row-reverse">
		<div class="col-md-3">
			<a href="{{ url_for('form_letter_bp.form_letters') }}"
			   class="btn btn-block btn-tog button-icon arrow-left" role="button">back to form letters</a>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-2">
			<label for="code">code:</label>
			<input type="text" class="form-control" name="code" value="{{ form_letter.code }}">
		</div>
		<div class="col-md-6">
			<label for="description">summary:</label>
			<input type="text" class="form-control" name="description" value="{{ form_letter.description }}">
		</div>
		<div class="col-md-2">
			<label for="doc_type">type:</label>
			{{ widgets.combobox(name="doc_type", items=session['doc_types'], item_selected=form_letter.desc) }}
		</div>
		<div class="col-md-2">
			<label for="template">template:</label>
			{{ widgets.combobox(name="template", items=templates, item_selected=form_letter.template) }}
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-12">
			<label for="subject">subject:</label>
			<input type="text" class="form-control" name="subject" value="{{ form_letter.subject }}">
		</div>
	</div>
	<div class="boxed">
<!--		<div class="form-group row">-->
<!--			<div class="col-md-12">-->
<!--				<label for="block">block:</label>-->
<!--			</div>-->
<!--		</div>-->
		<div class="form-group row">
			<div class="col-md-12">
				<div class="form-group row align-items-end">
					<div class="col-md-2" data-toggle="tooltip" title="First choose where you want to insert the variable in the block, then select the variable from the list">
						<label for="mail_variables">mail variables:</label>
						{{ widgets.combobox(name="mail_variables", items=variables.mail_variables) }}
					</div>
					<div class="btn-group btn-group-toggle col-md-1 mr-auto" id="more_vars" data-toggle="buttons">
						<label class="btn btn-secondary">
							<input type="checkbox" name="more_vars" autocomplete="off"> more
						</label>
					</div>
					<div class="col-md-2" id="lease_vars" style="display:none;">
						<label for="lease_variables">extra variables:</label>
						{{ widgets.combobox(name="lease_variables", items=variables.lease_variables) }}
					</div>
					<div class="col-md-2">
						<button type="button" id="bold_text" class="btn btn-block btn-primary" data-toggle="tooltip" title="Select a word or phrase in the block to add bold markup">bold</button>
					</div>
					<div class="col-md-2">
						<button type="button" id="italic_text" class="btn btn-block btn-primary">italic</button>
					</div>
					<div class="col-md-2">
						<button type="button" id="highlight_text" class="btn btn-block btn-primary">highlight</button>
					</div>
					<div class="col-md-2">
						<button type="button" id="remove_markup" class="btn btn-block btn-warning" data-toggle="tooltip" title="Select the text that includes the markup you want to remove">remove markup</button>
					</div>
				</div>
				<textarea id="form_letter_block" class="form-control" rows="24" name="block" >{{ form_letter.block }}</textarea>
			</div>
		</div>
	</div>
    <div class="form-group row flex-row-reverse">
        <div class="col-md-3">
            <button type="button" id="edit_view" class="btn btn-block btn-secondary button-icon edit">edit</button>
        </div>
    </div>
    <div class="form-group row flex-row-reverse" id="save_delete">
        <div class="col-md-3">
            <button type="submit" class="btn btn-block btn-success button-icon save">save changes</button>
        </div>
		<div class="col-md-3">
			<a href="{{ url_for('util_bp.delete_item', item_id=form_letter.id, item='form_letter') }}"
			onclick="return confirm('Are you sure you want to delete this form_letter?');"
			class="btn btn-block btn-warning button-icon trash" role="button">delete this form letter</a>
		</div>
	</div>
	<input type="hidden" id="xinput" name="xinput" value = "xyz">
</form>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    {% include "form_letter.js" %}
</script>
{% endblock %}
