<!-- /templates/headrents.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="target">
    <div class="row">
        <div class="col-md-9">
            {% if headrents|length > 0 %}
            <div class="table-fixed">
                <table class="table table-grey sortable" id="headrents">
                    <thead class="pointer">
                    <tr>
                        <th style="width: 10.00%">hr code</th>
                        <th style="width: 10.00%">rent pa</th>
                        <th style="width: 6.00%">arrears</th>
                        <th style="width: 16.00%">next rent date</th>
                        <th style="width: 22.00%">property address</th>
                        <th style="width: 4.00%">freq</th>
                        <th style="width: 8.00%">status</th>
                        <th style="width: 22.00%">agent</th>
                        <th style="width: 2.00%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in headrents %}
                    <tr id="{{ item.id }}">
                        <td style="width: 10.00%">{{ item.code }}</td>
                        <td style="width: 10.00%"> {{ item.rentpa }}</td>
                        <td style="width: 6.00%"> {{ item.arrears }}</td>
                        <td style="width: 16.00%">
                            <button type="submit" class="btn btn-tog btn-small search-date"
                                    value="{{ item.nextrentdate }}"
                                    role="button" data-toggle="tooltip" title="search by this next rent date">
                                {{ item.nextrentdate.strftime('%d-%m-%Y') }}
                            </button>
                        </td>
                        <td style="width: 22.00%">{{ item.propaddr }}</td>
                        <td style="width: 4.00%"> {{ item.freq_id }}</td>
                        <td style="width: 8.00%"> {{ item.status }}</td>
                        <td style="width: 22.00%"> {{ item.agent.detail }}</td>
                        <td style="width: 2.00%" class="vertical-align">
                            <a href="{{ url_for('headrent_bp.headrent', headrent_id=item.id) }}"
                               class="btn btn-teal-light btn-round button-icon round circles"
                               data-toggle="tooltip" title="view headrent"
                               role="button"></a>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            {{ widgets.message_box(
            message="There are no headrents that match your search.",
            btn_text="view most recent headrents",
            btn_class="btn btn-block btn-primary button-icon sync",
            btn_url=url_for('headrent_bp.headrents') ) }}
            {% endif %}
        </div>
        <div class="col-md-3">
            {% if recent_searches|length > 0 %}
            <div class="card card-white">
                <div class="card-header">
                    <div class="row">
                        <div class="col">recent searches</div>
                        <div class="col align-right">
                            <a href="#expand_searches" data-toggle="collapse" aria-expanded="false"
                               id="expand_searches_toggle" aria-controls="expand_searches"
                               class="button-icon btn-round round plus"
                               role="button"></a>
                        </div>
                    </div>
                </div>
                <div id="expand_searches" class="collapse">
                    <div class="card-body text-primary">
                        {% for item in recent_searches|reverse %}
                        <div class="form-group row" style="margin-bottom: 5px;">
                            <div class="col-md-9" style="padding-right:2px;">
                                <button
                                        class="btn btn-block btn-tog search-history" style="text-align: left;"
                                        value="{{ item.dict }}" onclick="return false;">
                                    <span><b>{{ item.rentcode }} </b></span><span>{{ item.address }} </span>
                                    <span><b>{{ item.agent }} </b></span><span>{{ item.nextrentdate }} </span>
                                    <span><b>{{ item.status[0] }}</b></span>
                                </button>
                            </div>
                            <div class="col-md-3" style="padding-left:3px;">
                                <button
                                        style="height:100%;"
                                        value="{{ item.dict }}"
                                        data-toggle="tooltip" title="search database"
                                        class="btn btn-success btn-block button-icon-center arrow-right search-history">
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="card card-white sticky-top" style="margin-top: 20px;">
                <div class="card-header">
                    <div class="row">
                        <div class="col">search</div>
                        <div class="col align-right"><b>{{ headrents|length }}</b> results</div>
                    </div>
                </div>
                <div class="card-body text-primary">
                    <div class="form-group row">
                        <div class="col">
                            <input id="form-rentcode" type="text" class="form-control" name="rentcode"
                                   placeholder="rentcode" value="{{ fdict.rentcode }}">
                            <input id="form-address" type="text" class="form-control" name="address"
                                   placeholder="address" value="{{ fdict.address }}">
                            <input id="form-agent" type="text" class="form-control" name="agent"
                                   placeholder="agent" value="{{ fdict.agent }}">
                            {% if fdict.nextrentdate != '' %}
                            <div style="margin-top: 10px;">
                                <a href="#expand_next_rent_date" data-toggle="collapse" aria-expanded="false"
                                   aria-controls="expand_next_rent_date"
                                   class="button-icon minus remove-date">next rent date</a>
                            </div>
                            <div id="expand_next_rent_date" class="form-group row collapse show"
                                 style="margin-top: 10px;">
                                <div class="col-md-9" style="padding-right:5px">
                                    <input id="form-nextrentdate" type="date" class="form-control date"
                                           name="nextrentdate"
                                           value="{{ fdict.nextrentdate }}">
                                </div>
                                <div class="col-md-3 align-self-end" style="padding-left:5px">
                                    <a class="btn btn-block btn-teal button-icon-center sync reset-date"
                                       data-toggle="tooltip" title="set next rent date to today + 35 days"
                                       onclick="return false;">
                                    </a>
                                </div>
                            </div>
                            {% else %}
                            <div style="margin-top: 10px;">
                                <a href="#expand_next_rent_date" data-toggle="collapse" aria-expanded="false"
                                   aria-controls="expand_next_rent_date"
                                   class="button-icon plus remove-date">next rent date</a>
                            </div>
                            <div id="expand_next_rent_date" class="form-group row collapse"
                                 style="margin-top: 10px;">
                                <div class="col-md-9" style="padding-right:5px">
                                    <input id="form-nextrentdate" type="date" class="form-control date"
                                           name="nextrentdate"
                                           value="{{ fdict.nextrentdate }}">
                                </div>
                                <div class="col-md-3 align-self-end" style="padding-left:5px">
                                    <a class="btn btn-block btn-teal button-icon-center sync reset-date"
                                       data-toggle="tooltip" title="set next rent date to today + 35 days"
                                       onclick="return false;">
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                            <div style="margin-top: 1rem;">
                                {{ widgets.multiselect_as_select(name="status",
                                items=HrStatuses.names(), items0="all statuses",
                                items_selected=fdict.status, id="form-status") }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="col-md-5" style="padding-right:5px;">
                            <button class="btn btn-block btn-primary button-icon sync search-clear"
                                    onclick="return false;">clear
                            </button>
                        </div>
                        <div class="col-md-7" style="padding-left:5px;">
                            <button type="submit" class="btn btn-block btn-success button-icon search"
                                    role="button">search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    {% include "headrents.js" %}


</script>
{% endblock %}
