<!-- /templates/headrent.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}

<div class="row">
    <div class="col-md-9">
        <div class="table-fixed table-rent" style="margin-bottom: 1.5rem;">
            <table class="table table-grey table-head table-narrow">
                <thead>
                <tr>
                    <td class="vertical-align" style="width: 25%">headrent {{ headrent.code }}</td>
                    <td class="vertical-align" style="width: 25%">
                        <span class="rounded-background light-green">
                        {{ headrent.tenuredet }}
                        </span>
                    </td>
                    <td class="vertical-align" style="width: 50%">
                        <span id="statusdet"
                              class="rounded-background light-purple">
                        {{ headrent.status }}
                        </span>
                    </td>
                </tr>
                </thead>
            </table>
            <table class="table table-body">
                <tbody>
                <tr>
                    <td class="td-title vertical-align copyable-text" style="width: 12.00%">property</td>
                    <td class="copyable-text vertical-align" style="width: 83.00%">{{ headrent.propaddr }}</td>
                    <td class="vertical-align align-right" style="width: 5.00%">
                        <a href="#" id="edit_property" data-toggle="modal"
                           data-target="#property_modal" class="btn btn-teal-light btn-round button-icon round circles"
                           role="button"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table table-base table-body-alt">
                <tbody>
                <tr>
                    <td class="td-title vertical-align copyable-text" style="width: 12.00%">landlord</td>
                    <td class="vertical-align copyable-text" style="width: 83.00%">{{ headrent.landlord.name }}
                        of {{ headrent.landlord.manager.manageraddr }}
                    </td>
                    <td class="vertical-align align-right" style="width: 5.00%">
                        <a href="#" id="edit_landlord" data-toggle="modal"
                           data-target="#landlord_modal" class="btn btn-teal-light btn-round button-icon round circles"
                           role="button"></a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="table-fixed table-rent" style="margin-bottom: 1.5rem;">
            <table class="table rounded-corners">
                <tbody>
                <tr>
                    <td class="td-title copyable-text vertical-align" style="width: 12.00%">notes</td>
                    <td class="copyable-text vertical-align" style="width: 83%">{{ headrent.note }}</td>
                    <td class="vertical-align align-right" style="width: 5.00%">
                        <a href="#" id="edit_note" data-toggle="modal"
                           data-target="#note_modal" class="btn btn-teal-light btn-round button-icon round circles"
                           role="button"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-fixed table-rent" style="margin-bottom: 1.5rem;">
            <table class="table table-body-alt rounded-corners">
                <tbody>
                <tr>
                    <td class="td-title copyable-text vertical-align" style="width: 12.00%">agent</td>
                    <td class="copyable-text vertical-align" style="width: 83%">{{ headrent.agent.detail }}</td>
                    <td class="vertical-align align-right" style="width: 5.00%"><a
                            href="#"
                            data-toggle="tooltip" title="edit agent"
                            class="btn btn-teal-light btn-round button-icon round circles" role="button"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-fixed table-rent" style="margin-bottom: 1.5rem;">
            <table class="table rounded-corners">
                <tbody>
                <tr>
                    <td class="td-title copyable-text" style="width: 12.00%">rent</td>
                    <td class="copyable-text" style="width: 88.00%">This block of properties is subject
                        to a {{ RentType.rent_type(headrent.tenuredet) }} of {{ money_str(headrent.rentpa, pound=True)
                        }}
                        per annum payable {{ headrent.freqdet }} {{ headrent.advarrdet }}.
                    </td>
                </tr>
                <tr>
                    <td class="td-title copyable-text" style="width: 12.00%">owing</td>
                    <td class="copyable-text" style="width: 88.00%">{{
                        upper_first(RentType.rent_type(headrent.tenuredet)) }} on this block
                        of properties is paid up to {{ headrent.paidtodate.strftime('%d-%b-%Y') }}. Further
                        {{ RentType.rent_type(headrent.tenuredet) }} will be due and payable {{ headrent.freqdet }}
                        {{ headrent.advarrdet }} on {{ headrent.nextrentdate.strftime('%d-%b-%Y') }} in the sum of
                        {{ money_str(headrent.rent_gale, pound=True) }}.
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-white">
            <div class="card-header">actions</div>
            <div class="card-body text-primary">
                <div class="form-group row">
                    <div class="col">
                        <a href="#"
                           class="btn btn-block btn-primary button-icon circles"
                           role="button">view past payments</a>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <a href="#"
                           class="btn btn-block btn-primary button-icon letter" role="button">produce remittance
                            advice</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="table-fixed table-rent">
            <table class="table rounded-corners">
                <thead>
                <tr>
                    <td style="width: 50%">reference: {{ headrent.reference }}</td>
                    <td style="width: 50%">source: {{ headrent.source }}</td>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <button type="button" id="open_edit_headrent" data-toggle="modal" data-target="#edit_modal"
                class="btn btn-block btn-secondary button-icon edit"
                style="margin-bottom: 1.5rem;">edit headrent
        </button>
    </div>
</div>


<!-- Modal - edit property -->
<div class="modal fade" id="property_modal" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" id="target">
                <div class="modal-header">
                    <h6 class="modal-title">edit property address below</h6>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col">
                            <input type="text" class="form-control" name="propaddr" value="{{ headrent.propaddr }}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="container">
                        <div class="row align-items-end">
                            <div class="col">
                                <button type="submit" formaction="{{ url_for('headrent_bp.headrent_update',
                                headrent_id=headrent.id, action='property') }}"
                                        class="btn btn-block btn-success button-icon save">save changes
                                </button>
                            </div>
                            <div class="col">
                                <button type="button"
                                        class="btn btn-block btn-secondary button-icon cross"
                                        data-dismiss="modal">cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal - edit landlord -->
<div class="modal fade" id="landlord_modal" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" id="target">
                <div class="modal-header">
                    <h6 class="modal-title">select landlord</h6>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col">
                            {{ widgets.combobox_index(name="landlord", items=Landlords.names(),
                            item_selected=headrent.landlord.name) }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="container">
                        <div class="row align-items-end">
                            <div class="col">
                                <button type="submit" formaction="{{ url_for('headrent_bp.headrent_update',
                                headrent_id=headrent.id, action='landlord') }}"
                                        class="btn btn-block btn-success button-icon save">save changes
                                </button>
                            </div>
                            <div class="col">
                                <button type="button"
                                        class="btn btn-block btn-secondary button-icon cross"
                                        data-dismiss="modal">cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal - edit note -->
<div class="modal fade" id="note_modal" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" id="target">
                <div class="modal-header">
                    <h6 class="modal-title">edit notes below</h6>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col">
                            <input type="text" class="form-control" name="note" value="{{ headrent.note }}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="container">
                        <div class="row align-items-end">
                            <div class="col">
                                <button type="submit" formaction="{{ url_for('headrent_bp.headrent_update',
                                headrent_id=headrent.id, action='note') }}"
                                        class="btn btn-block btn-success button-icon save">save changes
                                </button>
                            </div>
                            <div class="col">
                                <button type="button"
                                        class="btn btn-block btn-secondary button-icon cross"
                                        data-dismiss="modal">cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal  - edit headrent -->
<div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="copy_modal_label"
     aria-hidden="true">
    <div class="modal-dialog mw-100 w-75" role="document">
        <div class="modal-content no-border ">
            <div class="modal-body no-padding">
                <form method="POST" id="rent">
                    <div class="card card-blue">
                        <div class="card-header">edit headrent {{ headrent.rentcode }}</div>
                        <div class="card-body text-primary">
                            <form method="POST" id="headrent">
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label for="rentcode">hr code:</label>
                                        <input type="text" class="form-control" name="rentcode"
                                               value="{{ headrent.code }}">
                                    </div>
                                    <div class="col-md-2">
                                        <label for="tenure">tenure:</label>
                                        {{ widgets.combobox_index(name="tenure", items=Tenures.names(),
                                        item_selected=headrent.tenuredet) }}
                                    </div>
                                    <div class="col-md-2">
                                        <label for="source">source:</label>
                                        <input type="text" class="form-control" name="source"
                                               value="{{ headrent.source }}">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="reference">reference:</label>
                                        <input type="text" class="form-control" name="reference"
                                               value="{{ headrent.reference }}">
                                    </div>
                                    <div class="col-md-2">
                                        <label for="status">status:</label>
                                        {{ widgets.combobox_index(name="status", items=HrStatuses.names(),
                                        item_selected=headrent.status) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label for="rentpa">rent pa:</label>
                                        <input type="text" class="form-control" name="rentpa"
                                               value="{{ headrent.rentpa }}">
                                    </div>
                                    <div class="col-md-2">
                                        <label for="arrears">rent arrears:</label>
                                        <input type="text" class="form-control" name="arrears"
                                               value="{{ headrent.arrears }}">
                                    </div>
                                    <div class="col-md-2">
                                        <label for="frequency">frequency:</label>
                                        {{ widgets.combobox(name="frequency", items=Freqs.names(),
                                        item_selected=headrent.freqdet) }}
                                    </div>
                                    <div class="col-md-2">
                                        <label for="advarr">advance or arrears:</label>
                                        {{ widgets.combobox_index(name="advarr", items=AdvArr.names(),
                                        item_selected=headrent.advarrdet) }}
                                    </div>
                                    <div class="col-md-2">
                                        <label for="lastrentdate">last rent date:</label>
                                        <input type="date" class="form-control" name="lastrentdate"
                                               value="{{ headrent.lastrentdate }}">
                                    </div>
                                    <div class="col-md-2">
                                        <label for="nextrentdate">next rent date:</label>
                                        <input type="date" class="form-control" name="nextrentdate"
                                               value="{{ next_rent_date(headrent.lastrentdate, headrent.freq_id,
                                            headrent.datecode_id, 1).strftime('%d-%b-%Y') }}">
                                    </div>
                                </div>
                                <div class="form-group row flex-row-reverse"
                                     style="margin-top: 2rem; margin-bottom: 0rem;">
                                    <div class="col-md-2">
                                        <button type="button"
                                                class="btn btn-block btn-secondary button-icon cross"
                                                data-dismiss="modal">close
                                        </button>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" formaction="{{ url_for('headrent_bp.headrent_update', headrent_id=headrent.id,
                                        action='headrent') }}" class="btn btn-block btn-success button-icon save">save
                                            changes
                                        </button>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="{{ url_for('util_bp.delete_item', item_id=headrent.id, item='headrent') }}"
                                           onclick="return confirm('Are you sure you want to delete this headrent?');"
                                           class="btn btn-block btn-danger button-icon trash" role="button">delete
                                            headrent</a>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="hidden" class="form-control" name="headrent_id"
                                               value="id: {{ headrent.id }}"
                                               readonly="true">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--if a not empty message string is passed to the template we load the message when the page loads-->
{% block message_on_load %}
{% if message %}
{{ widgets.modal_message_on_load(message=message, title="Notice") }}
{% endif %}
{% endblock %}