{% extends 'base.html' %}

{% block app_content %}
<h1>Hi, {{ current_user.username }}!</h1>
<form method="POST" id="target">
    <div class="form-group row">
        <div class="col-md-2">
            <input type="text" class="form-control" name="rentcode" placeholder="Rent code">
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" name="tenantname" placeholder="Tenant name">
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" name="propaddr" placeholder="Property address">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-block btn-primary">Search</button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <a href="/newrent" class="btn btn-block btn-primary" role="button">Add rent/property</a>
        </div>
        <div class="col-md-6">
            <a href="/externalrent" class="btn btn-block btn-primary" role="button">Search external rents</a>
        </div>
    </div>
</form>
<div class="container">
    <div class="row voffset2">
        <div class="col-lg-12">
            <h4 class="text-center">Filtered to show:</h4>
        </div>
    </div>
</div>
<div class="table-fixed">
    <table class="table" id="rents">
        <thead>
        <tr>
            <th style="width: 10.00%">rentcode</th>
            <th style="width: 25.00%">propaddr</th>
            <th style="width: 25.00%">tenantname</th>
            <th style="width: 10.00%">rentpa</th>
            <th style="width: 10.00%">arrears</th>
            <th style="width: 10.00%">spare</th>
            <th style="width: 10.00%">spare</th>
        </tr>
        </thead>
        <tbody>
        {% for rent in rents %}
        <tr id="{{ rent.id }}">
            <td style="width: 10.00%">{{ rent.rentcode }}</td>
            <td style="width: 25.00%">{{ rent.propaddr }}</td>
            <td style="width: 25.00%"> {{ rent.tenantname }}</td>
            <td style="width: 10.00%"> {{ rent.rentpa }}</td>
            <td style="width: 10.00%"> {{ rent.arrears }}</td>
            <td style="width: 10.00%">spare</td>
            <td style="width: 5.00%"><a href="/editrent/{{ rent.id }}">Edit</a></td>
            <td style="width: 5.00%"><a href="/clonerent/{{ rent.id }}">Clone</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}	
