{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row">
        <div class="col-md-2">
            <label for="rentcode">Rentcode starts with:</label>
            <input type="text" class="form-control" name="rentcode" placeholder="any" value="{{ rentcode }}">
        </div>
        <div class="col-md-2">
            <label for="tenantname">Tenant name:</label>
            <input type="text" class="form-control" name="tenantname" placeholder="any" value="{{ tenantname }}">
        </div>
        <div class="col-md-2">
            <label for="propaddr">Property details:</label>
            <input type="text" class="form-control" name="propaddr" placeholder="any" value="{{ propaddr }}">
        </div>
        <div class="col-md-2">
            <label for="source">Source:</label>
            <input type="text" class="form-control" name="source" placeholder="any" value="{{ source }}">
        </div>
        <div class="col-md-2">
            <label for="agentdetails">Agent details:</label>
            <input type="text" class="form-control" name="agentdetails" placeholder="any" value="{{ agentdetails }}">
        </div>
        <div class="col-md-2">
            <label for="count">Count:</label>
            <input type="text" class="form-control" name="count" value="{{ qrentobjs|length }}">
        </div>
    </div>
    {% if action == "advanced" %}
    <div class="form-group row">
        <div class="col-md-2">
            <label for="enddate">End date:</label>
            <input type="text" class="form-control" name="enddate" value="{{ enddate }}">
        </div>
        <div class="col-md-2">
            <label for="runsize">Run size:</label>
            <input type="text" class="form-control" name="runsize" value="{{ runsize }}">
        </div>
        <div class="col-md-2">
            <label for="rentpa">Rent pa:</label>
            <input type="text" class="form-control" name="rentpa" placeholder="any" value="{{ rentpa }}">
        </div>
        <div class="col-md-2">
            <label for="arrears">Rent arrears:</label>
            <input type="text" class="form-control" name="arrears" placeholder="any" value="{{ arrears }}">
        </div>
        <div class="col-md-2">
            <label for="rentperiods">Rent periods owing:</label>
            <input type="text" class="form-control" name="rentperiods" placeholder="any" value="{{ rentperiods }}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <label for="landlord">Landlord:</label>
            {{ widgets.multiselect(name="landlord", items=landlords, items_selected=landlord) }}
        </div>
        <div class="col-md-2">
            <label for="tenure">Tenure:</label>
            {{ widgets.multiselect(name="tenure", items=tenures, items_selected=tenure) }}
        </div>
        <div class="col-md-2">
            <label for="salegrade">Sale grade:</label>
            {{ widgets.multiselect(name="salegrade", items=salegrades, items_selected=salegrade) }}
        </div>
        <div class="col-md-2">
            <label for="status">Status:</label>
            {{ widgets.multiselect(name="status", items=statuses, items_selected=status) }}
        </div>
        <div class="form-group col-md-2">
            <label for="actype">Actype:</label>
            {{ widgets.multiselect(name="actype", items=actypes, items_selected=actype) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label for="agents">Mailto agent:</label>
            {{ widgets.combobox(name="agents", items=options, item_selected=options[0]) }}
        </div>
        <div class="col-md-2">
            <label for="charges">Charges:</label>
            {{ widgets.combobox(name="charges", items=options, item_selected=options[0]) }}
        </div>
        <div class="col-md-2">
            <label for="emailable">Emailable:</label>
            {{ widgets.combobox(name="emailable", items=options, item_selected=options[0]) }}
        </div>
        <div class="col-md-2">
            <label for="forsale">For sale:</label>
            {{ widgets.combobox(name="forsale", items=options, item_selected=options[0]) }}
        </div>
        <div class="col-md-2">
            <label for="prdelivery">PR delivery:</label>
            {{ widgets.multiselect(name="prdelivery", items=prdeliveries, items_selected=prdelivery) }}
        </div>
        <div class="col-md-2">
            <label for="savename">Save filter as:</label>
            <input type="text" class="form-control" name="savename" value="">
        </div>
    </div>
    {% endif %}
    <div class="form-group row">
        <div class="col-md-2">
            <button type="submit" class="btn btn-block btn-success">Filter now</button>
        </div>
        {% if action == "advanced" %}
        <div class="col-md-3">
            <a href="/index" class="btn btn-block btn-primary" role="button">Basic filter</a>
        </div>
        {% else %}
        <div class="col-md-3">
            <a href="/queries" class="btn btn-block btn-primary" role="button">Advanced filter</a>
        </div>
        {% endif %}
    </div>
</form>
<div class="container">
    <div class="row voffset2">
        <div class="col-lg-12">
            <h4 class="text-center">Filtered to show:</h4>
        </div>
    </div>
</div>
<div class="table-fixed">
    <table class="table" id="qrentobjs">
        <thead>
        <tr>
            <th style="width: 8.00%">rentcode</th>
            <th style="width: 8.00%">rentpa</th>
            <th style="width: 8.00%">arrears</th>
            <th style="width: 8.00%">charges</th>
            <th style="width: 15.00%">tenantname</th>
            <th style="width: 20.00%">propaddr</th>
            <th style="width: 8.00%">source</th>
            <th style="width: 20.00%">agent details</th>
            <th style="width: 5.00%"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in qrentobjs %}
        <tr id="{{ item.id }}">
            <td style="width: 8.00%">{{ item.rentcode }}</td>
            <td style="width: 8.00%"> {{ item.rentpa }}</td>
            <td style="width: 8.00%"> {{ item.arrears }}</td>
            <td style="width: 8.00%"> {{ item.totcharge }}</td>
            <td style="width: 15.00%"> {{ item.tenantname }}</td>
            <td style="width: 20.00%">{{ item.propaddr }}</td>
            <td style="width: 8.00%"> {{ item.source }}</td>
            <td style="width: 20.00%"> {{ item.agdetails }}</td>
            <td style="width: 5.00%"><a href="/rentobjpage/{{ item.id }}?action=view">View</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
