<!-- /templates/incomeformpage.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form action="" method="post" role="form">
    <div class="form-group row">
        <div class="col-md-2">
            <label for="id">id:</label>
            <input type="text" class="form-control" name="id" value="{{ incomeform.id.data }}">
        </div>
        <div class="col-md-2">
            <label for="paydate">Pay date:</label>
            <input type="date" class="form-control" name="paydate" value="{{ incomeform.paydate.data }}">
        </div>
        <div class="col-md-2">
            <label for="total">total:</label>
            <input type="text" class="form-control" name="total" value="{{ incomeform.total.data }}">
        </div>
        <div class="col-md-2">
            <label for="payer">payer:</label>
            <input type="text" class="form-control" name="payer" value="{{ incomeform.payer.data }}">
        </div>
        <div class="col-md-2">
            <label for="bankaccount">Bank account:</label>
            {{ widgets.combobox(name="bankaccount", items=bankaccs, item_selected=incomeform.bankaccount.data) }}
        </div>
        <div class="col-md-2">
            <label for="typepayment">Payment type:</label>
            {{ widgets.combobox(name="typepayment", items=paytypedets, item_selected=incomeform.typepayment.data) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <h4 class="text-center">Allocated as follows:</h4>
        </div>
    </div>
    {% for item in incomeform.incomeallocations %}
    <div class="form-group row">
        <div class="col-md-2">
            <label for="incall_id">Id:</label>
            <input type="text" class="form-control" name="incall_id" value="{{ item.incall_id.data }}">
        </div>
        <div class="col-md-2">
            <label for="income_id">Income id:</label>
            <input type="text" class="form-control" name="income_id" value="{{ item.income_id.data }}">
        </div>
        <div class="col-md-2">
            <label for="alloc_id">Allocation id:</label>
            <input type="text" class="form-control" name="alloc_id" value="{{ item.alloc_id.data }}">
        </div>
        <div class="col-md-2">
            <label for="rentcode">Rent code:</label>
            <input type="text" class="form-control" name="rentcode" value="{{ item.rentcode.data }}">
        </div>
        <div class="col-md-2">
            <label for="amount">Amount:</label>
            <input type="text" class="form-control" name="amount" value="{{ item.amount.data }}">
        </div>
        <div class="col-md-2">
            <label for="landlord">Landlord:</label>
            {{ widgets.combobox(name="landlord", items=landlords, item_selected=item.name.data) }}
        </div>
    </div>
    {% endfor %}
    <input type="submit" value="Submit!" />
</form>
{% endblock %}
