<!-- /templates/income.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row">
        <div class="col-md-2">
            <input type="text" class="form-control" name="payer" value="{{ incomevals.payer }}" placeholder="all payers">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" name="rentcode" value="{{ incomevals.rentcode }}" placeholder="all rentcodes">
        </div>
        <div class="col-md-3">
            {{ widgets.combobox(name="bankacc", items=income_dict.bankaccs_all, item_selected=incomevals.bankacc) }}
        </div>
        <div class="col-md-3">
            {{ widgets.combobox(name="paytype", items=income_dict.paytypes_all, item_selected=incomevals.paytype) }}
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-block btn-success">search</button>
        </div>
    </div>
    {% if incomevals.rentid != 0 %}
        <div class="form-group row flex-row-reverse">
            <div class="col-md-3">
                <a href="{{ url_for('io_bp.income_object', id=item.id, rentid=incomevals.rentid) }}" class="btn btn-block btn-primary" role="button">post income for this rent</a>
            </div>
            <div class="col-md-2">
                <a href="{{ url_for('ro_bp.rent_object', id=incomevals.rentid) }}" class="btn btn-block btn-primary" role="button">back to rent</a>
            </div>
        </div>
    {% endif %}
</form>
<div class="table-fixed">
    <table class="table" id="incomeitems">
        <thead>
        <tr>
            <th style="width: 10.00%">date</th>
            <th style="width: 15.00%">payer</th>
            <th style="width: 10.00%">amount</th>
            <th style="width: 10.00%">rentcode</th>
            <th style="width: 20.00%">bank account</th>
            <th style="width: 20.00%">payment type</th>
            <th style="width: 10.00%"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in incomes %}
        <tr id="{{ item.id }}">
            <td style="width: 10.00%">{{ item.date.strftime('%d-%b-%Y') }}</td>
            <td style="width: 15.00%"> {{ item.payer }}</td>
            <td style="width: 10.00%"> {{ item.amount }}</td>
            <td style="width: 10.00%"> {{ item.rentcode }}</td>
            <td style="width: 20.00%"> {{ item.accdesc }}</td>
            <td style="width: 20.00%"> {{ item.paytypedet }}</td>
            <td style="width: 10.00%"><a href="{{ url_for('io_bp.income_object', id=item.id) }}">view</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
