<!-- /templates/index.html  -->
{% extends 'base.html' %}

{% block app_content %}
<h1>Hi, {{ current_user.username }}!</h1>
<form method="POST" id="target">
    <div class="form-row">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-block btn-primary" name="filter" value="Walk">Walks</button>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-block btn-primary" name="filter" value="HBR run">HBR runs</button>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-block btn-primary" name="filter" value="Tennis">Tennis</button>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-block btn-primary" name="filter" value="Alcohol">Alcohol</button>
        </div>
        <div class="col-sm-2">
            <a href="/newitem" class="btn btn-block btn-primary" role="button">Add new item</a>
        </div>
    </div>
</form>
<div class="container">
    <div class="row voffset2">
        <div class="col-lg-12">
            <h4 class="text-center">Filtered to show: {{ title }}</h4>
        </div>
    </div>
</div>
<div class="table-fixed">
    <table class="table" id="items">
        <thead>
        <tr>
            <th style="width: 10.00%">date</th>
            <th style="width: 6.00%">username</th>
            <th style="width: 16.00%">summary</th>
            <th style="width: 40.00%">details</th>
            <th style="width: 6.00%">miles</th>
            <th style="width: 6.00%">stats</th>
            <th style="width: 6.00%">minutes</th>
            <th style="width: 5.00%">ssss</th>
            <th style="width: 5.00%">ssss</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr id="{{ item.id }}">
            <td style="width: 10.00%">{{ item.date }}</td>
            <td style="width: 6.00%">{{ item.username }}</td>
            <td style="width: 16.00%"> {{ item.summary }}</td>
            <td style="width: 40.00%"> {{ item.storydet }}</td>
            <td style="width: 6.00%"> {{ item.miles }}</td>
            <td style="width: 6.00%"> {{ item.stats }}</td>
            <td style="width: 6.00%"> {{ item.minutes }}</td>
            <td style="width: 5.00%"><a href="/edititem/{{ item.id }}">Edit</a></td>
            <td style="width: 5.00%"><a href="/cloneitem/{{ item.id }}">Clone</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}	
