<!DOCTYPE html><html contenteditable="true"><head>
<style>
/* letters.css */
/* standard CSS for letters */

/* font family */
body {
    font-family: Verdana, Tahoma, sans-serif;
}

/* font sizes */

.font-size-25px {
    font-size: 12.75pt;
}

.font-size-large {
    font-size: 12.5pt;
}

.font-size-medium {
    font-size: 10.5pt;
}

.font-size-small {
    font-size: 9.5pt;
}

.font-size-17px {
    font-size: 9pt;
}

/* End of letters.css */

</style>
</head>
<body>
	<!-- Letter header-->


	<!-- Email header -->
<!-- Email header -->
<div class="font-size-medium" align="left">
    Email 24/07/2020 to iandpark68@gmail.com
    <br>
    <br>
    <br>
    Our Ref: ZWHC26
    <br>
    <br>
</div>

	<!-- Salutation and subject -->
	<div class="font-size-medium" align="left">
		<!-- Salutation -->
		Dear Ian
		<br>
		<br>

		<!-- Subject -->
		<b>Re property: 26 Whitegates, Court Bushes Road, Whyteleafe, CR3 0BX</b>
		<br>
		<br>

		<!-- Clauses -->
<!-- Letter clauses normal -->
<!-- Letter clauses inserted with line breaks when present -->
<div class="font-size-medium" align="left">
	Thank you for your BACS payment on 23/07/2020 in the sum of £97.50 paying £97.50 ground rent up to 25/03/2020 for the above property.<br>
<br>
Ground rent for this property will next be due and payable on 29/09/2020 in the sum of £97.50 for the half-year's ground rent then due in arrears.<br>
<br>
All Notices to the Lessor should be served only upon Deirdre Anne Maloney at Belbury Hayes, Toadpit Lane, West Hill, Ottery St. Mary, Devon EX11 1TR.
	<br>
	<br>




</div>

		<!-- Letter footer-->


		<!-- Email footer -->
<!-- Email footer -->
<div class="font-size-medium">
    <br>
    Yours sincerely,
	<br>
	<br>
    <br>
    <br>
    <b>Deirdre Anne Maloney</b>
    <br>
    <br>
    Belbury Hayes, Toadpit Lane, West Hill, Ottery St. Mary, Devon EX11 1TR
    <br>
    <br>
    Tel: 01404 815918      email: hesmaloney@gmail.com
    <br>
    <br>



    <br>
    <hr width="80%">
</div>
	</div>


</body></html>