<!DOCTYPE html><head>
<style>
/* letters.css */
/* standard CSS for letters */

/* font family */
body {
    font-family: Verdana, Tahoma, sans-serif;
}

/* font sizes */

.font-size-25px {
    font-size: 12.75pt;
}

.font-size-large {
    font-size: 12.5pt;
}

.font-size-medium {
    font-size: 10.5pt;
}

.font-size-small {
    font-size: 9.5pt;
}

.font-size-17px {
    font-size: 9pt;
}

/* End of letters.css */

</style>
</head>
<body>
	<!-- Letter header-->

	<!-- Letter header -->
<!-- Letter header -->
<div>
	<div class="font-size-large" align="center">
		<b>Deirdre Anne Maloney</b>
	</div>
	<div class="font-size-small" align="center">
		Belbury Hayes, Toadpit Lane, West Hill, Ottery St. Mary, Devon EX11 1TR
		<br>
		Tel: 01404 815918      email: hesmaloney@gmail.com
		<br>
	</div>
	<div class="font-size-medium" align="right">
		Our Ref: ZWHC26
		<br>
		Date: 24/07/2020
	</div>
	<div class="font-size-medium" align="left">
		<!-- Postal address -->
		Ian David Park<br>
26 Whitegates<br>
Court Bushes Road<br>
Whyteleafe<br>
CR3 0BX
		<br>
		<br>
		<br>
		<br>
    </div>
</div>


	<!-- Salutation and subject -->
	<div class="font-size-medium" align="left">
		<!-- Salutation -->
		Dear Ian
		<br>
		<br>

		<!-- Subject -->
		<b>Re property: 26 Whitegates, Court Bushes Road, Whyteleafe, CR3 0BX</b>
		<br>
		<br>

		<!-- Clauses -->
<!-- Letter clauses normal -->
<!-- Letter clauses inserted with line breaks when present -->
<div class="font-size-medium" align="left">
	Thank you for your {{ mailvar.paytype_id }} payment on {{ mailvar.date}} in the sum of {{ mailvar.amount}} paying ground rent up to 25/03/2020 for the above property.<br>
<br>
Ground rent for this property will next be due and payable on 29/09/2020 in the sum of £97.50 for the half-year's ground rent then due in arrears.<br>
<br>
All Notices to the Lessor should be served only upon Deirdre Anne Maloney at Belbury Hayes, Toadpit Lane, West Hill, Ottery St. Mary, Devon EX11 1TR.
	<br>
	<br>




</div>

		<!-- Letter footer-->

		<!-- Letter footer -->
<!-- Letter footer -->
<div class="font-size-medium">
	<br>
	<br>
	Yours sincerely
	<br>
	<br>
	<br>
	<br>
	<br>
	<b>Richard Hesmondhalgh</b>
</div>

	</div>


</body></html>