<!-- /templates/landlords.html  -->
{% extends 'base.html' %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row flex-row-reverse">
        <div class="col-md-3">
            <a href="{{ url_for('util_bp.landlord', landlord_id=0) }}"
               class="btn btn-block btn-primary" role="button"><i class="fas fa-plus"></i> new landlord</a>
        </div>
    </div>
</form>
<div class="table-fixed">
    <table class="table" id="landlords">
        <thead>
        <tr>
            <th style="width: 25.00%">name</th>
            <th style="width: 30.00%">address</th>
            <th style="width: 10.00%">tax_date</th>
            <th style="width: 25.00%">manager</th>
            <th style="width: 10.00%">action</th>
        </tr>
        </thead>
        <tbody>
        {% for item in landlords %}
        <tr id="{{ item.id }}">
            <td style="width: 25.00%">{{ item.name }}</td>
            <td style="width: 30.00%"> {{ item.address }}</td>
            <td style="width: 10.00%"> {{ item.tax_date.strftime('%d-%b-%Y') }}</td>
            <td style="width: 25.00%"> {{ item.managername }}</td>
            <td style="width: 10.00%"><a href="{{ url_for('util_bp.landlord', landlord_id=item.id) }}">view</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}