<!-- /templates/lease.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row flex-row-reverse">
        <div class="col-md-3">
            <a href="{{ url_for('rent_bp.rent', rent_id=lease.rent_id) }}"
               class="btn btn-block btn-tog button-icon arrow-left" role="button">back to rent</a>
        </div>
        <div class="col-md-3">
            <a href="{{ url_for('lease_bp.leases') }}"
               class="btn btn-block btn-tog button-icon arrow-left" role="button">back to leases</a>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label for="rentcode">rentcode:</label>
            <input type="text" class="form-control" name="rentcode" value="{{ lease.rentcode }}">
        </div>
        <div class="col-md-2">
            <label for="term">term in years:</label>
            <input type="text" class="form-control" name="term" value="{{ lease.term }}">
        </div>
        <div class="col-md-2">
            <label for="start_date">start date:</label>
            <input type="date" class="form-control" name="start_date" value="{{ lease.start_date }}">
        </div>
        <div class="col-md-2">
            <label for="start_rent">start rent:</label>
            <input type="text" class="form-control" name="start_rent" value="{{ lease.start_rent }}">
        </div>
        <div class="col-md-2">
            <label for="sale_value_k">improved value £K:</label>
            <input type="text" class="form-control" name="sale_value_k" value="{{ lease.sale_value_k }}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label for="uplift_id">uplift id:</label>
            <input type="text" class="form-control" name="uplift_id" value="{{ lease.uplift_id }}">
        </div>
        <div class="col-md-2">
            <label for="uplift_date">uplift date:</label>
            <input type="date" class="form-control" name="uplift_date" value="{{ lease.uplift_date }}">
        </div>
        <div class="col-md-2">
            <label for="uplift_years">uplift years:</label>
            <input type="text" class="form-control" name="uplift_years" value="{{ lease.LeaseUpType.years }}">
        </div>
        <div class="col-md-2">
            <label for="uplift_method">uplift method:</label>
            {{ widgets.combobox(name="uplift_method", items=methods, item_selected=lease.LeaseUpType.method) }}
        </div>
        <div class="col-md-2">
            <label for="uplift_value">uplift value:</label>
            <input type="text" class="form-control" name="uplift_value" value="{{ lease.LeaseUpType.value }}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label for="rent_cap">rent capped at:</label>
            <input type="text" class="form-control" name="rent_cap" value="{{ lease.rent_cap }}">
        </div>
        <div class="col-md-10">
            <label for="info">info:</label>
            <input type="text" class="form-control" name="info" value="{{ lease.info }}">
        </div>
		<div class="col-md-2">
            <input type="hidden" id="rent_id" name="rent_id" value = "{{ lease.rent_id }}">
        </div>
    </div>
    <div class="form-group row flex-row-reverse">
        <div class="col-md-2">
            <button type="button" id="edit_view" class="btn btn-block btn-secondary button-icon edit">edit</button>
        </div>
        <div class="col-md-2">
            <a href="{{ url_for('mail_bp.mail_dialog', rent_id=lease.rent_id, action='lease') }}"
               class="btn btn-block btn-primary" role="button">lex quotation</a>
        </div>
    </div>
    <div class="form-group row flex-row-reverse" id="save_delete" >
        <div class="col-md-2">
            <button type="submit" class="btn btn-block btn-success button-icon save">save changes</button>
        </div>
        <div class="col-md-2">
            <a href="{{ url_for('util_bp.delete_item', item_id=lease.id, item='lease', id_2=lease.rent_id) }}"
               onclick="return confirm('Are you sure you want to delete this lease?');"
               class="btn btn-block btn-warning button-icon trash" role="button">delete item</a>
        </div>
    </div>
</form>
{% endblock %}

