<!-- /templates/lease_extensions.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="target">
    <div class="row">
        <div class="col-md-8">
            {% if lease_exts|length > 0 %}
            <div class="table-fixed">
                <table class="table" id="lease_exts">
                    <thead>
                    <tr>
                        <th style="width: 20.00%">rentcode</th>
                        <th style="width: 26.00%">date</th>
                        <th style="width: 20.00%">value</th>
                        <th style="width: 17.00%">goto rent</th>
                        <th style="width: 17.00%">goto lease</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in lease_exts %}
                            <tr id="{{ item.id }}">
                                <td style="width: 20.00%">{{ item.lease.rent.rentcode }}</td>
                                <td style="width: 26.00%">{{ item.date.strftime('%d-%b-%Y') if item.date else 'none' }}</td>
                                <td style="width: 20.00%">{{ item.value }}</td>
                                <td style="width: 17.00%" class="vertical-align"><a href="{{ url_for('rent_bp.rent',
                                    rent_id=item.lease.rent_id) }}" class="btn btn-teal-light btn-round button-icon round circles"
                                    data-toggle="tooltip" title="goto rent" role="button"></a></td>
                                <td style="width: 17.00%" class="vertical-align"><a href="{{ url_for('lease_bp.lease',
                                    lease_id=item.lease_id) }}" class="btn btn-teal-light btn-round button-icon round circles"
                                    data-toggle="tooltip" title="goto lease" role="button"></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            {{ widgets.message_box(
            message="There are no lease extensions that match your search.",
            btn_text="reset search",
            btn_class="btn btn-block btn-primary button-icon sync",
            btn_url=url_for('lease_bp.lease_extensions', rentcode=rentcode) ) }}
            {% endif %}
        </div>
        <div class="col-md-4">
            <div class="sticky-top">
                <div class="card card-white">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">search</div>
                            <div class="col align-right"><b>{{ lease_exts|length }}</b> results</div>
                        </div>
                    </div>
                    <div class="card-body text-primary">
                        <div class="form-group row">
                            <div class="col">
                                <input id="form-rentcode" type="text" class="form-control" name="rentcode"
                                       data-toggle="tooltip"
                                       title="Starts with" placeholder="rentcode starts with"
                                       value="{{ rentcode }}">
                            </div>
                        </div>
                        <div class="form-group row" style="margin-bottom: 0px;">
                            <div class="col">
                                <div class="form-group row" style="margin-bottom: 1rem;">
                                    <div class="col-md-5" style="padding-right:5px;">
                                        <button class="btn btn-block btn-primary button-icon sync search-clear"
                                                onclick="return false;">clear
                                        </button>
                                    </div>
                                    <div class="col-md-7" style="padding-left:5px;">
                                        <button type="submit" class="btn btn-block btn-success  button-icon search"
                                                role="button">search
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-white" style="margin-top:1.5rem;">
                    <div class="card-header">other actions</div>
                    <div class="card-body text-primary">
                        <div class="form-group row" style="margin-bottom: 0px;">
                            <div class="col">
                                <button type="submit" formaction="{{ url_for('lease_bp.leases') }}"
                                        class="btn btn-block btn-primary  button-icon search" role="button">return to
                                    leases
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
$('.search-clear').click(function(e) {
    $('#form-rentcode').val('');
});
</script>
{% endblock %}
