{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row">
        <div class="col-md-3">
            <label for="filtername">filter:</label>
            {{ widgets.combobox(name="filtername", items=jfilters, item_selected=jfilters[0]) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <button type="submit" class="btn btn-block btn-success">load this saved filter</button>
        </div>
    </div>
</form>
{% endblock %}

