<!-- /templates/loan.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row">
        <div class="col-md-2">
            <label for="loancode">loan code:</label>
            <input type="text" class="form-control" name="loancode" value="{{ loan.code }}" readonly="true">
        </div>
        <div class="col-md-2">
            <label for="interest_rate">interest rate:</label>
            <input type="text" class="form-control" name="interest_rate"
                   value="{{ loan.interest_rate }}" readonly="true">
        </div>
        <div class="col-md-3">
            <label for="end_date">end date:</label>
            <input type="date" class="form-control" name="end_date" value="{{ loan.end_date }}" readonly="true">
        </div>
        <div class="col-md-3">
            <label for="frequency">frequency:</label>
            {{ widgets.combobox(name="frequency", items=freqdets, item_selected=loan.freqdet) }}
        </div>
        <div class="col-md-2">
            <label for="advarr">advance/Arrears:</label>
            {{ widgets.combobox(name="advarr", items=advarrdets, item_selected=loan.advarrdet) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label for="lender">lender:</label>
            <input type="text" class="form-control" name="lender" value="{{ loan.lender }}" readonly="true">
        </div>
        <div class="col-md-3">
            <label for="borrower">borrower:</label>
            <input type="text" class="form-control" name="borrower" value="{{ loan.borrower }}" readonly="true">
        </div>
        <div class="col-md-7">
            <label for="notes">notes:</label>
            <input type="text" class="form-control" name="notes" value="{{ loan.notes }}" readonly="true">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <label for="val_date">valuation date:</label>
            <input type="date" class="form-control" name="val_date" value="{{ loan.val_date }}" readonly="true">
        </div>
        <div class="col-md-2">
            <label for="valuation">valuation:</label>
            <input type="text" class="form-control" name="valuation" value="{{ loan.valuation }}" readonly="true">
        </div>
        <div class="col-md-2">
            <label for="interestpa">interest pa:</label>
            <input type="text" class="form-control" name="interestpa" value="{{ loan.interestpa }}" readonly="true">
        </div>
    </div>
    <div class="form-group row flex-row-reverse">
        <div class="col-md-2">
            <a href="{{ url_for('loan_bp.loans') }}"
               class="btn btn-block btn-primary" role="button">back to loans</a>
        </div>
        <div class="col-md-2">
            <button type="button" id="edit_view" class="btn btn-block btn-danger">edit</button>
        </div>
        <div class="col-md-3">
            <a href="{{ url_for('loan_bp.loanstat_dialog', id=loan.id) }}"
               class="btn btn-block btn-primary" role="button">Produce statement for this loan</a>
        </div>
    </div>
    <div class="form-group row flex-row-reverse" id="save_delete" >
        <div class="col-md-2">
            <button type="submit" class="btn btn-block btn-success">save changes</button>
        </div>
        <div class="col-md-2">
            <a href="{{ url_for('util_bp.delete_item', id=loan.id, item='loan') }}"
               onclick="return confirm('Are you sure you want to delete this loan?');"
               class="btn btn-block btn-warning" role="button">delete this loan</a>
        </div>
    </div>
</form>
{% endblock %}
