<!-- /templates/loanstatement.html  -->
{% extends 'base.html' %}

{% block app_content %}
<div class="container">
    <div class="row voffset2">
        <div class="col-lg-12">
            <h4 class="text-center">Loan statement for {{ loancode }} :</h4>
        </div>
    </div>
</div>
<div class="table-fixed">
    <table class="table" id="loanstatement">
        <thead>
        <tr>
            <th style="width: 10.00%">id</th>
            <th style="width: 10.00%">Date</th>
            <th style="width: 25.00%">Memo</th>
            <th style="width: 10.00%">Transaction</th>
            <th style="width: 10.00%">Rate</th>
            <th style="width: 10.00%">Interest</th>
            <th style="width: 15.00%">Add interest</th>
            <th style="width: 10.00%">Balance</th>
        </tr>
        </thead>
        <tbody>
        {% for item in loanstatement %}
        <tr id="{{ item.id }}">
            <td style="width: 10.00%">{{ item.id }}</td>
            <td style="width: 10.00%">{{ item.date.strftime('%d-%b-%Y') }}</td>
            <td style="width: 25.00%"> {{ item.memo }}</td>
            <td style="width: 10.00%"> {{ item.transaction }}</td>
            <td style="width: 10.00%"> {{ item.rate }}</td>
            <td style="width: 10.00%"> {{ item.interest }}</td>
            <td style="width: 15.00%"> {{ item.add_interest }}</td>
            <td style="width: 10.00%"> {{ item.balance }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
