<!-- /templates/mail_dialog.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row">
        <div class="col-md-4">
            Use the pre-set mailaddr option on the right, or choose another pre-set option:
        </div>
        <div class="col-md-8">
            <select class="form-control" name="mailaddr">
              <option value="{{ rent_mail.mailaddr }}" selected>{{ rent_mail.mailaddr }}</option>
              <option value="{{ rent_mail.tenantname }}, {{ rent_mail.propaddr }}">{{ rent_mail.tenantname }},
                  {{ rent_mail.propaddr }}</option>
              <option value="The owner/occupier, {{ rent_mail.propaddr }}">The owner/occupier,
                  {{ rent_mail.propaddr }}</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
    </div>
    <div class="form-group row">
		<div class="col-md-3">
            <input type="hidden" id="rent_id" name="rent_id" value = "{{ rent_mail.id }}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            or mail to a different existing or new agent:
        </div>
        <div class="col-md-8">
            <a href="{{ url_for('main_bp.agents') }}"
               class="btn btn-block btn-primary" role="button">find existing or add new agent</a>
        </div>
    </div>
    <div class="form-group row">
    </div>
    {% if action == "lease" %}
    <div class="form-group row">
        <div class="col-md-2">
            <label for="fh_rate">FH discount rate:</label>
            <input type="text" class="form-control" name="fh_rate" value="5.00">
        </div>
        <div class="col-md-2">
            <label for="gr_rate">GR discount rate:</label>
            <input type="text" class="form-control" name="gr_rate" value="6.50">
        </div>
        <div class="col-md-2">
            <label for="new_gr_a">new ground rent A:</label>
            <input type="text" class="form-control" name="new_gr_a" value="200.00">
        </div>
        <div class="col-md-2">
            <label for="new_gr_b">new ground rent B:</label>
            <input type="text" class="form-control" name="new_gr_b" value="100.00">
        </div>
        <div class="col-md-2">
            <label for="yp_low">new rent YP low:</label>
            <input type="text" class="form-control" name="yp_low" value="13.00">
        </div>
        <div class="col-md-2">
            <label for="yp_high">new rent YP low:</label>
            <input type="text" class="form-control" name="yp_high" value="17.00">
        </div>
    </div>
    <div class="form-group row">
    </div>
    {% endif %}
    <table class="table table-condensed">
        <thead>
        <tr>
            <th style="width: 10.00%">code</th>
            <th style="width: 70.00%">description</th>
            <th style="width: 10.00%">action</th>
            <th style="width: 10.00%">action</th>
        </tr>
        </thead>
        <tbody>
        {% for item in formletters %}
        <tr>
            <td style="width: 10.00%">{{ item.code }}</td>
            <td style="width: 70.00%">{{ item.description}}</td>
            <td>
                <button type="submit" formaction="{{ url_for('mail_bp.mail_edit', form_id=item.id, method='email',
                action=action) }}" class="btn btn-danger">email</button>
            </td>
            <td>
                <button type="submit" formaction="{{ url_for('mail_bp.mail_edit', form_id=item.id, method='letter',
                action=action) }}" class="btn btn-danger">post</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}
