{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row">
        <div class="col-md-4">
            <div class="alert alert-warning" role="alert">
              Use the pre-set mailaddr option on the right, or choose another pre-set option:
            </div>
        </div>
        <div class="col-md-8">
            <select class="form-control" name="mailaddr">
              <option value="{{ session['mailaddr'] }}" selected>{{ session['mailaddr'] }}</option>
              <option value="{{ session['tenantname'] }}, {{ session['propaddr'] }}">{{ session['tenantname'] }}, {{ session['propaddr'] }}</option>
              <option value="The owner/occupier, {{ session['propaddr'] }}">The owner/occupier, {{ session['propaddr'] }}</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <div class="alert alert-warning" role="alert">
              Or mail to a different existing or new agent:
            </div>
        </div>
        <div class="col-md-8">
            <a href="/mail/0?action=new" class="btn btn-block btn-primary" role="button">Find existing or add new agent</a>
        </div>
    </div>
    <div class="form-group row">
    </div>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th style="width: 8.00%">Letter_id</th>
            <th style="width: 10.00%">Letter_code</th>
            <th style="width: 50.00%">Part 1</th>
            <th style="width: 25.00%">Part 2</th>
            <th style="width: 9.00%">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for item in letters %}
        <tr>
            <td style="width: 8.00%">{{ item.id }}</td>
            <td style="width: 10.00%">{{ item.code }}</td>
            <td style="width: 50.00%">{{ item.part1 }}</td>
            <td style="width: 25.00%"> {{ item.part2 }}</td>
            <td>
                <button type="submit" class="btn btn-danger" name="goBtn" value="{{ item.id }}">Go</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}
