<!-- /templates/money.html  -->
{% extends 'base.html' %}

{% block app_content %}
<form method="POST" id="money_form">
    <div class="form-group row flex-row-reverse">
        <div class="col-md-3">
            <a href="{{ url_for('money_bp.money_account', id=0) }}"
               class="btn btn-block btn-danger" role="button"> add new account</a>
        </div>
        <div class="col-md-3">
            <a href="{{ url_for('money_bp.money_items', acc_id=0) }}"
               class="btn btn-block btn-success" role="button">transactions for all accounts</a>
        </div>
        <div class="col-md-5">
            click right tab to show transactions for an account below
        </div>
    </div>
</form>
<div class="table-fixed">
    <table class="table" id="money_table">
        <thead>
        <tr>
            <th style="width: 10.00%">id</th>
            <th style="width: 30.00%">account</th>
            <th style="width: 15.00%">action</th>
            <th style="width: 15.00%">cleared</th>
            <th style="width: 15.00%">uncleared</th>
            <th style="width: 15.00%">action</th>
        </tr>
        </thead>
        <tbody>
        {% for item in moneydets %}
        <tr id="{{ item.id }}">
            <td style="width: 10.00%">{{ item.id }}</td>
            <td style="width: 30.00%"> {{ item.accdesc }}</td>
            <td style="width: 15.00%"><a href="{{ url_for('money_bp.money_account',
            id=item.id) }}">view account</a></td>
            <td style="width: 15.00%"> {{ item.cbalance }}</td>
            <td style="width: 15.00%"> {{ item.ubalance }}</td>
            <td style="width: 15.00%"><a href="{{ url_for('money_bp.money_items',
            acc_id=item.id) }}">view transactions</a></td>
        </tr>
        {% endfor %}
        <tr>
        </tr>
        <tr>
            <td style="width: 10%"></td>
            <td style="width: 30.00%">total for all accounts</td>
            <td style="width: 15.00%"></td>
            <td style="width: 15.00%"> {{ accsums.cleared }}</td>
            <td style="width: 15.00%"> {{ accsums.uncleared }}</td>
            <td style="width: 15.00%"></td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
