<!-- /templates/money_item.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="money_item">
    <div class="form-group row">
        <div class="col-md-3">
            <label for="paydate">pay date:</label>
            <input type="date" class="form-control" name="paydate" value="{{ money_item.date }}" readonly="true">
        </div>
        <div class="col-md-2">
            <label for="amount">total:</label>
            <input type="text" class="form-control" name="amount" value="{{ money_item.amount }}" readonly="true">
        </div>
        <div class="col-md-3">
            <label for="payer">payer:</label>
            <input type="text" class="form-control" name="payer" value="{{ money_item.payer }}" readonly="true">
        </div>
        <div class="col-md-2">
            <label for="number">number:</label>
            <input type="text" class="form-control" name="number" value="{{ money_item.num }}" readonly="true">
        </div>
        <div class="col-md-2">
            <label for="cleared">cleared:</label>
            {{ widgets.combobox(name="cleared", items=money_dict.cleareds, item_selected=cleared) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label for="memo">memo:</label>
            <input type="text" class="form-control" name="memo" value="" readonly="true">
        </div>
        <div class="col-md-3">
            <label for="category">category:</label>
            {{ widgets.combobox(name="category", items=money_dict.cats, item_selected=money_item.cat_name) }}
        </div>
        <div class="col-md-3">
            <label for="bankaccount">bank account:</label>
            {{ widgets.combobox(name="bankaccount", items=money_dict.bankaccs, item_selected=money_item.accdesc) }}
        </div>
    </div>
    <div class="form-group row flex-row-reverse">
        <div class="col-md-2">
            <a href="{{ url_for('money_bp.money_items', acc_id=money_item.acc_id) }}"
               class="btn btn-block btn-primary" role="button">back to items</a>
        </div>
        <div class="col-md-2">
            <button type="button" id="edit_view" class="btn btn-block btn-danger">edit</button>
        </div>
    </div>
    <div class="form-group row flex-row-reverse" id="save_delete" >
        <div class="col-md-2">
            <button type="submit" class="btn btn-block btn-success">save changes</button>
        </div>
        <div class="col-md-2">
            <button type="submit" formaction="{{ url_for('money_bp.money_item', money_item_id=0) }}"
                    class="btn btn-block btn-success">save as new item</button>
        </div>
        <div class="col-md-2">
            <a href="{{ url_for('money_bp.money_item_delete', money_item_id=money_item.id, acc_id=money_item.acc_id) }}"
               onclick="return confirm('Are you sure you want to delete this transaction?');"
               class="btn btn-block btn-warning" role="button">delete transaction</a>
        </div>
    </div>
</form>
{% endblock %}
