{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row">
        <div class="col-md-2">
            <label for="payee">Payee:</label>
            <input type="text" class="form-control" name="payee" value="">
        </div>
        <div class="col-md-2">
            <label for="memo">Memo:</label>
            <input type="text" class="form-control" name="memo" value="">
        </div>
        <div class="col-md-2">
            <label for="category">category:</label>
            {{ widgets.combobox(name="category", items=cats, item_selected=category) }}
        </div>
        <div class="col-md-2">
            <label for="account">Account:</label>
            {{ widgets.combobox(name="account", items=accounts, item_selected=account) }}
        </div>
        <div class="col-md-2">
            <label for="cleared">cleared:</label>
            {{ widgets.combobox(name="cleared", items=cleareds, item_selected=transaction.cleared) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label for="balance">Balance:</label>
            <input type="text" class="form-control" name="balance" value="{{ balance }}">
        </div>
    </div>
</form>
</div><div class="container">
    <div class="row voffset2">
        <div class="col-lg-12">
            <h4 class="text-center">Filtered to show:</h4>
        </div>
    </div>
</div>
<div class="table-fixed">
    <table class="table" id="rentprops">
        <thead>
        <tr>
            <th style="width: 8.00%">id</th>
            <th style="width: 8.00%">num</th>
            <th style="width: 8.00%">Date</th>
            <th style="width: 10.00%">Payee</th>
            <th style="width: 8.00%">Amount</th>
            <th style="width: 15.00%">Memo</th>
            <th style="width: 8.00%">Cleared</th>
            <th style="width: 15.00%">Account</th>
            <th style="width: 15.00%">Category</th>
            <th style="width: 5.00%"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in rentprops %}
        <tr id="{{ item.id }}">
            <td style="width: 8.00%">{{ item.id }}</td>
            <td style="width: 8.00%"> {{ item.num }}</td>
            <td style="width: 8.00%"> {{ item.date }}</td>
            <td style="width: 10.00%"> {{ item.payee }}</td>
            <td style="width: 8.00%"> {{ item.amount }}</td>
            <td style="width: 15.00%">{{ item.memo }}</td>
            <td style="width: 8.00%"> {{ item.cleared }}</td>
            <td style="width: 15.00%"> {{ item.account }}</td>
            <td style="width: 15.00%"> {{ item.category }}</td>
            <td style="width: 5.00%"><a href="/money_edit/{{ item.id }}?action=edit">View/edit</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
