{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row">
        <div class="col-md-2">
            <label for="paydate">Payment date:</label>
            <input type="date" class="form-control" name="paydate" value="{{ moneyitem.date }}">
        </div>
        <div class="col-md-2">
            <label for="amount">total:</label>
            <input type="text" class="form-control" name="amount" value="{{ moneyitem.amount }}">
        </div>
        <div class="col-md-4">
            <label for="payer">payer:</label>
            <input type="text" class="form-control" name="payer" value="{{ moneyitem.payer }}">
        </div>
        <div class="col-md-2">
            <label for="number">Number:</label>
            <input type="text" class="form-control" name="num" value="{{ moneyitem.num }}">
        </div>
        <div class="col-md-2">
            <label for="cleared">cleared:</label>
            {{ widgets.combobox(name="cleared", items=cleareds, item_selected=moneyitem.cleared) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label for="memo">Memo:</label>
            <input type="text" class="form-control" name="memo" value="">
        </div>
        <div class="col-md-3">
            <label for="category">category:</label>
            {{ widgets.combobox(name="category", items=cats, item_selected=moneyitem.cat_name) }}
        </div>
        <div class="col-md-3">
            <label for="bankaccount">Bank account:</label>
            {{ widgets.combobox(name="bankaccount", items=bankaccs, item_selected=moneyitem.accdesc) }}
        </div>
    </div>
    <div class="form-group row">
        {% if action == "view" %}
        <div class="col-md-3">
            <a href="/landlord/{{ moneyitem.id }}?action=edit" class="btn btn-block btn-primary" role="button">Edit this transaction</a>
        </div>
        <div class="col-md-3">
            <a href="/money_item/{{ moneyitem.id }}?action=clone" class="btn btn-block btn-danger" role="button">Clone this transaction</a>
        </div>
        <div class="col-md-3">
            <a href="/money_item/0?action=new" class="btn btn-block btn-primary" role="button">Add new transaction</a>
        </div>
        {% elif action == "edit" %}
        <div class="col-md-3">
            <a href="/deleteitem/{{ moneyitem.id }}?item=moneyitem"
               onclick="return confirm('Are you sure you want to delete this transaction?');"
               class="btn btn-block btn-warning" role="button">Delete this transaction</a>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-block btn-success">Save changes</button>
        </div>
        {% else %}
        <div class="col-md-3">
            <button type="submit" class="btn btn-block btn-success">Save as new transaction</button>
        </div>
        {% endif %}
    </div>
</form>
{% endblock %}
