{% extends 'base.html' %}

{% block content %}
<form method="POST" id="target">
    <div class="form-row">
        <div class="col-sm-2">
            <label for="rentcode">Rent code:</label>
            <input type="text" class="form-control" id="rentcode" name="rentcode" value="{{ }}">
        </div>
        <div class="col">
            <label for="propaddr">Property address:</label>
            <input type="text" class="form-control" id="propaddr" name="propaddr" value="{{ }}">
        </div>
    </div>
    <br/>
    <div class="form-row">
        <div class="col">
            <label for="landlord">landlord:</label>
            <select class="form-control" name="landlord">
                <option value="{{landlords[0]}}" selected>{{landlords[0]}}</option>
                {% for landlord in landlords[1:] %}
                <option value="{{landlord}}">{{landlord}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm4">
            <label for="tenure">tenure:</label>
            <select class="form-control" name="tenure">
                <option value="{{tenures[0]}}" selected>{{tenures[0]}}</option>
                {% for tenure in tenures[1:] %}
                <option value="{{tenure}}">{{tenure}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm4">
            <label for="mailto">mailto:</label>
            <select class="form-control" name="mailto">
                <option value="{{mailtos[0]}}" selected>{{mailtos[0]}}</option>
                {% for mailto in mailtos[1:] %}
                <option value="{{mailto}}">{{mailto}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br/>
    <div class="form-row">
        <div class="col">
            <label for="tenantname">Tenant name:</label>
            <input type="text" class="form-control" id="tenantname" name="tenantname" value="{{ }}">
        </div>
        <div class="col-sm-2">
            <label for="source">Source:</label>
            <input type="text" class="form-control" id="source" name="source" value="{{ }}">
        </div>
    </div>
    <br/>
    <div class="form-row">
        <div class="col">
            <label for="note">Notes:</label>
            <input type="text" class="form-control" id="note" name="note" value="{{ }}">
        </div>
        <div class="col">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email" value="{{ }}">
        </div>
    </div>
    <br/>
    <div class="form-row">
        <div class="col">
            <label for="agent">Agent:</label>
            <input type="text" class="form-control" id="agent" name="agent" value="{{ }}">
        </div>
    </div>
    <br/>
    <div class="form-row">
        <div class="col-sm-2">
            <label for="rentpa">Rent pa:</label>
            <input type="text" class="form-control" id="rentpa" name="rentpa" value="{{ 0.00 }}">
        </div>
        <div class="col-sm-2">
            <label for="arrears">Rent arrears:</label>
            <input type="text" class="form-control" id="arrears" name="arrears" value="{{ 0.00 }}">
        </div>
        <div class="col-sm-2">
            <label for="lastrentdate">Last rent date:</label>
            <input type="text" class="form-control" id="lastrentdate" name="lastrentdate" value="{{ 2018-12-18 }}">
        </div>
        <div class="col-sm2">
            <label for="frequency">frequency:</label>
            <select class="form-control" name="frequency">
                <option value="{{freqs[0]}}" selected>{{freqs[0]}}</option>
                {% for freq in freqs[1:] %}
                <option value="{{freq}}">{{freq}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-2">
            <label for="advarr">Advance/Arrears:</label>
            <select class="form-control" name="advarr">
                <option value="{{advarrs[0]}}" selected>{{advarrs[0]}}</option>
                {% for advarr in advarrs[1:] %}
                <option value="{{advarr}}">{{advarr}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br/>
    <div class="form-row">
        <div class="col-sm-2">
            <label for="deedtype">Deed type:</label>
            <select class="form-control" name="deedtype">
                <option value="{{deedcodes[0]}}" selected>{{deedcodes[0]}}</option>
                {% for deedcode in deedcodes[1:] %}
                <option value="{{deedcode}}">{{deedcode}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-2">
            <label for="salegrade">Sale grade:</label>
            <select class="form-control" name="salegrade">
                <option value="{{salegrades[0]}}" selected>{{salegrades[0]}}</option>
                {% for salegrade in salegrades[1:] %}
                <option value="{{salegrade}}">{{salegrade}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-2">
            <label for="price">Price:</label>
            <input type="text" class="form-control" id="price" name="price" value="{{ 0.00 }}">
        </div>
        <div class="col-sm-2">
            <label for="status">Status:</label>
            <select class="form-control" name="status">
                <option value="{{statuses[0]}}" selected>{{statuses[0]}}</option>
                {% for status in statuses[1:] %}
                <option value="{{status}}">{{status}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br/>
    <div class="form-row">
        <br/>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-block btn-primary">Submit</button>
        </div>
    </div>
</form>
{% endblock %}

