<!-- /templates/payrequest.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="payrequests">
    <div class="form-group row">
        <div class="col-md-2">
            <label for="rentcode">rentcode starts with:</label>
            <input type="text" class="form-control" name="rentcode" data-toggle="tooltip"
                   title="Starts with" value="{{ rentcode }}">
        </div>
        <div class="col-md-2">
            <label for="tenantname">renant name:</label>
            <input type="text" class="form-control" name="tenantname" data-toggle="tooltip"
                   title="includes" value="{{ tenantname }}">
        </div>
        <div class="col-md-2">
            <label for="propaddr">property details:</label>
            <input type="text" class="form-control" name="propaddr" data-toggle="tooltip"
                   title="includes" value="{{ propaddr }}">
        </div>
        <div class="col-md-2">
            <label for="source">source:</label>
            <input type="text" class="form-control" name="source" data-toggle="tooltip"
                   title="includes" value="{{ source }}">
        </div>
        <div class="col-md-2">
            <label for="agentdetail">agent details:</label>
            <input type="text" class="form-control" name="agentdetail" data-toggle="tooltip"
                   title="includes" value="{{ agentdetail }}">
        </div>
        <div class="col-md-2">
            <label for="count">count:</label>
            <input type="text" class="form-control" name="count" value="{{ rent_s|length }}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label for="enddate">end date:</label>
            <input type="date" class="form-control" name="enddate" value="{{ enddate }}">
        </div>
        <div class="col-md-2">
            <label for="runsize">run size:</label>
            <input type="text" class="form-control" name="runsize" value="{{ runsize }}">
        </div>
        <div class="col-md-2">
            <label for="rentpa">rent pa:</label>
            <input type="text" class="form-control" name="rentpa" data-toggle="tooltip"
                   title="Example = 100" value="{{ rentpa }}">
        </div>
        <div class="col-md-2">
            <label for="arrears">rent arrears:</label>
            <input type="text" class="form-control" name="arrears" data-toggle="tooltip"
                   title="Example < 100" value="{{ arrears }}">
        </div>
        <div class="col-md-2">
            <label for="rentperiods">rent periods owing:</label>
            <input type="text" class="form-control" name="rentperiods" data-toggle="tooltip"
                   title="Example > 5" value="{{ rentperiods }}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <label for="landlord">landlord:</label>
            {{ widgets.multiselect_as_select(name="landlord", items=landlords, items_selected=landlord or landlords) }}
        </div>
        <div class="col-md-2">
            <label for="tenure">tenure:</label>
            {{ widgets.multiselect_as_select(name="tenure", items=tenuredets, items_selected=tenure or tenuredets) }}
        </div>
        <div class="col-md-2">
            <label for="salegrade">sale grade:</label>
            {{ widgets.multiselect_as_select(name="salegrade", items=salegradedets,
            items_selected=salegrade or salegradedets) }}
        </div>
        <div class="col-md-2">
            <label for="status">status:</label>
            {{ widgets.multiselect_as_select(name="status", items=statusdets, items_selected=status or statusdets) }}
        </div>
        <div class="form-group col-md-2">
            <label for="actype">actype:</label>
            {{ widgets.multiselect_as_select(name="actype", items=actypedets, items_selected=actype or actypedets) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label for="agents">mailto agent:</label>
            {{ widgets.combobox(name="agents", items=options, item_selected=options[0]) }}
        </div>
        <div class="col-md-2">
            <label for="charges">charges:</label>
            {{ widgets.combobox(name="charges", items=options, item_selected=options[0]) }}
        </div>
        <div class="col-md-2">
            <label for="emailable">emailable:</label>
            {{ widgets.combobox(name="emailable", items=options, item_selected=options[0]) }}
        </div>
        <div class="col-md-2">
            <label for="forsale">for sale:</label>
            {{ widgets.combobox(name="forsale", items=options, item_selected=options[0]) }}
        </div>
        <div class="col-md-3">
            <label for="prdelivery">pR delivery:</label>
            {{ widgets.multiselect(name="prdelivery", items=prdeliveries, items_selected=prdelivery or prdeliveries) }}
        </div>
    </div>
    <div class="form-group row flex-row-reverse">
        <div class="col-md-3">
            <button type="submit" formaction="/payrequests/?action=filter"
                    class="btn btn-block btn-success ">filter</button>
        </div>
        <div class="col-md-2">
            <a href="/load_query" class="btn btn-block btn-primary" role="button">load saved filter:</a>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" name="jname" placeholder="query name" value="{{ jname }}">
        </div>
        <div class="col-md-3">
            <button type="submit" formaction="/payrequests/?action=save"
                    class="btn btn-block btn-danger ">save query as</button>
        </div>
    </div>

    <div class="form-group row flex-row-reverse">
        <div class="col-md-3">
            <button type="submit" formaction="{{ url_for('pr_bp.pr_dialog', action='run') }}"
                    class="btn btn-block btn-success ">create pay requests</button>
        </div>
    </div>
</form>
<div class="table-fixed">
    <table class="table" id="rent_s">
        <thead>
        <tr>
            <th style="width: 8.00%">rentcode</th>
            <th style="width: 8.00%">rentpa</th>
            <th style="width: 8.00%">arrears</th>
            <th style="width: 8.00%">nextrentdate</th>
            <th style="width: 15.00%">tenantname</th>
            <th style="width: 20.00%">propaddr</th>
            <th style="width: 8.00%">source</th>
            <th style="width: 20.00%">agent details</th>
            <th style="width: 5.00%"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in rent_s %}
        <tr id="{{ item.id }}">
            <td style="width: 8.00%">{{ item.rentcode }}</td>
            <td style="width: 8.00%"> {{ item.rentpa }}</td>
            <td style="width: 8.00%"> {{ item.arrears }}</td>
            <td style="width: 8.00%"> {{ item.nextrentdate }}</td>
            <td style="width: 15.00%"> {{ item.tenantname }}</td>
            <td style="width: 20.00%">{{ item.propaddr }}</td>
            <td style="width: 8.00%"> {{ item.source }}</td>
            <td style="width: 20.00%"> {{ item.detail }}</td>
            <td style="width: 5.00%"><a href="{{ url_for('rent_bp.rent', rent_id=item.id) }}">view</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
