{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row flex-row-reverse">
        <div class="col-md-3">

        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="table-fixed">
                <table class="table table-head table-narrow">
                    <thead>
                    <tr>
                        <td>batch details</td>
                    </tr>
                    </thead>
                </table>
                <table class="table table-base table-narrow">
                    <tbody>
                    <tr>
                        <td class="td-title vertical-align" style="width: 12.00%">date and time</td>
                        <td class="vertical-align">{{ pr_batch.datetime.strftime('%d-%b-%Y %H:%M') }}</td>
                    </tr>
                    <tr>
                        <td class="td-title vertical-align" style="width: 12.00%">runcode</td>
                        <td class="vertical-align">{{ pr_batch.code }}</td>
                    </tr>
                    <tr>
                        <td class="td-title vertical-align" style="width: 12.00%">size</td>
                        <td class="vertical-align">{{ pr_batch.size }}</td>
                    </tr>
                    <tr>
                        <td class="td-title vertical-align" style="width: 12.00%">status</td>
                        <td class="vertical-align">{{ pr_batch.status }}</td>
                    </tr>
                    <tr>
                        <td class="td-title vertical-align" style="width: 12.00%">other details</td>
                        <td class="vertical-align">
                            <span>
                            {% if pr_complete and pr_complete|length > 0 %}
                                <b>{{ pr_complete|length }}</b> pay request(s) were created successfully.
                            {% endif %}
                            {% if pr_error and pr_error|length > 0 %}
                                <b>{{ pr_error|length }}</b> pay request(s) failed.
                            {% endif %}
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% if pay_requests %}
            <div class="table-fixed" style="margin-top:1rem;">
                <table class="table table-head">
                    <thead>
                    <tr>
                        <th style="width: 12.00%">rentcode</th>
                        <th style="width: 28.00%">summary</th>
                        <th style="width: 11.00%">rent date</th>
                        <th style="width: 39.00%">total due</th>
                        <th style="width: 10.00%">delivered</th>
                    </tr>
                    </thead>
                </table>
                <table class="table table-base">
                    <tbody>
                    {% for item in pay_requests %}
                    <tr id="{{ item.id }}">
                        <td style="width: 12.00%"> {{ item.rentcode }}
                        </td>
                        <td style="width: 28.00%"> {{ item.summary }}</td>
                        <td style="width: 11.00%"> {{ item.rent_date.strftime('%d-%b-%Y') if item.rent_date else 'none'
                            }}
                        </td>
                        <td style="width: 9.00%"> {{ item.total_due }}</td>
                        <td style="width: 11.00%" class="vertical-align"><a
                                href="{{ url_for('pr_bp.pr_file', pr_id=item.id) }}"
                                class="btn btn-teal-light btn-small button-icon circles"
                                role="button">view</a>
                        </td>
                        <td style="width: 22.00%" class="vertical-align">
                            <a target="_blank" href="{{ url_for('pr_bp.pr_print', pr_id=item.id) }}"
                               class="btn btn-primary btn-small button-icon letter" role="button">print
                            </a>
                        </td>
                        <td style="width: 7.00%" class="vertical-align">
                            {% if item.delivered %}
                            <a href="{{ url_for('pr_bp.pr_delivery', pr_id=item.id, rent_id=item.rent_id, delivered=False) }}"
                               class="btn btn-success btn-round button-icon round check"
                               data-toggle="tooltip"
                               title="Pay request has been delivered. Select to change to 'undelivered'"
                               role="button"></a>
                            {% else %}
                            <a href="{{ url_for('pr_bp.pr_delivery', pr_id=item.id, rent_id=item.rent_id, delivered=True) }}"
                               class="btn btn-danger btn-round button-icon round cross"
                               data-toggle="tooltip"
                               title="Pay request is not yet delivered. Select to change to 'delivered'"
                               role="button"></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="boxed boxed-center boxed-blue" style="margin-top:1rem;">
                Pay requests for this batch have been undone.
            </div>
            {% endif %}
        </div>
        <div class="col-md-3">
            <div class="card card-white sticky-top">
                <div class="card-header">
                    <div class="row">
                        <div class="col"><span>options</span>
                        </div>
                    </div>
                </div>
                <div class="card-body text-primary">
                    <div class="form-group row" style="margin-bottom:0px;">
                        <div class="col">
                        <a href="{{ url_for('pr_bp.pr_undo_batch', batch_id=pr_batch.id) }}"
                           class="btn btn-block btn-danger button-icon trash" role="button">undo batch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}



