{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row flex-row-reverse">
        <div class="col-md-3">

        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="table-fixed">
                <table class="table table-head table-narrow table-red-light">
                    <thead>
                    <tr>
                        <td>batch details</td>
                    </tr>
                    </thead>
                </table>
                <table class="table table-base table-narrow">
                    <tbody>
                    <tr>
                        <td class="td-title vertical-align" style="width: 12.00%">date and time</td>
                        <td class="vertical-align">{{ pr_batch.time_date.strftime('%d-%b-%Y %H:%M') }}</td>
                    </tr>
                    <tr>
                        <td class="td-title vertical-align" style="width: 12.00%">runcode</td>
                        <td class="vertical-align">{{ pr_batch.code }}</td>
                    </tr>
                    <tr>
                        <td class="td-title vertical-align" style="width: 12.00%">size</td>
                        <td class="vertical-align">{{ pr_batch.size }}</td>
                    </tr>
                    <tr>
                        <td class="td-title vertical-align" style="width: 12.00%">status</td>
                        <td class="vertical-align">{{ pr_batch.status }}</td>
                    </tr>
                    {% if pr_complete or pr_error %}
                    <tr>
                        <td class="td-title vertical-align" style="width: 12.00%">other details</td>
                        <td class="vertical-align">
                            <span>
                            {% if pr_complete and pr_complete|length > 0 %}
                                <b>{{ pr_complete|length }}</b> pay request(s) were created successfully.
                            {% endif %}
                            {% if pr_error and pr_error|length > 0 %}
                                <b>{{ pr_error|length }}</b> pay request(s) failed.
                            {% endif %}
                            </span>
                        </td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            {% if pay_requests %}
            <div class="table-fixed" style="margin-top:1rem;">
                <table class="table table-head">
                    <thead>
                    <tr>
                        <th style="width: 10.00%">rentcode</th>
                        <th style="width: 25.00%">summary</th>
                        <th style="width: 11.00%">rent date</th>
                        <th style="width: 10.00%">total due</th>
                        <th style="width: 10.00%">deliver by</th>
                        <th style="width: 22.00%">email address</th>
                        <th style="width: 5.00%"></th>
                        <th style="width: 7.00%">delivery</th>
                    </tr>
                    </thead>
                </table>
                <table class="table table-base">
                    <tbody>
                    {% for item in pay_requests %}
                    <tr id="{{ item.id }}">
                        <td style="width: 10.00%" class="vertical-align">
                            <a href="{{ url_for('rent_bp.rent', rent_id=item.rent.id, nav='batch', nav_id=pr_batch.id) }}"
                               class="btn btn-teal-light btn-small"
                               data-toggle="tooltip" title="view rent" role="button">{{ item.rent.rentcode }}</a>

                        </td>
                        <td style="width: 25.00%" class="vertical-align"> {{ item.summary }}</td>
                        <td style="width: 11.00%" class="vertical-align"> {{ item.rent_date.strftime('%d-%b-%Y')
                            if item.rent_date else 'none' }}
                        </td>
                        <td style="width: 10.00%" class="vertical-align"> {{ item.total_due }}</td>
                        <td style="width: 10.00%" class="vertical-align">
                            {{ PrDeliveryTypes.get_name(item.delivery_method) }}
                        </td>
                        <td style="width: 22.00%" class="vertical-align">
                            {% if item.delivery_method == 1 or 3 %}
                            {{ item.rent.email }}
                            {% endif %}
                        </td>
                        <td style="width: 5.00%" class="vertical-align">
                            <a target="_blank" href="{{ url_for('pr_bp.pr_print', pr_id=item.id) }}"
                               data-toggle="tooltip" title="print this pay request"
                               class="btn btn-primary btn-round button-icon round letter" role="button">
                            </a>
                        </td>
                        <td style="width: 7.00%" class="vertical-align">
                            {% if item.delivered %}
                            delivered
                            {% else %}
                            pending
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="boxed boxed-center boxed-blue" style="margin-top:1rem;">
                Pay requests for this batch have been undone.
            </div>
            {% endif %}
        </div>
        <div class="col-md-3">
            <div class="sticky-top">
                <div class="card card-blue" style="margin-bottom:1rem;">
                    <a href="#print_batch_card" data-toggle="collapse" aria-expanded="false"
                       aria-controls="print_batch_card"
                       class="btn btn-block btn-primary button-icon letter" role="button">
                        print post pay requests</a>
                    <div id="print_batch_card" class="collapse">
                        <div class="card-body text-primary">
                            <div class="form-group row">
                                <div class="col-md-4" style="margin:auto;">
                                    sort by
                                </div>
                                <div class="col-md-8">
                                    {{ widgets.combobox(name="pr_template", items=['rentid']) }}
                                </div>
                            </div>
                            <span><hr></span>
                            <div class="form-group row" style="margin-bottom: 0px;">
                                <div class="col">
                                    <a href="{{ url_for('pr_bp.pr_batch_post', batch_id=pr_batch.id) }}" target="_blank"
                                       class="btn btn-block btn-primary button-icon letter" role="button">print
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="btn btn-block btn-secondary button-icon cross"
                                       role="button" href="#print_batch_card" data-toggle="collapse"
                                       aria-expanded="false"
                                       aria-controls="print_batch_card">cancel
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-green" style="margin-bottom:1rem;">
                    <a href="#email_batch_card" data-toggle="collapse" aria-expanded="false"
                       aria-controls="email_batch_card"
                       class="btn btn-block btn-success button-icon arrow-right" role="button">
                        send email pay requests</a>
                    <div id="email_batch_card" class="collapse">
                        <div class="card-body text-primary">
                            <div class="form-group row">
                                <div class="col">
                                    Send emails?
                                </div>
                            </div>
                            <div class="form-group row" style="margin-bottom: 0px;">
                                <div class="col">
                                    <a href="{{ url_for('pr_bp.pr_batch_email', batch_id=pr_batch.id) }}"
                                       target="_blank"
                                       class="btn btn-block btn-success button-icon arrow-right" role="button">email
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="btn btn-block btn-secondary button-icon cross"
                                       role="button" href="#email_batch_card" data-toggle="collapse"
                                       aria-expanded="false"
                                       aria-controls="email_batch_card">cancel
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-white" style="margin-top:1rem;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col"><span>other options</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-primary">
                        <div class="form-group row" style="margin-bottom:0px;">
                            <div class="col">
                                <a data-toggle="modal" data-target="#modal_undo_batch"
                                   class="btn btn-block btn-danger button-icon trash" role="button">undo batch</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ widgets.modal_action(
    body="Are you sure you want to undo this batch?",
    id="modal_undo_batch",
    btn_class="btn btn-block btn-danger button-icon trash",
    btn_text="undo batch",
    btn_url=url_for('pr_bp.pr_undo_batch', batch_id=pr_batch.id),
    form="true",
    title="warning"
    ) }}
</form>
{% endblock %}



