<!-- /templates/pr_main.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="pr_main">
    <div class="form-group row flex-row-reverse">
        <div class="col-md-3">
            <button type="submit" formaction="{{ url_for('pr_bp.payrequests', action='filter') }}"
                    class="btn btn-block btn-success ">filter</button>
        </div>
        <div class="col-md-3">
            <button type="submit" formaction="{{ url_for('pr_bp.payrequests', action='run') }}"
                    class="btn btn-block btn-success ">create pay requests</button>
        </div>
    </div>
</form>
<div class="table-fixed">
    <table class="table" id="rent_s">
        <thead>
        <tr>
            <th style="width: 8.00%">rentcode</th>
            <th style="width: 8.00%">rentpa</th>
            <th style="width: 8.00%">arrears</th>
            <th style="width: 8.00%">nextrentdate</th>
            <th style="width: 15.00%">tenantname</th>
            <th style="width: 20.00%">propaddr</th>
            <th style="width: 8.00%">source</th>
            <th style="width: 20.00%">agent details</th>
            <th style="width: 5.00%"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in rent_s %}
        <tr id="{{ item.id }}">
            <td style="width: 8.00%">{{ item.rentcode }}</td>
            <td style="width: 8.00%"> {{ item.rentpa }}</td>
            <td style="width: 8.00%"> {{ item.arrears }}</td>
            <td style="width: 8.00%"> {{ item.nextrentdate }}</td>
            <td style="width: 15.00%"> {{ item.tenantname }}</td>
            <td style="width: 20.00%">{{ item.propaddr }}</td>
            <td style="width: 8.00%"> {{ item.source }}</td>
            <td style="width: 20.00%"> {{ item.detail }}</td>
            <td style="width: 5.00%"><a href="{{ url_for('rent_bp.rent_', id=item.id) }}">view</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
