<!-- /templates/properties.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
{% if rent_id != 0 %}
<div class="form-group row flex-row-reverse">
    <div class="col-md-3">
        <a href="{{ url_for('rent_bp.rent', rent_id=rent_id) }}"
           class="btn btn-block btn-tog button-icon arrow-left" role="button">back to rent</a>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-9">
        <div class="table-fixed">
            <table class="table" id="properties">
                <thead>
                <tr>
                    <th style="width: 10.00%">rentcode</th>
                    <th style="width: 70.00%">address</th>
                    <th style="width: 15.00%">property type</th>
                    <th style="width: 5.00%"></th>
                </tr>
                </thead>
                <tbody>
                {% for item in properties %}
                <tr id="{{ item.id }}">
                    <td style="width: 10.00%"> {{ item.rent.rentcode }}</td>
                    <td style="width: 70.00%"> {{ item.propaddr }}</td>
                    <td style="width: 15.00%"> {{ item.proptype }}</td>
                    <td style="width: 5.00%" class="vertical-align"><a href="{{ url_for('util_bp.property',
            prop_id=item.id, rentcode=item.rentcode) }}"
                                                                        class="btn btn-teal-light btn-round button-icon round circles"
                                                                        role="button"></a>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-white" style="margin-bottom: 1rem;">
            {% if rent_id != 0 %}
            <div class="card-header">
                <div class="row">
                    <div class="col">actions</div>
                </div>
            </div>
            <div class="card-body text-primary">
                <a href="#" id="edit_property" data-toggle="modal"
                           data-target="#new_property_modal" class="btn btn-primary btn-block button-icon plus"
                           role="button">new property for this rent</a>
            </div>
            {% else %}
            <div class="card-header">
                <div class="row">
                    <div class="col">search</div>
                    <div class="col align-right"><b>{{ properties|length }}</b> results</div>
                </div>
            </div>
            <div class="card-body text-primary">
                <form method="POST" id="target">
                    <div class="form-group row">
                        <div class="col">
                            <input type="text" class="form-control" name="address" placeholder="address"
                                   value="{{ fdict.address }}">
                            <input type="text" class="form-control" name="rentcode" placeholder="rentcode"
                                   value="{{ fdict.rentcode }}">
                            <div style="margin-top: 1rem;">
                                {{ widgets.combobox(name="proptype", items=PropTypes.names(), items0="all proptypes",
                                item_selected=fdict.proptype) }}
                            </div>
                            <button style="margin-top: 1rem;" type="submit"
                                    class="btn btn-block btn-success button-icon search" role="button">
                                search
                            </button>
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Modal  - edit property -->
<div class="modal fade" id="new_property_modal" tabindex="-1" role="dialog" aria-labelledby="copy_modal_label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">add details below</h6>
            </div>
            <div class="modal-body">
                <form method="POST" id="rent_tenant">
                    <div class="form-group row">
                        <div class="col">
                            <label for="rentcode">rentcode</label>
                            <input type="text" class="form-control" name="rentcode"
                                   value="{{ rentcode }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label for="new_propaddr">address</label>
                            <input type="text" class="form-control" name="new_propaddr" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label for="new_proptype">type</label>
                            {{ widgets.combobox(name="new_proptype", items=PropTypes.names()) }}
                        </div>
                    </div>
                    <div class="form-group row flex-row-reverse align-items-end" style="margin-top: 1.5rem;">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-block btn-secondary button-icon cross"
                                    data-dismiss="modal">close
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-block btn-success button-icon save">save changes
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
