{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row">
        <div class="col-md-2">
            <label for="rentalcode">Rental code:</label>
            <input type="text" class="form-control" name="rentalcode" value="{{ rental.rentalcode }}">
        </div>
        <div class="col-md-10">
            <label for="propaddr">Property address:</label>
            <input type="text" class="form-control" name="propaddr" value="{{ rental.propaddr }}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <label for="tenantname">Tenant name:</label>
            <input type="text" class="form-control" name="tenantname" value="{{ rental.tenantname }}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <label for="rentpa">Rent pa:</label>
            <input type="text" class="form-control" name="rentpa" value="{{ rental.rentpa }}">
        </div>
        <div class="col-md-3">
            <label for="arrears">Rent arrears:</label>
            <input type="text" class="form-control" name="arrears" value="{{ rental.arrears }}">
        </div>
        <div class="col-md-3">
            <label for="astdate">AST start date:</label>
            <input type="date" class="form-control" name="astdate" value="{{ rental.astdate }}">
        </div>
        <div class="col-md-3">
            <label for="lastgastest">Last gas safe test:</label>
            <input type="date" class="form-control" name="lastgastest" value="{{ rental.lastgastest }}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <label for="startrentdate">Start rent date:</label>
            <input type="date" class="form-control" name="startrentdate" value="{{ rental.startrentdate }}">
        </div>
        <div class="col-md-9">
            <label for="note">Notes:</label>
            <input type="text" class="form-control" name="note" value="{{ rental.note }}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <label for="frequency">Frequency:</label>
            {{ widgets.combobox(name="frequency", items=freqdets, item_selected=rental.freqdet) }}
        </div>
        <div class="col-md-3">
            <label for="advarr">Advance/Arrears:</label>
            {{ widgets.combobox(name="advarr", items=advarrdets, item_selected=rental.advarrdet) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <a href="/rentalstatementpage/{{ rental.id }}" class="btn btn-block btn-primary" role="button">Produce statement for this rent</a>
        </div>
        <div class="col-md-2">
            <a href="/rentalpage/{{ rental.id }}?action=clone" class="btn btn-block btn-primary" role="button">Clone this rental</a>
        </div>
        <div class="col-md-2">
            <a href="/rentalpage/0?action=new" class="btn btn-block btn-primary" role="button">Add new rental</a>
        </div>
        <div class="col-md-2">
            <a href="/deleteitem/{{ rental.id }}?item=rental"
               onclick="return confirm('Are you sure you want to delete this rental?');"
               class="btn btn-block btn-warning" role="button">Delete this rental</a>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-block btn-success">Save changes</button>
        </div>
    </div>
</form>
{% endblock %}
