<!-- /templates/rent_object.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="rentobj">
    <div class="form-group row">
        <div class="col-md-2">
            <label for="rentcode">rent code:</label>
            <input type="text" class="form-control" name="rentcode" value="{{ rentobj.rentcode }}" readonly="true">
        </div>
        <div class="col-md-5">
            <label for="landlord">landlord:</label>
            {{ widgets.combobox(name="landlord", items=combodict.landlords, item_selected=rentobj.landlordname) }}
        </div>
        <div class="col-md-5">
            <label for="tenant">tenant name:</label>
            <input type="text" class="form-control" name="tenantname" value="{{ rentobj.tenantname }}" readonly="true">
        </div>
    </div>
    <div class="table-fixed">
        <table class="table" id="properties">
            <thead>
            <tr>
                <th style="width: 75.00%">property</th>
                <th style="width: 15.00%">property type</th>
                <th style="width: 10.00%">action</th>
            </tr>
            </thead>
            <tbody>
        {% for item in properties %}
            <tr id="{{ item.id }}">
                <td style="width: 75.00%">{{ item.propaddr }}</td>
                <td style="width: 15.00%"> {{ item.proptypedet }}</td>
                <td style="width: 10.00%"><a href="/property/{{ item.id }}?action=edit">view</a></td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="form-group row">
    </div>
    <div class="form-group row">
        <div class="col-md-8">
            <label for="note">notes:</label>
            <input type="text" class="form-control" name="note" value="{{ rentobj.note }}" readonly="true">
        </div>
        <div class="col-md-4">
            <label for="email">email:</label>
            <input type="text" class="form-control" name="email" value="{{ rentobj.email }}" readonly="true">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <label for="mailto">mail to:</label>
            {{ widgets.combobox(name="mailto", items=combodict.mailtodets, item_selected=rentobj.mailtodet) }}
        </div>
        <div class="col-md-8">
            <label for="agent">agent:</label>
            <input type="text" class="form-control" name="agent" value="{{ rentobj.agdetails }}" readonly="true">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label for="rentpa">rent pa:</label>
            <input type="text" class="form-control" name="rentpa" value="{{ rentobj.rentpa }}" readonly="true">
        </div>
        <div class="col-md-2">
            <label for="arrears">rent arrears:</label>
            <input type="text" class="form-control" name="arrears" value="{{ rentobj.arrears }}" readonly="true">
        </div>
        <div class="col-md-2">
            <label for="totcharges">total charges:</label>
            <input type="text" class="form-control" name="totcharges" value="{{ rentobj.totcharges }}" readonly="true">
        </div>
        <div class="col-md-3">
            <label for="lastrentdate">last rent date:</label>
            <input type="date" class="form-control" name="lastrentdate" value="{{ rentobj.lastrentdate }}" readonly="true">
        </div>
        <div class="col-md-3">
            <label for="nextrentdate">next rent date:</label>
            <input type="date" class="form-control" name="nextrentdate" value="{{ rentobj.nextrentdate }}" readonly="true">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label for="frequency">frequency:</label>
            {{ widgets.combobox(name="frequency", items=combodict.freqdets, item_selected=rentobj.freqdet) }}
        </div>
        <div class="form-group col-md-2">
            <label for="actype">account type:</label>
            {{ widgets.combobox(name="actype", items=combodict.actypedets, item_selected=rentobj.actypedet) }}
        </div>
        <div class="col-md-3">
            <label for="advarr">advance or arrears:</label>
            {{ widgets.combobox(name="advarr", items=combodict.advarrdets, item_selected=rentobj.advarrdet) }}
        </div>
        <div class="form-group col-md-3">
            <label for="datecode">date code:</label>
            <input type="text" class="form-control" name="datecode" value="{{ rentobj.datecode }}" readonly="true">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label for="tenure">tenure:</label>
            {{ widgets.combobox(name="tenure", items=combodict.tenuredets, item_selected=rentobj.tenuredet) }}
        </div>
        <div class="col-md-2">
            <label for="source">source:</label>
            <input type="text" class="form-control" name="source" value="{{ rentobj.source }}" readonly="true">
        </div>
        <div class="col-md-2">
            <label for="deedtype">deed type:</label>
            {{ widgets.combobox(name="deedtype", items=combodict.deedcodes, item_selected=rentobj.deedcode) }}
        </div>
        <div class="col-md-2">
            <label for="salegrade">sale grade:</label>
            {{ widgets.combobox(name="salegrade", items=combodict.salegradedets, item_selected=rentobj.salegradedet) }}
        </div>
        <div class="col-md-2">
            <label for="price">price:</label>
            <input type="text" class="form-control" name="price" value="{{ rentobj.price }}" readonly="true">
        </div>
        <div class="col-md-2">
            <label for="status">status:</label>
            {{ widgets.combobox(name="status", items=combodict.statusdets, item_selected=rentobj.statusdet) }}
        </div>
    </div>
    <div class="form-group row flex-row-reverse">
        <div class="col-md-2">
            <button type="button" id="more_less" class="btn btn-block btn-danger">more</button>
        </div>
        <div class="col-md-2">
            <a href="/charges?rentid={{ rentobj.id }}&rentcode={{ rentobj.rentcode }}" class="btn btn-block btn-primary" role="button">charges</a>
        </div>
        <div class="col-md-2">
            <a href="/income?rentid={{ rentobj.id }}" class="btn btn-block btn-primary" role="button">income</a>
        </div>
        <div class="col-md-2">
            <a href="/mail_dialog/{{ rentobj.id }}" class="btn btn-block btn-primary" role="button">mail</a>
        </div>
        <div class="col-md-2">
            <a href="/docfiles/{{ rentobj.id }}" class="btn btn-block btn-primary" role="button">docfiles</a>
        </div>
        <div class="col-md-2">
            <button type="button" id="edit_view" class="btn btn-block btn-danger">edit</button>
        </div>
    </div>
    <div class="form-group row flex-row-reverse" id="save_delete">
        <div class="col-md-2">
            <button type="submit" class="btn btn-block btn-success">save changes</button>
        </div>
        <div class="col-md-2">
            <a href="/deleteitem/{{ rentobj.id }}?item=rentprop"
               onclick="return confirm('Are you sure you want to delete this rent and property?');"
               class="btn btn-block btn-warning" role="button">delete item</a>
        </div>
		<div class="col-md-2">
            <input type="text" class="form-control" name="rentid" value = "{{ rentobj.id }}">
        </div>
    </div>
    <div class="form-group row flex-row-reverse" id="more_buttons">
        <div class="col-md-2">
            <a href="/lease/0?rentid={{ rentobj.id }}&rentcode={{ rentobj.rentcode }}" class="btn btn-block btn-primary" role="button">leaseinfo</a>
        </div>
        <div class="col-md-2">
            <a href="/docfiles/{{ rentobj.id }}" class="btn btn-block btn-primary" role="button">docfiles</a>
        </div>
        <div class="col-md-2">
            <a href="/docfiles/{{ rentobj.id }}" class="btn btn-block btn-primary" role="button">something</a>
        </div>
        <div class="col-md-2">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" style="width:100%" type="button" id="statementsMenuButton"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">pay requests</button>
              <div class="dropdown-menu" aria-labelledby="statementsMenuButton">
                <a class="dropdown-item" href="/rent_object/0?action=new">new statement for this rent</a>
                <a class="dropdown-item" href="/charges?rentid={{ rentobj.id }}">new account for this rent</a>
                <a class="dropdown-item" href="/pr_dialog/{{ rentobj.id }}">new payrequest for this rent</a>
                <a class="dropdown-item" href="/mail_dialog/{{ rentobj.id }}">new s166 for this rent</a>
              </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" style="width:100%" type="button" id="otherMenuButton"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">other actions</button>
              <div class="dropdown-menu" aria-labelledby="otherMenuButton">
                <a class="dropdown-item" href="/lease/0?action=new&rentid={{ rentobj.id }}&rentcode={{ rentobj.rentcode }}" >add lease for this rent</a>
                <a class="dropdown-item" href="/rent_object/0?action=clone">clone rent and property</a>
              </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
