<!-- /templates/rents.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="target">

    <div class="form-group row">
        <div class="col-md-2">
            <label for="rentcode">rentcode starts with:</label>
            <input type="text" class="form-control" name="rentcode" data-toggle="tooltip"
                   title="Starts with" value="{{ fdict.rentcode }}">
        </div>
        <div class="col-md-2">
            <label for="tenantname">tenant name:</label>
            <input type="text" class="form-control" name="tenantname" data-toggle="tooltip"
                   title="includes" value="{{ fdict.tenantname }}">
        </div>
        <div class="col-md-2">
            <label for="propaddr">property details:</label>
            <input type="text" class="form-control" name="propaddr" data-toggle="tooltip"
                   title="includes" value="{{ fdict.propaddr }}">
        </div>
        <div class="col-md-2">
            <label for="source">source:</label>
            <input type="text" class="form-control" name="source" data-toggle="tooltip"
                   title="includes" value="{{ fdict.source }}">
        </div>
        <div class="col-md-2">
            <label for="agentdetail">agent details:</label>
            <input type="text" class="form-control" name="agentdetail" data-toggle="tooltip"
                   title="includes" value="{{ fdict.agentdetail | truncate(20, True) }}">
        </div>
        <div class="col-md-2">
            <label for="count">count:</label>
            <input type="text" class="form-control" name="count" value="{{ rents|length }}">
        </div>
    </div>
    <div class="form-group row flex-row-reverse">
        <div class="col-md-3">
            <button type="submit" formaction="{{ url_for('rent_bp.rents') }}"
                    class="btn btn-block btn-success  button-icon search" role="button">search
            </button>
        </div>
        <div class="col-md-3">
            <button type="submit" formaction="{{ url_for('rent_bp.rents_external') }}"
                    class="btn btn-block btn-primary  button-icon search" role="button">search external
            </button>
        </div>
        <div class="col-md-3">
            <a href="{{ url_for('rent_bp.rents_advanced', filtr_id=0) }}"
               class="btn btn-block btn-danger button-icon filter" role="button">advanced filter</a>
        </div>
    </div>
</form>
<div class="table-fixed">
    <table class="table" id="rents">
        <thead>
        <tr>
            <th style="width: 8.00%">rentcode</th>
            <th style="width: 8.00%">rent (pa)</th>
            <th style="width: 8.00%">arrears</th>
            <th style="width: 10.00%">next rent date</th>
            <th style="width: 15.00%">tenant name</th>
            <th style="width: 20.00%">property address</th>
            <th style="width: 8.00%">source</th>
            <th style="width: 15.00%">agent details</th>
            <th style="width: 2.00%"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in rents %}
        <tr id="{{ item.id }}">
            <td style="width: 8.00%">{{ item.rentcode }}</td>
            <td style="width: 8.00%"> {{ item.rentpa }}</td>
            <td style="width: 8.00%"> {{ item.arrears }}</td>
            <td style="width: 10.00%"> {{ item.nextrentdate().strftime('%d-%b-%Y') }}</td>
            <td style="width: 15.00%"> {{ item.tenantname }}</td>
            <td style="width: 20.00%">{{ item.propaddr }}</td>
            <td style="width: 8.00%"> {{ item.source }}</td>
            <td style="width: 15.00%"> {{ item.detail | default('no agent', true) | truncate(40) }}</td>
            <td style="width: 2.00%" class="vertical-align"><a href="{{ url_for('rent_bp.rent',
            rent_id=item.id) }}" class="btn btn-teal-light btn-round button-icon round circles"
                                 data-toggle="tooltip" title="view rent" role="button"></a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
