<!-- /templates/rents_advanced.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form action="/filter" method="post">
    <div class="row" style="margin-bottom: 1rem;">
        <div class="col-md-4">
            <div class="card card-white" style="margin-bottom: 1rem;">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-2">rent</div>
                        <div class="col align-right">
                            <a href="#" class="button-icon sync clear-filters"
                               role="button">clear all filters</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-primary">
                    <div class="form-group row">
                        <div class="col">
                            <input id="filter-rentcode" type="text" class="form-control" name="rentcode"
                                   data-toggle="tooltip"
                                   placeholder="rentcode starts with" title="starts with" value="{{ fdict.rentcode }}">
                        </div>
                        <div class="col">
                            <input id="filter-tenantname" type="text" class="form-control" name="tenantname"
                                   data-toggle="tooltip"
                                   placeholder="tenant name" title="includes" value="{{ fdict.tenantname }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <input id="filter-propaddr" type="text" class="form-control" name="propaddr"
                                   data-toggle="tooltip"
                                   placeholder="property details" title="includes" value="{{ fdict.propaddr }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <input id="filter-agentdetail" type="text" class="form-control" name="agentdetail"
                                   data-toggle="tooltip"
                                   placeholder="agent details" title="includes" value="{{ fdict.agentdetail }}">

                        </div>
                    </div>
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="col">
                            {{ widgets.multiselect_as_select(name="landlord", items=Landlords.names(),
                            items0="all landlords", id="filter-landlord",
                            items_selected=fdict.landlord) }}
                        </div>
                    </div>

                </div>
            </div>
            <div class="card card-white">
                <div class="card-header">
                    <div class="row">
                        <div class="col">status | select multiple</div>
                        <div class="col align-right">
                            <a href="#expand_status" data-toggle="collapse" aria-expanded="false"
                               aria-controls="expand_status"
                               class="button-icon btn-round round minus"
                               role="button"></a>
                        </div>
                    </div>
                </div>
                <div id="expand_status" class="collapse collapse-filter show">
                    <div class="card-body text-primary">
                        <div class="form-group row">
                            <div class="col">
                                {{ widgets.multiselect_as_select(name="tenure", items=Tenures.names(),
                                items0="all tenures",
                                items_selected=fdict.tenure, id="filter-tenure") }}
                            </div>
                            <div class="col">
                                {{ widgets.multiselect_as_select(name="status", items=Statuses.names(),
                                items0="all statuses", id="filter-status",
                                items_selected=fdict.status) }}
                            </div>
                        </div>
                        <div class="form-group row" style="margin-bottom: 0px;">
                            <div class="col">
                                {{ widgets.multiselect_as_select(name="salegrade", items=SaleGrades.names(),
                                items0="all salegrades", id="filter-salegrade",
                                items_selected=fdict.salegrade) }}
                            </div>
                            <div class="col">
                                {{ widgets.multiselect_as_select(name="actype", items=AcTypes.names(),
                                items0="all actypes",
                                items_selected=fdict.actype, id="filter-actype") }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-white" style="margin-bottom:1rem;">
                <div class="card-header">
                    <div class="row">
                        <div class="col">source</div>
                        <div class="col align-right">
                            <a href="#expand_source" data-toggle="collapse" aria-expanded="false"
                               aria-controls="expand_source"
                               class="button-icon btn-round round minus"
                               role="button"></a>
                        </div>
                    </div>
                </div>
                <div id="expand_source" class="collapse collapse-filter show">
                    <div class="card-body text-primary">
                        <div class="form-group row" style="margin-bottom: 0px;">
                            <div class="col">
                                <input id="filter-source" type="text" class="form-control" name="source"
                                       data-toggle="tooltip"
                                       placeholder="source"
                                       title="includes" value="{{ fdict.source }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-white" style="margin-bottom:1rem;">
                <div class="card-header">
                    <div class="row">
                        <div class="col">owing</div>
                        <div class="col align-right">
                            <a href="#expand_owing" data-toggle="collapse" aria-expanded="false"
                               aria-controls="expand_owing"
                               class="button-icon btn-round round minus"
                               role="button"></a>
                        </div>
                    </div>
                </div>
                <div id="expand_owing" class="collapse collapse-filter show">
                    <div class="card-body text-primary">
                        <div class="form-group row">
                            <div class="col">
                                <input id="filter-rentpa" type="text" class="form-control" name="rentpa"
                                       data-toggle="tooltip"
                                       placeholder="rent pa"
                                       title="example = 100" value="{{ fdict.rentpa }}">
                            </div>
                            <div class="col">
                                <input id="filter-arrears" type="text" class="form-control" name="arrears"
                                       data-toggle="tooltip"
                                       placeholder="arrears"
                                       title="example < 100" value="{{ fdict.arrears }}">
                            </div>
                            <div class="col">
                                <input id="filter-rentperiods" type="text" class="form-control" name="rentperiods"
                                       data-toggle="tooltip"
                                       placeholder="periods owing"
                                       title="example > 5" value="{{ fdict.rentperiods }}">
                            </div>
                        </div>
                        <div class="form-group row" style="margin-bottom: 0px;">
                            <div class="col">
                                <label for="enddate">end date:</label>
                                <input id="filter-enddate" type="date" class="form-control" placeholder="end date"
                                       name="enddate"
                                       value="{{ fdict.enddate }}">
                            </div>
                            <div class="col">
                                <label for="charges">charges:</label>
                                {{ widgets.combobox(name="charges", items=combodict.options,
                                item_selected=fdict.charges,
                                id="filter-charges") }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-white">
                <div class="card-header">
                    <div class="row">
                        <div class="col">mail</div>
                        <div class="col align-right">
                            <a href="#expand_mail" data-toggle="collapse" aria-expanded="false"
                               aria-controls="expand_mail"
                               class="button-icon btn-round round minus"
                               role="button"></a>
                        </div>
                    </div>
                </div>
                <div id="expand_mail" class="collapse collapse-filter show">
                    <div class="card-body text-primary">
                        <div class="form-group row">
                            <div class="col">
                                <label for="enddate">mail to agent:</label>
                                {{ widgets.combobox(name="agentmailto", items=combodict.options,
                                item_selected=fdict.agentmailto, id="filter-agentmailto") }}
                            </div>
                            <div class="col">
                                <label for="charges">emailable:</label>
                                {{ widgets.combobox(name="emailable", items=combodict.options, id="filter-emailable",
                                item_selected=fdict.emailable) }}
                            </div>
                        </div>
                        <div class="form-group row" style="margin-bottom: 0px;">
                            <div class="col">
                                <label for="enddate">pr delivery:</label>
                                {{ widgets.multiselect_as_select(name="prdelivery", items=PrDeliveryTypes.names(),
                                items0="all prdeliveries", id="filter-prdelivery",
                                items_selected=fdict.prdelivery) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-blue" style="margin-bottom:1rem;">
                <a href="#save_filter_card" data-toggle="collapse" aria-expanded="false"
                   aria-controls="save_filter_card"
                   class="btn btn-block btn-primary button-icon save" role="button">save filter</a>
                <div id="save_filter_card" class="collapse">
                    <div class="card-body text-primary">
                        <div class="form-group row">
                            <div class="col">
                                <label for="filtertype">filter type:</label>
                                {{ widgets.combobox(name="filtertype", items=combodict.filtertypes,
                                item_selected=fdict.filtertype, id="filter-filtertype") }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <input id="filter_desc" type="text" class="form-control" name="filterdesc"
                                       placeholder="enter description">
                            </div>
                        </div>
                        <div class="form-group row" style="margin-bottom: 0px;">
                            <div class="col">
                                <input id="filter_name" type="text" class="form-control" name="filtername"
                                       placeholder="enter name">
                            </div>
                            <div class="col">
                                <button type="submit"
                                        formaction="{{ url_for('rent_bp.rents_advanced', action='save', filtr_id=filtr_id) }}"
                                        class="btn btn-block btn-primary  button-icon save" role="button">save filter
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-red" style="margin-bottom:1rem;">
                <a href="#expand_load" data-toggle="collapse" aria-expanded="false"
                   aria-controls="expand_load"
                   class="btn btn-block btn-danger button-icon filter"
                   role="button">load filter</a>
                <div id="expand_load" class="collapse collapse-filter">
                    <table class="table table-condensed">
                        <tbody>
                        {% for item in jfilters %}
                        <tr>
                            <td style="width: 10.00%">{{ item.code }}</td>
                            <td style="width: 70.00%">{{ item.description}}</td>
                            <td>
                                <button
                                        class="btn btn-block btn-danger button-icon round filter load-filters"
                                        style="text-align: left;"
                                        data-toggle="tooltip" title="load filter" value="{{ item.content }}"
                                        onclick="return false;">
                                </button>
                            </td>
                            <td>
                                <a
                                        class="btn btn-block btn-warning button-icon round trash"
                                        style="text-align: left;"
                                        href="{{ url_for('util_bp.delete_item', item_id=item.id, item='jstore') }}"
                                        data-toggle="tooltip" title="delete filter"
                                        onclick="return confirm('are you sure you want to delete this filter?');">
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card card-green">
                <div class="card-header">search</div>
                <div class="card-body text-primary">
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="run size" name="runsize"
                                   value="{{ fdict.runsize }}">
                        </div>
                        <div class="col">
                            <button type="submit"
                                    formaction="{{ url_for('rent_bp.rents_advanced', filtr_id=filtr_id) + '#search' }}"
                                    class="btn btn-block btn-success button-icon search" role="button">search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if rents|length == 0 %}
    <div class="boxed boxed-center boxed-blue">
        <div class="row">
            <div class="col">
                No results. Refine your search using the filters above.
            </div>
        </div>
    </div>
    {% else %}
    <div id="search" class="table-fixed">
        <div class="align-right"><b>{% if rents|length > 50 %}over{% endif %} {{ rents|length }} results</b></div>
        <table class="table" id="rents">
            <thead>
            <tr>
                <th style="width: 8.00%">rentcode</th>
                <th style="width: 8.00%">rentpa</th>
                <th style="width: 8.00%">arrears</th>
                <th style="width: 8.00%">nextrentdate</th>
                <th style="width: 15.00%">tenantname</th>
                <th style="width: 20.00%">propaddr</th>
                <th style="width: 8.00%">source</th>
                <th style="width: 20.00%">agent details</th>
                <th style="width: 5.00%"></th>
            </tr>
            </thead>
            <tbody>
            {% for item in rents %}
            <tr id="{{ item.id }}">
                <td style="width: 8.00%">{{ item.rentcode }}</td>
                <td style="width: 8.00%"> {{ item.rentpa }}</td>
                <td style="width: 8.00%"> {{ item.arrears }}</td>
                <td style="width: 8.00%"> {{ item.nextrentdate }}</td>
                <td style="width: 15.00%"> {{ item.tenantname }}</td>
                <td style="width: 20.00%">{{ item.propaddr }}</td>
                <td style="width: 8.00%"> {{ item.source }}</td>
                <td style="width: 20.00%"> {{ item.agent.detail }}</td>
                <td style="width: 2.00%" class="vertical-align"><a href="{{ url_for('rent_bp.rent',
            rent_id=item.id) }}" class="btn btn-teal-light btn-round button-icon round circles"
                                                                   data-toggle="tooltip" title="view rent"
                                                                   role="button"></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</form>

{% endblock %}
