<!-- /templates/rental.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="target">
        <div class="form-group row flex-row-reverse align-items-end">
            <div class="col-md-2">
                <a href="{{ url_for('rental_bp.rentals') }}"
                   class="btn btn-block btn-tog button-icon arrow-left" role="button">back to rentals</a>
            </div>
        </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label for="rentalcode">code:</label>
            <input type="text" class="form-control" name="rentalcode" value="{{ rental.rentalcode }}" readonly="true">
        </div>
        <div class="col-md-10">
            <label for="propaddr">property address:</label>
            <input type="text" class="form-control" name="propaddr" value="{{ rental.propaddr }}" readonly="true">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label for="tenantname">tenant name:</label>
            <input type="text" class="form-control" name="tenantname" value="{{ rental.tenantname }}" readonly="true">
        </div>
        <div class="col-md-6">
            <label for="note">notes:</label>
            <input type="text" class="form-control" name="note" value="{{ rental.note }}" readonly="true">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label for="rentpa">annual rent:</label>
            <input type="text" class="form-control" name="rentpa" value="{{ rental.rentpa }}" readonly="true">
        </div>
        <div class="col-md-2">
            <label for="arrears">rent arrears:</label>
            <input type="text" class="form-control" name="arrears" value="{{ rental.arrears }}" readonly="true">
        </div>
        <div class="col-md-2">
            <label for="frequency">frequency:</label>
            {{ widgets.combobox(name="frequency", items=Freqs.names(), item_selected=rental.freqdet) }}
        </div>
        <div class="col-md-2">
            <label for="advarr">advance/arrears:</label>
            {{ widgets.combobox(name="advarr", items=AdvArr.names(), item_selected=rental.advarrdet) }}
        </div>
        <div class="col-md-2">
            <label for="astdate">AST start date:</label>
            <input type="date" class="form-control" name="astdate" value="{{ rental.astdate }}" readonly="true">
        </div>
        <div class="col-md-2">
            <label for="lastgastest">last gas safe test:</label>
            <input type="date" class="form-control" name="lastgastest"
                   value="{{ rental.lastgastest }}" readonly="true">
        </div>
    </div>
    <div class="form-group row flex-row-reverse align-items-end">
        <div class="col-md-2">
            <button type="button" id="edit_view" class="btn btn-block btn-secondary button-icon edit">edit</button>
        </div>
        <div class="col-md-2">
            <a href="{{ url_for('rental_bp.rental_statement', rental_id=rental.id) }}"
               class="btn btn-block btn-primary button-icon receipt" role="button">get statement</a>
        </div>
        <div class="col-md-2">
            <label for="startrentdate">statement from:</label>
            <input type="date" class="form-control" name="startrentdate"
                   value="{{ rental.startrentdate }}" readonly="true">
        </div>
    </div>
    <div class="form-group row flex-row-reverse" id="save_delete" >
        <div class="col-md-2">
            <button type="submit" class="btn btn-block btn-success button-icon save">save changes</button>
        </div>
        <div class="col-md-2">
            <a href="{{ url_for('util_bp.delete_item', item_id=rental.id, item='rental') }}"
               onclick="return confirm('are you sure you want to delete this rental?');"
               class="btn btn-block btn-warning button-icon trash" role="button">delete this rental</a>
        </div>
    </div>
</form>
{% endblock %}
