<!-- /templates/rent_external.html  -->
{% extends 'base.html' %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row">
        <div class="col-md-2">
            <label for="rentcode">rent code:</label>
            <input type="text" class="form-control" name="rentcode"
                   value="{{ rent_external.rentcode }}" readonly="true">
        </div>
        <div class="col-md-8">
            <label for="propaddr">property address:</label>
            <input type="text" class="form-control" name="propaddr"
                   value="{{ rent_external.propaddr }}" readonly="true">
        </div>
        <div class="col-md-2">
            <label for="manager">external manager:</label>
            <input type="text" class="form-control" name="manager"
                   value="{{ rent_external.manager_external.codename }}" readonly="true">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <label for="tenantname">tenant name:</label>
            <input type="text" class="form-control" name="tenantname"
                   value="{{ rent_external.tenantname }}" readonly="true">
        </div>
        <div class="col-md-2">
            <label for="rentpa">rent pa:</label>
            <input type="text" class="form-control" name="rentpa" value="{{ rent_external.rentpa }}" readonly="true">
        </div>
        <div class="col-md-2">
            <label for="arrears">rent arrears:</label>
            <input type="text" class="form-control" name="arrears" value="{{ rent_external.arrears }}" readonly="true">
        </div>
        <div class="col-md-2">
            <label for="lastrentdate">lastrentdate:</label>
            <input type="text" class="form-control" name="lastrentdate"
                   value="{{ rent_external.lastrentdate }}" readonly="true">
        </div>
        <div class="col-md-2">
            <label for="source">source:</label>
            <input type="text" class="form-control" name="source" value="{{ rent_external.source }}" readonly="true">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-10">
            <label for="agentdetail">agent details:</label>
            <input type="text" class="form-control" name="agentdetail"
                   value="{{ rent_external.agentdetail }}" readonly="true">
        </div>
        <div class="col-md-2">
            <label for="status">status:</label>
            <input type="text" class="form-control" name="status" value="{{ rent_external.status }}" readonly="true">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <label for="managerdetail">external manager details:</label>
            <input type="text" class="form-control" name="managerdetail"
                   value="{{ rent_external.manager_external.detail }}" readonly="true">
        </div>
    </div>
</form>
{% endblock %}