<!-- /templates/rents_advanced.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form action="/filter" method="post">
    <div class="row" style="margin-bottom: 1rem;">
        <div class="col-md-4">
            <div class="card card-white" style="margin-bottom: 1rem;">
                <div class="card-header">rent</div>
                <div class="card-body text-primary">
                    <div class="form-group row">
                        <div class="col">
                            <input id="filter-rentcode" type="text" class="form-control" name="rentcode"
                                   data-toggle="tooltip"
                                   placeholder="rentcode starts with" title="starts with" value="{{ fdict.rentcode }}">
                        </div>
                        <div class="col">
                            <input id="filter-tenantname" type="text" class="form-control" name="tenantname"
                                   data-toggle="tooltip"
                                   placeholder="tenant name" title="includes" value="{{ fdict.tenantname }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <input id="filter-propaddr" type="text" class="form-control" name="propaddr"
                                   data-toggle="tooltip"
                                   placeholder="property details" title="includes" value="{{ fdict.propaddr }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <input id="filter-agentdetail" type="text" class="form-control" name="agentdetail"
                                   data-toggle="tooltip"
                                   placeholder="agent details" title="includes" value="{{ fdict.agentdetail }}">

                        </div>
                    </div>
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="col">
                            {{ widgets.multiselect_as_select(name="landlord", items=Landlords.names(),
                            items0="all landlords", id="filter-landlord",
                            items_selected=fdict.landlord) }}
                        </div>
                    </div>

                </div>
            </div>
            <div class="card card-white">
                <div class="card-header">status | select multiple</div>
                <div class="card-body text-primary">
                    <div class="form-group row">
                        <div class="col">
                            {{ widgets.multiselect_as_select(name="tenure", items=Tenures.names(), items0="all tenures",
                            items_selected=fdict.tenure, id="filter-tenure") }}
                        </div>
                        <div class="col">
                            {{ widgets.multiselect_as_select(name="status", items=Statuses.names(),
                            items0="all statuses", id="filter-status",
                            items_selected=fdict.status) }}
                        </div>
                    </div>
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="col">
                            {{ widgets.multiselect_as_select(name="salegrade", items=SaleGrades.names(),
                            items0="all salegrades", id="filter-salegrade",
                            items_selected=fdict.salegrade) }}
                        </div>
                        <div class="col">
                            {{ widgets.multiselect_as_select(name="actype", items=AcTypes.names(), items0="all actypes",
                            items_selected=fdict.actype, id="filter-actype") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-white" style="margin-bottom:1rem;">
                <div class="card-header">source</div>
                <div class="card-body text-primary">
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="col">
                            <input id="filter-source" type="text" class="form-control" name="source"
                                   data-toggle="tooltip"
                                   placeholder="source"
                                   title="includes" value="{{ fdict.source }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-white" style="margin-bottom:1rem;">
                <div class="card-header">owing</div>
                <div class="card-body text-primary">
                    <div class="form-group row">
                        <div class="col">
                            <input id="filter-rentpa" type="text" class="form-control" name="rentpa"
                                   data-toggle="tooltip"
                                   placeholder="rent pa"
                                   title="example = 100" value="{{ fdict.rentpa }}">
                        </div>
                        <div class="col">
                            <input id="filter-arrears" type="text" class="form-control" name="arrears"
                                   data-toggle="tooltip"
                                   placeholder="arrears"
                                   title="example < 100" value="{{ fdict.arrears }}">
                        </div>
                        <div class="col">
                            <input id="filter-rentperiods" type="text" class="form-control" name="rentperiods"
                                   data-toggle="tooltip"
                                   placeholder="periods owing"
                                   title="example > 5" value="{{ fdict.rentperiods }}">
                        </div>
                    </div>
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="col">
                            <label for="enddate">end date:</label>
                            <input id="filter-enddate" type="date" class="form-control" placeholder="end date"
                                   name="enddate"
                                   value="{{ fdict.enddate }}">
                        </div>
                        <div class="col">
                            <label for="charges">charges:</label>
                            {{ widgets.combobox(name="charges", items=combodict.options, item_selected=fdict.charges,
                            id="filter-charges") }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-white">
                <div class="card-header">mail</div>
                <div class="card-body text-primary">
                    <div class="form-group row">
                        <div class="col">
                            <label for="enddate">mail to agent:</label>
                            {{ widgets.combobox(name="agentmailto", items=combodict.options,
                            item_selected=fdict.agentmailto, id="filter-agentmailto") }}
                        </div>
                        <div class="col">
                            <label for="charges">emailable:</label>
                            {{ widgets.combobox(name="emailable", items=combodict.options, id="filter-emailable",
                            item_selected=fdict.emailable) }}
                        </div>
                    </div>
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="col">
                            <label for="enddate">pr delivery:</label>
                            {{ widgets.multiselect_as_select(name="prdelivery", items=PrDeliveryTypes.names(),
                            items0="all prdeliveries", id="filter-prdelivery",
                            items_selected=fdict.prdelivery) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-red" style="margin-bottom:1rem;">
                <div class="card-header">save / load</div>
                <div class="card-body text-primary">
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="col">
                            <a href="#load_filter_card" data-toggle="collapse" aria-expanded="false"
                               aria-controls="load_filter_card"
                               class="btn btn-block btn-danger button-icon filter" role="button">load filter</a>
                        </div>
                        <div class="col">
                            <a href="#save_filter_card" data-toggle="collapse" aria-expanded="false"
                               aria-controls="save_filter_card"
                               class="btn btn-block btn-primary button-icon save" role="button">save filter</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="save_filter_card" class="card card-blue collapse" style="margin-bottom:1rem;">
                <div class="card-header">save filter</div>
                <div class="card-body text-primary">
                    <div class="form-group row">
                        <div class="col">
                            <label for="filtertype">filter type:</label>
                            {{ widgets.combobox(name="filtertype", items=combodict.filtertypes,
                            item_selected=fdict.filtertype, id="filter-filtertype") }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <input id="filter_desc" type="text" class="form-control" name="filterdesc"
                                   placeholder="enter description">
                        </div>
                    </div>
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="col">
                            <input id="filter_name" type="text" class="form-control" name="filtername"
                                   placeholder="enter name">
                        </div>
                        <div class="col">
                            <button type="submit"
                                    formaction="{{ url_for('rent_bp.rents_advanced', action='save', filtr_id=filtr_id) }}"
                                    class="btn btn-block btn-primary  button-icon save" role="button">save filter
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="load_filter_card" class="card card-blue collapse" style="margin-bottom:1rem;">
                <table class="table table-condensed">
                    <tbody>
                    {% for item in jfilters %}
                    <tr>
                        <td style="width: 10.00%">{{ item.code }}</td>
                        <td style="width: 70.00%">{{ item.description}}</td>
                        <td>
                            <button
                                    class="btn btn-block btn-danger load-filters" style="text-align: left;"
                                    value="{{ item.content }}" onclick="return false;">load
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card card-green">
                <div class="card-header">search</div>
                <div class="card-body text-primary">
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="run size" name="runsize"
                                   value="{{ fdict.runsize }}">
                        </div>
                        <div class="col">
                            <button type="submit"
                                    formaction="{{ url_for('rent_bp.rents_advanced', filtr_id=filtr_id) }}"
                                    class="btn btn-block btn-success  button-icon search" role="button">search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-fixed">
        <table class="table" id="rents">
            <thead>
            <tr>
                <th style="width: 8.00%">rentcode</th>
                <th style="width: 8.00%">rentpa</th>
                <th style="width: 8.00%">arrears</th>
                <th style="width: 8.00%">nextrentdate</th>
                <th style="width: 15.00%">tenantname</th>
                <th style="width: 20.00%">propaddr</th>
                <th style="width: 8.00%">source</th>
                <th style="width: 20.00%">agent details</th>
                <th style="width: 5.00%"></th>
            </tr>
            </thead>
            <tbody>
            {% for item in rents %}
            <tr id="{{ item.id }}">
                <td style="width: 8.00%">{{ item.rentcode }}</td>
                <td style="width: 8.00%"> {{ item.rentpa }}</td>
                <td style="width: 8.00%"> {{ item.arrears }}</td>
                <td style="width: 8.00%"> {{ item.nextrentdate }}</td>
                <td style="width: 15.00%"> {{ item.tenantname }}</td>
                <td style="width: 20.00%">{{ item.propaddr }}</td>
                <td style="width: 8.00%"> {{ item.source }}</td>
                <td style="width: 20.00%"> {{ item.agent.detail }}</td>
                <td style="width: 2.00%" class="vertical-align"><a href="{{ url_for('rent_bp.rent',
            rent_id=item.id) }}" class="btn btn-teal-light btn-round button-icon round circles"
                                                                       data-toggle="tooltip" title="view rent"
                                                                       role="button"></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</form>

{% endblock %}
