{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="target">
<div class="table-fixed">
    <table class="table" id="rental_actions">
        <thead>
        <tr>
            <th style="width: 12.00%">Date</th>
            <th style="width: 20.00%">Payer</th>
            <th style="width: 12.00%">Amount</th>
            <th style="width: 44.00%">Memo</th>
            <th style="width: 12.00%">Balance</th>
        </tr>
        </thead>
        <tbody>
        {% for item in rental_actions %}
        <tr id="{{ item.id }}">
            <td style="width: 12.00%">{{ item.date }}</td>
            <td style="width: 20.00%">{{ item.payer }}</td>
            <td style="width: 12.00%">{{ item.amount }}</td>
            <td style="width: 44.00%"> {{ item.memo }}</td>
            <td style="width: 12.00%"> {{ item.balance }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</form>
{% endblock %}

