{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row">
        <div class="col-md-2">
            <label for="rentcode">Rent code:</label>
            <input type="text" class="form-control" name="rentcode" value="{{ rentobj.rentcode }}">
        </div>
        <div class="table-fixed">
            <table class="table" id="properties">
                <thead>
                <tr>
                    <th style="width: 15.00%"></th>
                    <th style="width: 10.00%">id</th>
                    <th style="width: 50.00%">Property address</th>
                    <th style="width: 10.00%">Property type</th>
                    <th style="width: 15.00%"></th>
                </tr>
                </thead>
                <tbody>
                {% for property in properties %}
                <tr id="{{ property.id }}">
                    <td style="width: 15.00%"></td>
                    <td style="width: 10.00%">{{ property.id }}</td>
                    <td style="width: 50.00%">{{ property.propaddr }}</td>
                    <td style="width: 10.00%"> {{ property.proptypedet }}</td>
                    <td style="width: 5.00%"><a href="/propertypage/{{ property.id }}?action=edit">Edit</a></td>
                    <td style="width: 15.00%"></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <label for="landlord">Landlord:</label>
            {{ widgets.combobox(name="landlord", items=landlords, item_selected=rentobj.name) }}
        </div>
        <div class="col-md-8">
            <label for="tenantname">Tenant name:</label>
            <input type="text" class="form-control" name="tenantname" value="{{ rentobj.tenantname }}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-8">
            <label for="note">Notes:</label>
            <input type="text" class="form-control" name="note" value="{{ rentobj.note }}">
        </div>
        <div class="col-md-4">
            <label for="email">Email:</label>
            <input type="text" class="form-control" name="email" value="{{ rentobj.email }}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <label for="mailto">Mail to:</label>
            {{ widgets.combobox(name="mailto", items=mailtodets, item_selected=rentobj.mailtodet) }}
        </div>
        <div class="col-md-8">
            <label for="agent">Agent:</label>
            <input type="text" class="form-control" name="agent" value="{{ rentobj.agdetails }}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <label for="rentpa">Rent pa:</label>
            <input type="text" class="form-control" name="rentpa" value="{{ rentobj.rentpa }}">
        </div>
        <div class="col-md-4">
            <label for="arrears">Rent arrears:</label>
            <input type="text" class="form-control" name="arrears" value="{{ rentobj.arrears }}">
        </div>
        <div class="col-md-4">
            <label for="totcharges">Total charges:</label>
            <input type="text" class="form-control" name="totcharges" value="{{ totcharges }}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label for="lastrentdate">Last rent date:</label>
            <input type="date" class="form-control" name="lastrentdate"
                   value="{{ rentobj.lastrentdate }}">
        </div>
        <div class="col-md-2">
            <label for="frequency">Frequency:</label>
            {{ widgets.combobox(name="frequency", items=freqdets, item_selected=rentobj.freqdet) }}
        </div>
        <div class="form-group col-md-2">
            <label for="actype">Actype:</label>
            {{ widgets.combobox(name="actype", items=actypedets, item_selected=rentobj.actypedet) }}
        </div>
        <div class="col-md-3">
            <label for="advarr">Advance/Arrears:</label>
            {{ widgets.combobox(name="advarr", items=advarrdets, item_selected=rentobj.advarrdet) }}
        </div>
        <div class="form-group col-md-3">
            <label for="datecode">DateCode:</label>
            <input type="text" class="form-control" name="datecode" value="{{ rentobj.datecode }}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label for="tenure">Tenure:</label>
            {{ widgets.combobox(name="tenure", items=tenuredets, item_selected=rentobj.tenuredet) }}
        </div>
        <div class="col-md-2">
            <label for="source">Source:</label>
            <input type="text" class="form-control" name="source" value="{{ rentobj.source }}">
        </div>
        <div class="col-md-2">
            <label for="deedtype">Deed type:</label>
            {{ widgets.combobox(name="deedtype", items=deedcodes, item_selected=rentobj.deedcode) }}
        </div>
        <div class="col-md-2">
            <label for="salegrade">Sale grade:</label>
            {{ widgets.combobox(name="salegrade", items=salegradedets, item_selected=rentobj.salegradedet) }}
        </div>
        <div class="col-md-2">
            <label for="price">Price:</label>
            <input type="text" class="form-control" name="price" value="{{ rentobj.price }}">
        </div>
        <div class="col-md-2">
            <label for="status">Status:</label>
            {{ widgets.combobox(name="status", items=statusdets, item_selected=rentobj.statusdet) }}
        </div>
    </div>
    <div class="form-group row">
        {% if action == "view" %}
        <div class="col-md-3">
            <a href="/rentobjpage/{{ rentobj.id }}?action=edit" class="btn btn-block btn-primary" role="button">Edit this rent</a>
        </div>
        <div class="col-md-3">
            <a href="/rentobjpage/{{ rentobj.id }}?action=clone" class="btn btn-block btn-primary" role="button">Clone this rent & property</a>
        </div>
        <div class="col-md-3">
            <a href="/rentobjpage/0?action=new" class="btn btn-block btn-primary" role="button">New rent & property</a>
        </div>
        {% else %}
        {% if action != "new" %}
        <div class="col-md-3">
            <a href="/deleteitem/{{ rentobj.id }}?item=rentprop"
               onclick="return confirm('Are you sure you want to delete this rent and property?');"
               class="btn btn-block btn-warning" role="button">Delete rent and property</a>
        </div>
        <div class="col-md-3">
            <a href="/charges?rentcode={{ rentobj.rentcode }}" class="btn btn-block btn-info" role="button">View charges for this rent</a>
        </div>
        {% endif %}
        <div class="col-md-3">
            <button type="submit" class="btn btn-block btn-success">Save changes</button>
        </div>
        {% endif %}
    </div>
</form>
{% endblock %}
