<!-- /templates/rent_.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}
<form method="POST" id="rent_">
    <div class="form-group row">
        <div class="col-md-2">
            <label for="rentcode">rent code:</label>
            <input type="text" class="form-control" name="rentcode" value="{{ rent_.rentcode }}" readonly="true">
        </div>
        <div class="col-md-5">
            <label for="landlord">landlord:</label>
            {{ widgets.combobox(name="landlord", items=combodict.landlords, item_selected=rent_.landlordname) }}
        </div>
        <div class="col-md-5">
            <label for="tenant">tenant name:</label>
            <input type="text" class="form-control" name="tenantname" value="{{ rent_.tenantname }}" readonly="true">
        </div>
    </div>
    <div class="form-group row align-items-end">
        <div class="col-md-10">
            <label for="propaddr">property address:</label>
            <textarea class="form-control" name="propaddr"  readonly="true">{{ rent_.propaddr }}</textarea>
        </div>
        <div class="col-md-2">
            <a href="{{ url_for('main_bp.properties', rentid=rent_.id) }}"
               class="btn btn-block btn-primary" role="button">view</a>
        </div>
    </div>
    <div class="form-group row">
    </div>
    <div class="form-group row">
        <div class="col-md-8">
            <label for="note">notes:</label>
            <input type="text" class="form-control" name="note" value="{{ rent_.note }}" readonly="true">
        </div>
        <div class="col-md-4">
            <label for="email">email:</label>
            <input type="text" class="form-control" name="email" value="{{ rent_.email }}" readonly="true">
        </div>
    </div>
    <div class="form-group row align-items-end">
        <div class="col-md-4">
            <label for="mailto">mail to:</label>
            {{ widgets.combobox(name="mailto", items=combodict.mailtos, item_selected=rent_.mailtodet) }}
        </div>
        <div class="col-md-6">
            <label for="agent">agent:</label>
            <input type="text" class="form-control" name="agent" value="{{ rent_.detail }}" readonly="true">
        </div>
        {% if rent_.agent_id %}
            <div class="col-md-2">
                <a href="{{ url_for('main_bp.agent', id=rent_.agent_id, rentid=rent_.id) }}"
                   class="btn btn-block btn-primary" role="button">view</a>
            </div>
        {% else %}
            <div class="col-md-2">
                <a href="{{ url_for('main_bp.agent', id=0, rentid=rent_.id) }}"
                   class="btn btn-block btn-primary" role="button">add agent</a>
            </div>
        {% endif %}
   </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label for="rentpa">rent pa:</label>
            <input type="text" class="form-control" name="rentpa" value="{{ rent_.rentpa }}" readonly="true">
        </div>
        <div class="col-md-2">
            <label for="arrears">rent arrears:</label>
            <input type="text" class="form-control" name="arrears" value="{{ rent_.arrears }}" readonly="true">
        </div>
        <div class="col-md-2">
            <label for="totcharges">total charges:</label>
            <input type="text" class="form-control" name="totcharges" value="{{ rent_.totcharges }}" readonly="true">
        </div>
        <div class="col-md-3">
            <label for="lastrentdate">last rent date:</label>
            <input type="date" class="form-control" name="lastrentdate"
                   value="{{ rent_.lastrentdate }}" readonly="true">
        </div>
        <div class="col-md-3">
            <label for="nextrentdate">next rent date:</label>
            <input type="date" class="form-control" name="nextrentdate"
                   value="{{ rent_.nextrentdate }}" readonly="true">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label for="frequency">frequency:</label>
            {{ widgets.combobox(name="frequency", items=combodict.freqs, item_selected=rent_.freqdet) }}
        </div>
        <div class="form-group col-md-2">
            <label for="actype">account type:</label>
            {{ widgets.combobox(name="actype", items=combodict.actypes, item_selected=rent_.actypedet) }}
        </div>
        <div class="col-md-2">
            <label for="advarr">advance or arrears:</label>
            {{ widgets.combobox(name="advarr", items=combodict.advars, item_selected=rent_.advarrdet) }}
        </div>
        <div class="form-group col-md-2">
            <label for="datecode">date code:</label>
            <input type="text" class="form-control" name="datecode" value="{{ rent_.datecode }}" readonly="true">
        </div>
        <div class="form-group col-md-2">
            <label for="prdelivery">pr delivery:</label>
            {{ widgets.combobox(name="prdelivery", items=combodict.prdeliveries, item_selected=rent_.pr) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label for="tenure">tenure:</label>
            {{ widgets.combobox(name="tenure", items=combodict.tenures, item_selected=rent_.tenuredet) }}
        </div>
        <div class="col-md-2">
            <label for="source">source:</label>
            <input type="text" class="form-control" name="source" value="{{ rent_.source }}" readonly="true">
        </div>
        <div class="col-md-2">
            <label for="deedtype">deed type:</label>
            {{ widgets.combobox(name="deedtype", items=combodict.deedcodes, item_selected=rent_.deedcode) }}
        </div>
        <div class="col-md-2">
            <label for="salegrade">sale grade:</label>
            {{ widgets.combobox(name="salegrade", items=combodict.salegrades, item_selected=rent_.salegradedet) }}
        </div>
        <div class="col-md-2">
            <label for="price">price:</label>
            <input type="text" class="form-control" name="price" value="{{ rent_.price }}" readonly="true">
        </div>
        <div class="col-md-2">
            <label for="status">status:</label>
            {{ widgets.combobox(name="status", items=combodict.statuses, item_selected=rent_.statusdet) }}
        </div>
    </div>
    <div class="form-group row flex-row-reverse">
        <div class="col-md-2">
            <button type="button" id="more_less" class="btn btn-block btn-danger">more</button>
        </div>
        <div class="col-md-2">
            <a href="{{ url_for('charge_bp.charges', rentid=rent_.id, rentcode=rent_.rentcode) }}"
               class="btn btn-block btn-primary" role="button">charges</a>
        </div>
        <div class="col-md-2">
            <a href="{{ url_for('income_bp.income', id=0, rentid=rent_.id) }}"
               class="btn btn-block btn-primary" role="button">income</a>
        </div>
        <div class="col-md-2">
            <a href="{{ url_for('mail_bp.mail_dialog', id=rent_.id) }}"
               class="btn btn-block btn-primary" role="button">mail</a>
        </div>
        <div class="col-md-2">
            <a href="{{ url_for('doc_bp.docfiles', rentid=rent_.id) }}"
               class="btn btn-block btn-primary" role="button">docfiles</a>
        </div>
        <div class="col-md-2">
            <button type="button" id="edit_view" class="btn btn-block btn-danger">edit</button>
        </div>
    </div>
    <div class="form-group row flex-row-reverse" id="save_delete">
        <div class="col-md-2">
            <button type="submit" class="btn btn-block btn-success">save changes</button>
        </div>
        <div class="col-md-2">
            <a href="{{ url_for('util_bp.delete_item', id=rent_.id, item='rent') }}"
               onclick="return confirm('Are you sure you want to delete this rent?');"
               class="btn btn-block btn-warning" role="button">delete item</a>
        </div>
		<div class="col-md-2">
            <input type="text" class="form-control" name="rentid" value = "{{ rent_.id }}">
        </div>
    </div>
    <div class="form-group row flex-row-reverse" id="more_buttons">
        <div class="col-md-2">
            <a href="{{ url_for('lease_bp.lease', id=rent_.id) }}"
               class="btn btn-block btn-primary" role="button">leaseinfo</a>
        </div>
        <div class="col-md-2">
            <a href="{{ url_for('doc_bp.docfiles', rentid=rent_.id) }}"
               class="btn btn-block btn-primary" role="button">docfiles</a>
        </div>
        <div class="col-md-2">
            <a href="{{ url_for('main_bp.properties', rentid=rent_.id) }}"
               class="btn btn-block btn-primary" role="button">something</a>
        </div>
        <div class="col-md-2">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" style="width:100%" type="button" id="statementsMenuButton"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">pay requests</button>
              <div class="dropdown-menu" aria-labelledby="statementsMenuButton">
                <a class="dropdown-item"
                   href="{{ url_for('rent_bp.rent_', id=rent_.id) }}">new statement for this rent</a>
                <a class="dropdown-item"
                   href="{{ url_for('rent_bp.rent_', id=rent_.id) }}">new account for this rent</a>
                <a class="dropdown-item"
                   href="{{ url_for('pr_bp.pr_dialog', rent_id=rent_.id) }}">new payrequest for this rent</a>
                <a class="dropdown-item"
                   href="{{ url_for('mail_bp.mail_dialog', id=rent_.id) }}">new s166 for this rent</a>
              </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" style="width:100%" type="button" id="otherMenuButton"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">other actions</button>
              <div class="dropdown-menu" aria-labelledby="otherMenuButton">
                <a class="dropdown-item" href="{{ url_for('lease_bp.lease', id=0, rentid=rent_.id,
                rentcode=rent_.rentcode) }}" >add lease for this rent</a>
              </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
