<!-- /templates/rent.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}

<div class="row">
    <div class="col-md-9">
        <div class="table-fixed table-rent" style="margin-bottom: 20px;">
            <table class="table table-head">
                <thead>
                <tr>
                    <td style="width: 25%">rent {{ rent.rentcode }}</td>
                    <td style="width: 25%"><span class="rounded-background light-green">{{ rent.tenuredet }}</span></td>
                    <td style="width: 25%"><span class="rounded-background light-purple">{{ rent.statusdet }} status</span></td>
                    <td style="width: 25%"><span class="rounded-background light-green">{{ rent.actypedet }} actype</span></td>
                </tr>
                </thead>
            </table>
            <table class="table table-body">
                <tbody>
                <tr>
                    <td class="td-title vertical-align copyable-text" style="width: 12.00%">property</td>
                    <td class="copyable-text vertical-align" style="width: 83.00%">{{ rent.propaddr }}</td>
                    <td class="vertical-align align-right" style="width: 5.00%"><a
                            href="{{ url_for('util_bp.properties', rent_id=rent.id) }}" data-toggle="tooltip"
                            title="edit the property"
                            class="btn btn-light btn-round button-icon round bolt" role="button"></a>
                </tr>
                </tbody>
            </table>
            <table class="table table-base table-body-alt">
                <tbody>
                <tr>
                    <td class="td-title copyable-text" style="width: 12.00%">landlord</td>
                    <td class="copyable-text" style="width: 88.00%">{{ rent.name }} of {{ rent.manageraddr }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-fixed" style="margin-bottom: 20px;">
            <table class="table table-head table-narrow table-light-purple">
                <thead>
                <tr>
                                        <td class="vertical-align" style="width: 94.5%">tenant and mail details</td>
                    <td class="vertical-align align-right" style="width: 5.50%">
                        <a href="#" id="edit_tenant" data-toggle="tooltip" title="edit tenant and mail details"
                          class="btn btn-light btn-round button-icon round bolt" role="button"></a>
                    </td>
                </tr>
                </thead>
            </table>
            <table class="table table-rent table-body">
                <tbody>
                <tr>
                    <td class="td-title copyable-text vertical-align" style="width: 12.00%">tenant</td>
                    <td class="copyable-text vertical-align" style="width: 82.5%">{{ rent.tenantname }}</td>
                </tr>
                </tbody>
            </table>
            <table class="table table-rent table-body-alt table-base">
                <tbody>
                    <tr>
                        <td class="td-title copyable-text vertical-align" style="width: 12.00%">emails to</td>
                        <td class="vertical-align copyable-text" style="width: 82.5%">{{ rent.email }}</td>
                    </td>
                    </tr>
                    <tr>
                        <td class="td-title copyable-text vertical-align" style="width: 12.00%">mailaddr</td>
                        <td class="copyable-text vertical-align" style="width: 82.50%">{{ rent.mailaddr }}</td>

                    </tr>
                    <tr>
                        <td class="td-title copyable-text vertical-align" style="width: 12.00%">notes</td>
                        <td class="copyable-text vertical-align" style="width: 82.5%">{{ rent.note }}</td>

                    </tr>
                </tbody>
            </table>
            <table class="table table-body table-base">
                <tbody>
                <tr>
                    <td class="td-title copyable-text vertical-align" style="width: 12.00%">agent</td>
                    {% if rent.agent_id %}
                    <td class="copyable-text vertical-align" style="width: 83.00%">{{ rent.detail }}</td>
                    <td class="vertical-align align-right" style="width: 5.00%"><a href="{{ url_for('util_bp.agent',
                            agent_id=rent.agent_id, rent_id=rent.id) }}"
                                                                                   class="btn btn-light btn-round button-icon round bolt"
                                                                                   role="button"></a>
                        {% else %}
                    <td class="copyable-text vertical-align" style="width: 83.00%">no agent</td>
                    <td class="vertical-align align-right" style="width: 5.00%"><a href="{{ url_for('util_bp.agent',
                            agent_id=0, rent_id=rent.id) }}"
                                                                                   class="btn btn-light btn-round button-icon round bolt"
                                                                                   role="button"></a>
                        {% endif %}
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-fixed table-rent" style="margin-bottom: 20px;">
            <table class="table rounded-corners">
                <tbody>
                <tr>
                    <td class="td-title copyable-text" style="width: 12.00%">rent</td>
                    <td class="copyable-text" style="width: 88.00%">{{ rentstats.rent_stat }}</td>
                </tr>
                <tr>
                    <td class="td-title copyable-text" style="width: 12.00%">owing</td>
                    <td class="copyable-text" style="width: 88.00%">{{ rentstats.rent_owing }}</td>
                </tr>
            </table>
            <table class="table table-body">
                <tbody>
                <tr>
                    <td class="td-title copyable-text" style="width: 12.00%">charges</td>
                    <td class="copyable-text" style="width: 83.00%">
                    {% if rentstats.charges_list != "no charges" %}
                        {% for item in rentstats.charges_list %}
                            {{ item }}
                            <br />
                        {% endfor %}
                    {% else %}
                        no charges
                    {% endif %}
                    </td>
                    <td class="vertical-align align-right" style="width: 5.00%"><a
                            href="{{ url_for('charge_bp.charges', rent_id=rent.id) }}" data-toggle="tooltip"
                            title="charges for this rent"
                            class="btn btn-light btn-round button-icon round bolt" role="button"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-fixed table-rent" style="margin-bottom: 20px;">
            <table class="table table-head">
                <thead>
                <tr>
                    <td style="width: 25%">{{ rentstats.price_stat }}</td>
                    <td style="width: 25%">source {{ rent.source }}</td>
                    <td style="width: 25%">deed {{ rent.deedcode }}</td>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-primary card-white">
            <div class="card-header">actions</div>
            <div class="card-body text-primary">
                <div class="form-group row">
                    <div class="col-md-12">
                        <a href="{{ url_for('lease_bp.lease', lease_id=0, rent_id=rent.id,
                            rentcode=rent.rentcode) }}"
                           class="btn btn-block btn-primary button-icon info" role="button">leaseinfo</a>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <a href="{{ url_for('income_bp.income', acc_id=0, rent_id=rent.id) }}"
                           class="btn btn-block btn-primary button-icon wallet" role="button">income</a>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="dropdown">
                            <button class="btn btn-warning dropdown-toggle button-icon invoice" style="width:100%"
                                    type="button" id="statementsMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">pay requests
                            </button>
                            <div class="dropdown-menu" aria-labelledby="statementsMenuButton">
                                <a class="dropdown-item"
                                   href="{{ url_for('pr_bp.pr_history', rent_id=rent.id) }}">view payrequest history</a>
                                <a class="dropdown-item"
                                   href="{{ url_for('rent_bp.rent', rent_id=rent.id) }}">new statement for this rent</a>
                                <a class="dropdown-item"
                                   href="{{ url_for('rent_bp.rent', rent_id=rent.id) }}">new account for this rent</a>
                                <a class="dropdown-item"
                                   href="{{ url_for('pr_bp.pr_dialog', rent_id=rent.id) }}">new payrequest for this
                                    rent</a>
                                <a class="dropdown-item"
                                   href="{{ url_for('mail_bp.mail_dialog', rent_id=rent.id) }}">new s166 for this
                                    rent</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-primary card-white" style="margin-top:20px;">
            <div class="card-header">mail</div>
            <div class="card-body text-primary">
                <div class="form-group row">
                    <div class="col-md-12">
                        <a href="{{ url_for('doc_bp.docfiles', rent_id=rent.id) }}"
                           class="btn btn-block btn-success button-icon mail-ic" role="button">docfiles</a>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <a href="{{ url_for('mail_bp.mail_dialog', rent_id=rent.id, action='rent') }}"
                           class="btn btn-block btn-success button-icon letter" role="button">send mail</a>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 20px;">
            <button type="button" id="open_edit_rent"
                    class="btn btn-block btn-secondary button-icon edit"
                    style="margin-bottom: 20px;">edit rent</button>
        </div>
    </div>
</div>

<!-- Modal  - edit tenant - can be templated / used as widgets-->
<div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="copy_modal_label"
     aria-hidden="true">
    <div class="modal-dialog mw-100 w-75" role="document">
        <div class="modal-content no-border ">
            <div class="modal-body no-padding">
                <form method="POST" id="rent">
                    <div class="card border-primary card-blue">
                        <div class="card-header">edit rent {{ rent.rentcode }}</div>
                        <div class="card-body text-primary">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="landlord">landlord:</label>
                                    {{ widgets.combobox(name="landlord", items=combodict.landlords, item_selected=rent.name) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label for="rentpa">rent pa:</label>
                                    <input type="text" class="form-control" name="rentpa" value="{{ rent.rentpa }}">
                                </div>
                                <div class="col-md-2">
                                    <label for="arrears">rent arrears:</label>
                                    <input type="text" class="form-control" name="arrears" value="{{ rent.arrears }}">
                                </div>
                                <div class="col-md-3">
                                    <label for="lastrentdate">last rent date:</label>
                                    <input type="date" class="form-control" name="lastrentdate"
                                           value="{{ rent.lastrentdate }}">
                                </div>
                                <div class="col-md-3">
                                    <label for="nextrentdate">next rent date:</label>
                                    <input type="date" class="form-control" name="nextrentdate"
                                           value="{{ rent.nextrentdate }}">
                                </div>
                            </div>
                            <div class="form-group row align-items-end">
                                <div class="col-md-2">
                                    <label for="frequency">frequency:</label>
                                    {{ widgets.combobox(name="frequency", items=combodict.freqs, item_selected=rent.freqdet) }}
                                </div>
                                <div class="col-md-2">
                                    <label for="actype">account type:</label>
                                    {{ widgets.combobox(name="actype", items=combodict.actypes, item_selected=rent.actypedet) }}
                                </div>
                                <div class="col-md-2">
                                    <label for="advarr">advance or arrears:</label>
                                    {{ widgets.combobox(name="advarr", items=combodict.advars, item_selected=rent.advarrdet) }}
                                </div>
                                <div class="col-md-2">
                                    <label for="datecode">date code:</label>
                                    <input type="text" class="form-control" name="datecode" value="{{ rent.datecode }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label for="tenure">tenure:</label>
                                    {{ widgets.combobox(name="tenure", items=combodict.tenures, item_selected=rent.tenuredet) }}
                                </div>
                                <div class="col-md-2">
                                    <label for="source">source:</label>
                                    <input type="text" class="form-control" name="source" value="{{ rent.source }}">
                                </div>
                                <div class="col-md-2">
                                    <label for="deedcode">deed code:</label>
                                    {{ widgets.combobox(name="deedcode", items=combodict.deedcodes, item_selected=rent.deedcode) }}
                                </div>
                                <div class="col-md-2">
                                    <label for="salegrade">sale grade:</label>
                                    {{ widgets.combobox(name="salegrade", items=combodict.salegrades, item_selected=rent.salegradedet)
                                    }}
                                </div>
                                <div class="col-md-2">
                                    <label for="price">price:</label>
                                    <input type="text" class="form-control" name="price" value="{{ rent.price }}">
                                </div>
                                <div class="col-md-2">
                                    <label for="status">status:</label>
                                    {{ widgets.combobox(name="status", items=combodict.statuses, item_selected=rent.statusdet) }}
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-block btn-success button-icon save">save changes</button>
                                </div>
                                <div class="col-md-2">
                                    <a href="{{ url_for('util_bp.delete_item', item_id=rent.id, item='rent') }}"
                                       onclick="return confirm('Are you sure you want to delete this rent?');"
                                       class="btn btn-block btn-danger button-icon trash" role="button">delete item</a>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" name="rent_id" value="id: {{ rent.id }}" readonly="true">
                                </div>
                                <div class="col-md-2">
                                    <button type="button"
                                    class="btn btn-block btn-secondary button-icon cross"
                                    style="margin-bottom: 20px;" data-dismiss="modal">close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal  - text copied - can be templated -->
<div class="modal fade modal-no-backdrop" id="copy_modal" tabindex="-1" role="dialog" aria-labelledby="copy_modal_label"
     aria-hidden="true">
    <div class="modal-dialog modal-small" role="document">
        <div class="modal-content">
            <div class="modal-body">
                text copied!
            </div>
        </div>
    </div>
</div>

<!-- Modal  - edit tenant - can be templated / used as widgets-->
<div class="modal fade" id="tenant_modal" tabindex="-1" role="dialog" aria-labelledby="copy_modal_label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form method="POST" id="rent_tenant">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="tenantname">edit tenant name</label>
                            <input type="text" class="form-control" name="tenantname" value="{{ rent.tenantname }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="mailto">mail to:</label>
                            {{ widgets.combobox(name="mailto", items=combodict.mailtos, item_selected=rent.mailtodet) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="email">edit email addresses - separate with semicolon</label>
                            <input type="text" class="form-control" name="email" value="{{ rent.email }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                                    <label for="prdelivery">pr delivery:</label>
                                    {{ widgets.combobox(name="prdelivery", items=combodict.prdeliveries,
                                    item_selected=rent.prdeliverydet) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="note">edit notes</label>
                            <input type="text" class="form-control" name="note" value="{{ rent.note }}">
                        </div>
                    </div>
                    <div class="form-group row flex-row-reverse align-items-end" style="margin-top: 20px;">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">close</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" formaction="{{ url_for('rent_bp.tenant', rent_id=rent.id) }}"
                                    class="btn btn-block btn-success button-icon save">save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascript %}
<script type="text/javascript">
    {% include "rent.js" %}
</script>
{% endblock %}