<!-- /templates/rentals.html  -->
{% extends 'base.html' %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row">
        <div class="col-md-3">
            <a href="/rental/0?action=new" class="btn btn-block btn-primary" role="button">Add rental</a>
        </div>
    </div>
</form>
<div class="container">
    <div class="row voffset2">
        <div class="col-lg-12">
            <h4 class="text-center">All rentals:</h4>
        </div>
    </div>
</div>
<div class="table-fixed">
    <table class="table" id="rentals">
        <thead>
        <tr>
            <th style="width: 10.00%">id</th>
            <th style="width: 10.00%">Code</th>
            <th style="width: 30.00%">Address</th>
            <th style="width: 30.00%">Name</th>
            <th style="width: 10.00%">Annual rent</th>
            <th style="width: 10.00%">Spare</th>
        </tr>
        </thead>
        <tbody>
        {% for item in rentals %}
        <tr id="{{ item.id }}">
            <td style="width: 10.00%">{{ item.id }}</td>
            <td style="width: 10.00%">{{ item.rentalcode }}</td>
            <td style="width: 30.00%"> {{ item.propaddr }}</td>
            <td style="width: 30.00%"> {{ item.tenantname }}</td>
            <td style="width: 10.00%"> {{ item.rentpa }}</td>
            <td style="width: 10.00%"><a href="/rentalpage/{{ item.id }}?action=view">View</a></td>
        </tr>
        {% endfor %}
        <tr>
        </tr>
        <tr>
            <td style="width: 10.00%"></td>
            <td style="width: 10.00%"></td>
            <td style="width: 30.00%">Total for all rents</td>
            <td style="width: 30.00%"></td>
            <td style="width: 10.00%"> {{ rentsum }}</td>
            <td style="width: 10.00%"></td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
