<!-- /templates/rentals.html  -->
{% extends 'base.html' %}

{% block app_content %}
<div class="container">
    <div class="row voffset2">
        <div class="col-lg-12">
            <h4 class="text-center">All rentals:</h4>
        </div>
    </div>
</div>
<div class="table-fixed">
    <table class="table" id="rentals">
        <thead>
        <tr>
            <th style="width: 6.00%">id</th>
            <th style="width: 8.00%">Code</th>
            <th style="width: 22.00%">Address</th>
            <th style="width: 18.00%">Name</th>
            <th style="width: 10.00%">Annual rent</th>
            <th style="width: 10.00%">AST date</th>
            <th style="width: 16.00%">Gas safe</th>
            <th style="width: 10.00%">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for item in rentals %}
        <tr id="{{ item.id }}">
            <td style="width: 6.00%">{{ item.id }}</td>
            <td style="width: 8.00%">{{ item.rentalcode }}</td>
            <td style="width: 22.00%"> {{ item.propaddr }}</td>
            <td style="width: 18.00%"> {{ item.tenantname }}</td>
            <td style="width: 10.00%"> {{ item.rentpa }}</td>
            <td style="width: 10.00%"> {{ item.astdate.strftime('%d-%b-%Y') if item.astdate else 'no AST' }}</td>
            <td style="width: 16.00%"> {{ item.lastgastest.strftime('%d-%b-%Y') }}</td>
            <td style="width: 10.00%"><a href="/rentalpage/{{ item.id }}?action=view">View</a></td>
        </tr>
        {% endfor %}
        <tr>
        </tr>
        <tr>
            <td style="width: 6.00%"></td>
            <td style="width: 8.00%"></td>
            <td style="width: 22.00%">Total for all rents</td>
            <td style="width: 18.00%"></td>
            <td style="width: 10.00%"> {{ rentsum }}</td>
            <td style="width: 10.00%"></td>
            <td style="width: 16.00%"></td>
            <td style="width: 10.00%"></td>
        </tr>
        </tbody>
    </table>
</div>
<form method="POST" id="target">
    <div class="form-group row">
        <div class="col-md-3">
            <a href="/rentalpage/0?action=new" class="btn btn-block btn-primary" role="button">Add new rental</a>
        </div>
    </div>
</form>

{% endblock %}
