<!-- /templates/restore_database.html  -->
{% extends 'base.html' %}

{% import 'widgets.html' as widgets %}

{% block app_content %}

    <div class="form-group row flex-row-reverse">
        <div class="col-md-3" style="margin-bottom: 20px;">
            <a href="{{ url_for('util_bp.utilities') }}"
               class="btn btn-block btn-tog button-icon arrow-left" role="button">back to utilities</a>
        </div>
    </div>
   <div class="form-group row">
       <div class="col-md-12">
        {% if backup_files %}
        <form method="POST" id="target">
            <div class="table-fixed">
                <table class="table table-head" id="restore_files">
                    <thead>
                    <tr>
                        <th style="width: 25.00%">name</th>
                        <th style="width: 20.00%">size</th>
                        <th style="width: 25.00%">datetime</th>
                        <th style="width: 15.00%">download to pc</th>
                        <th style="width: 15.00%">restore database</th>
                    </tr>
                    </thead>
                </table>
                <div style="max-height: 450px; overflow: auto; margin-bottom: 20px;">
                    <table class="table table-base">
                        <tbody>
                        {% for backup_file in backup_files %}
                        <tr style="width: 100%;">
                            <td style="width: 25.00%">{{ backup_file.name }}</td>
                            <td style="width: 20.00%">{{ "{:,}".format(backup_file.size) }}</td>
                            <td style="width: 25.00%">{{ backup_file.datetime }}</td>
                            <td style="width: 15.00%"><a
                                    href="{{ url_for('backup_bp.sqldumps', filename=backup_file.name) }}"
                                    class="btn btn-small btn-info button-icon download" role="button">download</a></td>
                            <td style="width: 15.00%">
                                <button type="submit" class="btn btn-danger btn-small button-icon arrow-right"
                                onclick="javascript:return on_restore_database_clicked();" name="select_file"
                                           value="{{ backup_file.name }}">go
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <textarea id="restore_database_output" class="form-control form-control-sm boxed" rows="8"
                              readonly="readonly"
                              style="white-space:pre-wrap; font-family:monospace; display: none;"
                    >{{ restore_database_output }}</textarea>
                </div>
            </div>
        </form>
        {% endif %}
       </div>
    </div>


{% if not backup_files %}
        <div class="boxed-center boxed-blue">
            You have no previous backups
        </div>
{% endif %}
<script type="text/javascript">
    <!-- Scroll to bottom of restore output -->
    var textarea = document.getElementById('restore_database_output');
    textarea.scrollTop = textarea.scrollHeight;
    if (textarea.value) {
        textarea.style.display = 'block';
    }
    function on_restore_database_clicked()
    {
        var oForm = document.forms["target"];
        if (!window.confirm("This will overwrite your current database with the database you have selected. Are you sure you want to proceed?"))
            return false;   // prevent the submit from proceeding
        var textarea = document.getElementById('restore_database_output');
        textarea.style.display = 'block';
        textarea.value = 'Starting restore...';
        return true;    // allow the submit to proceed
    }
</script>
{% endblock %}

{% block message_on_load %}
    {% if message %}
        {{ widgets.modal_message_on_load(message=message) }}
    {% endif %}
{% endblock %}
