		<link rel="stylesheet" href="bootstrap-datepicker.css">

	<!-- Bootstrap CSS -->
	<!-- <link href="..\static\style.css" rel="stylesheet" type="text/css"> -->
	<!-- <link rel="stylesheet" href="..\static\bootstrap.min.css"> -->

			<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script> -->
			<!-- <script src="..\static\hez.js"></script> -->
			<!-- <script src="..\static\jquery.min.js"></script> -->
			<!-- <script src="..\static\bootsrap.min.js"></script> -->
			<!-- <script src="..\static\moment.min.js"></script> -->
		
		
from app import db
from app.models import Fitness, Fitstory, Typefit, User, user_fit

items = Fitness.query.with_entities(Fitness.id, Fitness.date, Fitness.users, Fitness.summary).filter(Fitness.id==401).all()

items = Fitness.query.join(user_fit).join(User).with_entities(Fitness.id, Fitness.date, User.username, Fitness.summary).filter(Fitness.id==401).first()


h = Fitness.query.get(401)
u = h.users

u
[<User Dee>, <User Hez>]

print u[0]
<User Dee>  

w = u[0]

print (w)
Dee


u.split('.')

for x in attribute.split('.'): output = ', '.join([getattr(elem, x) 

for elem in output])
	value = getattr(Fitness, users)


Fitness.query.with_entities(Fitness.users.any).filter(Fitness.id==500)).all()


Richard Hesmondhalgh

Hesmondhalgh & Maloney

Hawthorn Dene, School Lane, West Hill, Ottery St. Mary, Devon EX11 1UP
Tel: 01404 815918



Hesmaloney Limited


Tel: 01404 815918 email: hesmaloney@gmail.com 


If you prefer a more local solicitor, then Chris Rennison has acted for the leaseholder in half a dozen recent cases and clearly knows what he is doing.  I have no idea what he charges, but you are welcome to contact him directly.  

 

Chris Rennison, Solicitor, DAVIES BLUNDEN AND EVANS, 43-45 Victoria Road  Farnborough GU14 7PD

Tel: (01252) 541633 Fax: (01252) 545015

email Chris.Rennison@dbande.co.uk

Anne Albritton FCILEx
Legal Executive
Coles Miller Solicitors LLP
aalbritton@coles-miller.co.uk 
Coles Miller Solicitors LLP, 4 Durley Chine Road, Bournemouth, Dorset, BH2 5QT
 