<!-- /templates/utilities.html  -->
{% extends 'base.html' %}

{% block app_content %}
<form method="POST" id="target">
    <div class="form-group row">
        <div class="col-md-2">
            <a href="/charges" class="btn btn-block btn-primary" role="button">Charges</a>
        </div>
        <div class="col-md-2">
            <a href="/landlords" class="btn btn-block btn-primary" role="button">Landlords</a>
        </div>
        <div class="col-md-2">
            <a href="/email_accounts" class="btn btn-block btn-primary" role="button">Email accounts</a>
        </div>
        <div class="col-md-2">
            <a href="/external_rents" class="btn btn-block btn-primary" role="button">External rents</a>
        </div>
        <div class="col-md-2">
            <a href="/money_accounts" class="btn btn-block btn-primary" role="button">Bank accounts</a>
        </div>
    </div>
</form>
{% endblock %}
