<!-- widgets.html -- common macro definitions to be used by other templates -->

<!-- combobox(): implement a single choice select via <select> element -->
{% macro combobox(name, items, items0=None, item_selected=None, id="") -%}
<select class="form-control" name="{{ name }}" id="{{ id }}">
    {% if items0 %}
    <!-- Optionally an extra item can be passed in as `items0` -->
    <!-- This convenince allows callers to insert some "all ..." at the start of the list for a filter choice -->
    {% set selected = 'selected' if items0 in items_selected else '' %}
    <option value="{{items0}}" {{selected}}>{{items0}}</option>
    {% endif %}
    {% for item in items %}
    {% set selected = 'selected' if item == item_selected else '' %}
    <option value="{{item}}" {{selected}}>{{item}}</option>
    {% endfor %}
</select>
{%- endmacro %}


<!-- combobox(): implement a single choice select via <select> element, returns an int based on selection - good for
 use with modeltype tables which begin from id = 1. 0 is returned from the head optional item -->
{% macro combobox_index(name, items, items0=None, item_selected=None) -%}
<select class="form-control" name="{{ name }}">
    {% if items0 %}
    <!-- Optionally an extra item can be passed in as `items0` -->
    <!-- This convenince allows callers to insert some "all ..." at the start of the list for a filter choice -->
    {% set selected = 'selected' if items0 in items_selected else '' %}
    <option value="0" {{selected}}>{{items0}}</option>
    {% endif %}
    {% for item in items %}
    {% set selected = 'selected' if item == item_selected else '' %}
    <option value="{{ loop.index }}" {{selected}}>{{item}}</option>
    {% endfor %}
</select>
{%- endmacro %}


<!-- combobox_id(): implement a single choice select via <select> element passing id (for js getElementbyID)-->
{% macro combobox_id(idc, name, items, item_selected=None) -%}
<select class="form-control" id="{{ idc }}" name="{{ name }}">
    {% for item in items %}
    {% set selected = 'selected' if item == item_selected else '' %}
    <option value="{{item}}" {{selected}}>{{item}}</option>
    {% endfor %}
</select>
{%- endmacro %}


<!-- macro action modal - produces a modal with a message, optional title and optional
two buttons ('cancel' and an action button which submits a form)
if we do not define a button, the default close button appears-->
{% macro modal_form_action(id, body="", body_as_list=[], btn_class="", btn_id="", btn_text="", btn_url="", title="") -%}
<div class="modal fade" id="{{ id }}" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {% if title -%}
            <div class="modal-header">
                <h5 class="modal-title">{{ title }}</h5>
            </div>
            {%- endif %}
            <div class="modal-body">
                {% if body %}
                {{ body }}
                <br>
                <br>
                {% endif %}
                {% if body_as_list %}
                {% for message in body_as_list %}
                {% if loop.index == 1 %}
                {{ message }}
                {% else %}
                <br>
                <br>
                {{ message }}
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
            <div class="modal-footer">
                {% if btn_class and btn_text and btn_url -%}
                <div class="container">
                    <div class="row align-items-end">
                        <div class="col">
                            <button type="submit" id="{{ btn_id }}" class="{{ btn_class }}"
                                    formaction="{{ btn_url }}">{{ btn_text }}
                            </button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-block btn-secondary button-icon cross"
                                    data-dismiss="modal">cancel
                            </button>
                        </div>
                    </div>
                </div>
                {% else -%}
                <div class="container">
                    <div class="row flex-row-reverse">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-block btn-secondary button-icon cross"
                                    data-dismiss="modal">close
                            </button>
                        </div>
                    </div>
                </div>
                {%- endif %}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}


<!-- macro error message on page load with option to email error to mjinn/Lulu international support -->
{% macro modal_error_message_on_load(message="", messages=[]) -%}
{% if message %}
{{ modal_form_action(body=message, id="modal_error_message_on_load", btn_class="btn btn-block btn-success button-icon arrow-right",
btn_text="email error", btn_url="#", title='Error') }}
{% elif messages %}
{{ modal_form_action(body_as_list=messages, id="modal_error_message_on_load", btn_class="btn btn-block btn-success button-icon arrow-right",
btn_text="email error", btn_url="#", title='Error') }}
{% endif %}
{{ modal_on_load_js(modal_id="modal_error_message_on_load") }}
{%- endmacro %}


<!-- macro message on page load - useful if we want to give feedback to a user after a process has
completed and a page has loaded-->
{% macro modal_message_on_load(message="", messages=[], title="") -%}
{% if message %}
{{ modal_form_action(body=message, id="modal_message_on_load", title=title) }}
{% elif messages %}
{{ modal_form_action(body_as_list=messages, id="modal_message_on_load", title=title) }}
{% endif %}
{{ modal_on_load_js(modal_id="modal_message_on_load") }}
{%- endmacro %}


<!-- macro js to load a modal at page start-->
{% macro modal_on_load_js(modal_id) -%}
<script type="text/javascript">
    $(document).ready(function(){
    $("#{{ modal_id }}").modal('show');
});
</script>
{%- endmacro %}


<!-- multiselect_as_select(): implement a multiple choice select via <select> element -->
{% macro multiselect_as_select(name, items, items0=None, items_selected=None, id="") -%}
<select multiple class="form-control" name="{{ name }}" id="{{ id }}">
    {% if items0 %}
    <!-- Optionally an extra item can be passed in as `items0` -->
    <!-- This convenince allows callers to insert some "all ..." at the start of the list for a filter choice -->
    {% set selected = 'selected' if items0 in items_selected else '' %}
    <option value="{{items0}}" {{selected}}>{{items0}}</option>
    {% endif %}
    {% for item in items %}
    {% set selected = 'selected' if item in items_selected else '' %}
    <option value="{{item}}" {{selected}}>{{item}}</option>
    {% endfor %}
</select>
{%- endmacro %}


<!-- multiselect_as_checkboxes(): implement a multiple choice select via <input type="checkbox"> elements -->
{% macro multiselect_as_checkboxes(name, items, items_selected=None) -%}
<div class="form-control" style="height: auto;">
    {% for item in items %}
    {% set selected = 'checked' if item in items_selected else '' %}
    <div class="checkbox">
        <label><input type="checkbox" name="{{ name }}" value="{{ item }}" {{selected}}>{{ item }}</label>
    </div>
    {% endfor %}
</div>
{%- endmacro %}


<!-- multiselect(): implement a multiple choice select via preferred method -->
{% macro multiselect(name, items, items_selected=None) -%}
<!-- comment/uncomment whichever preferred -->
<!--{{ multiselect_as_select(name, items, items_selected) }}-->
{{ multiselect_as_checkboxes(name, items, items_selected) }}
{%- endmacro %}


<!-- adds a box with a message and an optional button - ie. Used to show no results from a search -->
{% macro message_box(message, btn_text="", btn_class="", btn_url="" ) -%}
<div class="boxed boxed-center boxed-blue">
    <div class="row">
        <div class="col-md-9">
            <div class="vertical-center-parent">
                <span class="vertical-center-child">{{ message }}</span>
            </div>
        </div>
        {% if btn_url %}
        <div class="col-md-3">
            <a href="{{ btn_url }}"
               class="{{ btn_class }}"
               role="button">{{ btn_text }}</a>
        </div>
        {% endif %}
    </div>
</div>
{%- endmacro %}


<!-- add a line break to the html where the text contains \n -->
{% macro linebreaks_for_string( the_string ) -%}
{% if the_string %}
{% for line in the_string.split('\n') %}
<br/>
{{ line }}
{% endfor %}
{% else %}
{{ the_string }}
{% endif %}
{%- endmacro %}
