<!-- widgets.html -- common macro definitions to be used by other templates -->

<!-- combobox(): implement a single choice select via <select> element -->
{% macro combobox(name, items, item_selected=None) -%}
<select class="form-control" name="{{ name }}">
    {% for item in items %}
    {% set selected = 'selected' if item == item_selected else '' %}
    <option value="{{item}}" {{selected}}>{{item}}</option>
    {% endfor %}
</select>
{%- endmacro %}

<!-- combobox_id(): implement a single choice select via <select> element passing id (for js getElementbyID)-->
{% macro combobox_id(idc, name, items, item_selected=None) -%}
<select class="form-control" id="{{ idc }}" name="{{ name }}">
    {% for item in items %}
    {% set selected = 'selected' if item == item_selected else '' %}
    <option value="{{item}}" {{selected}}>{{item}}</option>
    {% endfor %}
</select>
{%- endmacro %}


<!-- macro action modal - produces a modal with a message and two buttons ('close' and an action button which we can define)-->
{% macro modal_action(body, btn_class, btn_text, btn_url, id, title) -%}
    <div class="modal fade" id="{{ id }}" tabindex="-1" aria-hidden="true" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ title }}</h5>
                </div>
                <div class="modal-body">
                    {{ body }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                    <button type="submit" class="{{ btn_class }}"
                            formaction="{{ btn_url }}">{{ btn_text }}</button>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

<!-- macro message modal - a basic modal with a message and close button-->
{% macro modal_message(id, message) -%}
<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">message</h5>
            </div>
            <div class="modal-body">
                {{ message }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}


<!-- macro message on page load - useful if we want to give feedback to a user after a process has completed and a page has loaded-->
{% macro modal_message_on_load(message) -%}
{{ modal_message(id="modal_message_on_load", message=message) }}
<script type="text/javascript">
    $(document).ready(function(){
    $("#modal_message_on_load").modal('show');
});
</script>
{%- endmacro %}


<!-- multiselect_as_select(): implement a multiple choice select via <select> element -->
{% macro multiselect_as_select(name, items, items_selected=None) -%}
<select multiple class="form-control" name="{{ name }}">
    {% for item in items %}
    {% set selected = 'selected' if item in items_selected else '' %}
    <option value="{{item}}" {{selected}}>{{item}}</option>
    {% endfor %}
</select>
{%- endmacro %}

<!-- multiselect_as_checkboxes(): implement a multiple choice select via <input type="checkbox"> elements -->
{% macro multiselect_as_checkboxes(name, items, items_selected=None) -%}
<div class="form-control" style="height: auto;">
    {% for item in items %}
    {% set selected = 'checked' if item in items_selected else '' %}
    <div class="checkbox">
        <label><input type="checkbox" name="{{ name }}" value="{{ item }}" {{selected}}>{{ item }}</label>
    </div>
    {% endfor %}
</div>
{%- endmacro %}

<!-- multiselect(): implement a multiple choice select via preferred method -->
{% macro multiselect(name, items, items_selected=None) -%}
<!-- comment/uncomment whichever preferred -->
<!--{{ multiselect_as_select(name, items, items_selected) }}-->
{{ multiselect_as_checkboxes(name, items, items_selected) }}
{%- endmacro %}

<!-- add a line break to the html where the text contains \n -->
{% macro linebreaks_for_string( the_string ) -%}
{% if the_string %}
{% for line in the_string.split('\n') %}
<br />
{{ line }}
{% endfor %}
{% else %}
{{ the_string }}
{% endif %}
{%- endmacro %}